/*** Modal Popup ****/

.modal-inner-content {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 18px;
}

.modal-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 20px 0;
  color: rgb(33, 33, 33);
  text-transform: uppercase;
}

.modal-offer-block {
  margin: 0 0 16px;
  padding: 0 0 16px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.modal-offers-list {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  margin: 0 0 16px;
  color: rgb(33, 33, 33);
}

.modal-offers-tnc {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 13px;
  line-height: 26px;
  color: rgb(33, 33, 33);
}

.modal-offer-link {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgb(218, 28, 92);
  text-decoration: none;
}

.modal-offer-valid-details {
  margin: 0 0 16px;
}

.modal-valid-from {
  margin: 0 0 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.modal-valid-from-txt {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 100px;
  display: inline-block;
}

.modal-valid-till {
  margin: 0 0 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.modal-valid-till-txt {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100px;
  display: inline-block;
}
/*** Modal Popup End****/
