/***PDP Pricing****/
.price-component {
  margin:0;
}

.discounted-price-block {
  display: inline-block;
  color: rgb(74, 74, 74);
  font-size: 22px;
  line-height: 24px;
}

.discounted-price {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin: 0 10px 0 0;
}

.mrp {
  display: inline-block;
}

.slash-price {
  text-decoration: line-through;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(151, 151, 151);
  padding: 0 5px 0 0;
}

.discount-percentage {
  color: rgb(51, 135, 21);
  text-transform: uppercase;
}
/***PDP Pricing End****/
