/*** Size Component ****/
.size-component {
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
  border-top: 1px solid rgb(230, 230, 230);
}

.size-block {
  padding: 20px 0 0;
}

.size-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: rgb(33, 33, 33);
  text-transform: uppercase;
}

.size-select-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -15px;
}

.size-select {
  position: relative;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 4px;
  width: 103px;
  height: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(74, 74, 74);
  margin: 12px 15px 0 0;
  cursor: pointer;
}

.size-outer {
  border: 1px solid transparent;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 101px;
  height: 38px;
  padding: 0 5px 0 1px;
  line-height: 38px;
}

.selected,
.size-outer:hover {
  border: 1px solid rgb(33, 33, 33);
}

.size-not-avail {
  opacity: 0.3;
  cursor: not-allowed;
}

.size-not-avail .size-outer:hover {
  border: 1px solid transparent;
}

.size-not-avail:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(33, 33, 33);
  position: absolute;
  top: 19px;
  left: 0;
  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
}

.size-icon {
  width: 36px;
  height: 36px;
  background: transparent center center/100% auto no-repeat;
}
/*** Size Component End ****/

/*** Shade Component Start ****/
.shade-component {
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
  border-top: 1px solid rgb(230, 230, 230);
}

.shade-block {
  padding: 20px 0 0;
  position: relative;
}

.shade-heading {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: rgb(33, 33, 33);
}

.shade-shade-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -15px;
}
.shade-block-view-more {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: rgb(218, 28, 92);
  position: absolute;
  top: 20px;
  right: 0;
  text-decoration: none;
}
.shade-collapse-block {
  position: relative;
  max-height: 130px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 17px 0 0 0;
}
.shade-subheading {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: rgb(33, 33, 33);
  display: inline-block;
}
.shade-list-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -15px 0 -3px;
}
.shade-list {
  padding: 0;
  margin: 5px 14px 12px 0;
  width: 58px;
  position: relative;
  cursor: pointer;
}
.shade-list-img {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 9px;
  margin: 1px;
}
.shade-list-img-block {
  padding: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  display: inline-block;
  margin: 0;
  float: left;
}
.shade-list-img-block:hover {
  padding: 0;
  border-radius: 10px;
  border: 2px solid rgb(33, 33, 33, 0.6);
}
.shade-list-img-block.active {
  border: 2px solid rgb(33, 33, 33, 0.6);
}
.shade-stock-left {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
  color: rgb(216, 62, 9);
  text-align: center;
}

/*** Shade Component End ****/
