.baseScroll {
  max-width: 281px;
  width: 25%;
  position: absolute;
  height: auto;
  min-height: 100vh;
  left: initial;
  top: 0px;
  bottom: 0;
  text-align: left;
}
.baseFixed {
  max-width: 281px;
  width: 25%;
  position: fixed;
  height: auto;
  min-height: 100vh;
  left: initial;
  bottom: 0px;
  text-align: left;
}
.pageHeader {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.filterScroll {
  composes: baseScroll;
  transform: translateX(0);
}
.filterFixed {
  composes: baseFixed;
  transform: translateX(0);
}
.search {
  width: 100%;
  margin: 10px 0;
}
.filterDetails {
  padding: 10px 0px;
  border-radius: 4px;
}
.filtersOptions {
  padding: 0px 20px 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}
.filtersOptionsList {
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}
.subFilterDetails {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 20px;
}
.filterHeader {
  font-size: 14px;
  font-family: semibold;
  color: #212121;
  padding: 5px 0px;
}
.facetData {
  padding-top: 10px;
  border-bottom: 1px solid #ececec;
}
.facetdatacategoryHeader {
  padding-bottom: 10px;
}
.facetDataHeader {
  padding-bottom: 10px;
}
.filtersSubTab {
  max-height: 350px;
  overflow-y: scroll;
}
.moreText {
  width: auto;
  height: auto;
  font-size: 14px;
  font-family: regular;
  color: #ff1744;
  margin-bottom: 20px;
}
