.baseScroll {
  width: 30%;
  position: absolute;
  height: auto;
  min-height: 100vh;
  left: 0;
  top: 0px;
  bottom: 0;
  text-align: left;
}
.baseFixed {
  width: 30%;
  position: fixed;
  height: auto;
  min-height: 100vh;
  left: 0;
  bottom: 0px;
  text-align: left;
}
.pageHeader {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.filterScroll {
  composes: baseScroll;
  transform: translateX(0);
}
.filterFixed {
  composes: baseFixed;
  transform: translateX(0);
}
.search {
  width: 100%;
  margin: 10px 0;
}
.filterDetails {
  padding: 10px;
  border-radius: 4px;
}
.filtersOptions {
  padding: 0px 20px 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}
.filterHeader {
  font-size: 14px;
  font-family: semibold;
  color: #212121;
}
.facetData {
  padding-top: 10px;
  border-bottom: 1px solid #ececec;
}
.facetdatacategoryHeader {
  padding-bottom: 10px;
}
.facetDataHeader {
  padding-bottom: 10px;
}
.fixed {
  position: fixed;
}
