.base {
  width: 354px;
  position: absolute;
  height: auto;
  min-height: 100vh;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
}
.pageHeader {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.filterOpen {
  composes: base;
  transform: translateX(0);
}
.search {
  width: 100%;
  margin: 10px 0;
}
.filterDetails {
  padding: 10px;
  border-radius: 4px;
}
.filtersOptions {
  padding: 0px 20px 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}
.filterHeader {
  font-size: 14px;
  font-family: semibold;
  color: #212121;
}
.facetData {
  padding-top: 10px;
  border-bottom: 1px solid #ececec;
}
.facetdatacategoryHeader {
  padding-bottom: 10px;
}
.facetDataHeader {
  padding-bottom: 10px;
}
