.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 15px 0 60px 0;
  background: #ececec;
}
.pageHeader {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}
.main {
  width: 100%;
  height: auto;
}
.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.icon {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 0px;
}
@media only screen and (min-width: 1024px) {
  .base {
    display: inline-block;
    text-align: center;
    padding: 30px 0 60px 0;
  }
  .dummyHolder {
    width: 100%;
    height: 80vh;
    display: inline-block;
  }
  .headerText {
    width: 100%;
    display: inline-block;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-family: regular;
  }
  .totalProduct {
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 10px;
  }
  .headerSortWithFilter {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 7px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
  }
  .sort {
    width: 15%;
    right: 35px;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }
  .gridIcon {
    width: 5%;
    display: inline-block;
    height: 45px;
    vertical-align: top;
    position: relative;
  }
  .selectedFilter {
    width: 68%;
    height: 45px;
    left: 0px;
    display: inline-block;
  }
  .selectedFilterElectronicView {
    width: 74%;
    height: 45px;
    left: 0px;
    display: inline-block;
  }

  .selectedFilterWithIcon {
    width: auto;
    height: auto;
    display: inline-block;
    line-height: 30px;
    border-radius: 100px;
    color: #8d8d8d;
    font-size: 14px;
    padding: 0px 30px 0px 10px;
    background-color: #f9f9f9;
    font-family: light;
    position: relative;
    margin: 5px;
    cursor: pointer;
  }

  .cancelIcon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .viewMoreButtonHolder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .viewMoreButton {
    width: auto;
    height: 36px;
    display: flex;
    cursor: pointer;
  }
  .plpHeading {
    width: 100%;
    height: auto;
    color: #212121;
    font-size: 20px;
    font-family: semibold;
    margin-bottom: 20px;
  }
  .headerTextWithTotalProducts {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
  .camelCase {
    text-transform: capitalize;
  }
  .headerHeading {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    color: #000000;
    font-size: 30px;
    font-family: semibold;
  }
  .headerHeading:first-letter {
    text-transform: capitalize;
  }
  .totalProducts {
    width: 100%;
    height: auto;
    color: #000000;
    font-size: 14px;
    font-family: light;
  }
  .icon {
    width: 40px;
    height: 25px;
    position: absolute;
    top: 0;
    cursor: pointer;
    bottom: 0;
    margin: auto;
  }
}
.productWithFilterDesktop {
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: inline-block;
}
.productGridDesktop {
  width: 75%;
  display: inline-block;
  text-align: left;
}
.filterDesktopWrapper {
  width: 25%;
  display: inline-block;
}

.switch-view {
    width: 12%;
    display: inline-block;
    height: 45px;
    vertical-align: middle;
    position: relative;
}
.switch-title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(33, 33, 33);
  display: inline-block;
  line-height: 40px;
}
.switch-item {
  margin: 0;
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  top: 18px;
  left: 10px;
}
.switch-light {
  display: none;
}
.switch-light + .switch-btn {
  outline: 0;
  display: block;
  width: 34px;
  height: 14px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.switch-light + .switch-btn:after, .switch-light + .switch-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid rgb(151,151,151);
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.6);
  top: -5px;
}
.switch-light + .switch-btn:after {
  left: 0;
}
.switch-light + .switch-btn:before {
  display: none;
}
.switch-light:checked + .switch-btn:after {
  left: 40%;
  border: 2px solid rgb(51,135,21);
  box-shadow: 0 0 3px rgb(51,135,21, 0.6);
}
.switch-light + .switch-btn {
  background: rgb(213,213,213);
  border-radius: 10px;
  padding: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;

}
.switch-light + .switch-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.switch-light:checked + .switch-btn {
  background: rgb(51,135,21);
}