.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 15px 0 60px 0;
  background: #ececec;
}
.pageHeader {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}
.main {
  width: 100%;
  height: auto;
}
.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  .base {
    display: inline-block;
    text-align: left;
  }
  .productWithFilter {
    padding-left: 345px;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  .headerText {
    width: 100%;
    display: inline-block;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-family: regular;
  }
  .totalProduct {
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 10px;
  }
}
