.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 15px 0 60px 0;
  background: #ececec;
}
.pageHeader {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}
.main {
  width: 100%;
  height: auto;
}
.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  .base {
    display: inline-block;
    text-align: center;
    padding: 50px 0 60px 0;
  }
  .dummyHolder {
    width: 100%;
    height: 80vh;
    display: inline-block;
  }
  .headerText {
    width: 100%;
    display: inline-block;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-family: regular;
  }
  .totalProduct {
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 10px;
  }
  .headerSortWithFilter {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 7px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
  }
  .sort {
    width: 25%;
    right: 35px;
    height: auto;
    display: inline-block;
    position: absolute;
  }
  .gridIcon {
    width: 3%;
    display: inline-block;
  }
  .selectedFilter {
    width: 70%;
    height: 45px;
    left: 0px;
    display: inline-block;
  }
  .selectedFilterWithIcon {
    width: auto;
    height: auto;
    display: inline-block;
    line-height: 30px;
    border-radius: 100px;
    color: #000;
    font-size: 14px;
    padding: 0px 30px 0px 10px;
    background-color: #f9f9f9;
    font-family: regular;
    position: relative;
    margin: 5px;
    cursor: pointer;
  }
  .cancelIcon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .viewMoreButtonHolder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .viewMoreButton {
    width: auto;
    height: 36px;
    display: flex;
    cursor: pointer;
  }
  .plpHeading {
    width: 100%;
    height: auto;
    color: #212121;
    font-size: 20px;
    font-family: semibold;
    margin-bottom: 25px;
  }
  .headerTextWithTotalProducts {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
  .camelCase {
    text-transform: capitalize;
  }
  .headerHeading {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    color: #000000;
    font-size: 30px;
    font-family: semibold;
  }
  .totalProducts {
    width: 100%;
    height: auto;
    color: #000000;
    font-size: 14px;
    font-family: light;
  }
}
.productWithFilterDesktop {
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: inline-block;
}
.productGridDesktop {
  width: 75%;
  display: inline-block;
  text-align: left;
}
.filterDesktopWrapper {
  width: 25%;
  display: inline-block;
}
