.base {
  width: 100%;
  margin-top: 5px;
}
.priceList {
  width: 100%;
}
.inputPrice {
  width: 100%;
  margin-bottom: 20px;
}
.priceRangeLabel {
  font-size: 14px;
  color: #212121;
  font-family: regular;
}

.inputWrapper {
  width: 100%;
  margin-top: 10px;
}

.inputBox {
  width: 35%;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.applyPriceRange {
  width: 20%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
