.base {
  width: 100%;
  margin-top: 5px;
}
.priceList {
  width: 100%;
}
.inputPrice {
  width: 100%;
  margin-bottom: 20px;
}
.priceRangeLabel {
  font-size: 14px;
  color: #212121;
  font-family: regular;
}
.inputWrapper {
  width: 100%;
  margin-top: 10px;
  position: relative;
  padding-right: 30px;
}
.inputBox {
  width: 50%;
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}
.applyPriceRange {
  width: 33px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: middle;
  pointer-events: none;
}
.clickableButton {
  composes: applyPriceRange;
  pointer-events: auto;
}
.resetPrice {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: regular;
  color: #ff1744;
  cursor: pointer;
}
