.autoWidgetBase {
  margin: 0 12%;
}
.brandSection {
  width: 100%;
  height: auto;
  /* background: #fff; */
  color: #212121;
  margin-top: 40px;
  margin-bottom: 20px;
}
.brandSectionForRecentlyViewed {
  width: 100%;
  height: auto;
  /* background: #fff; */
  color: #212121;
  margin-top: 40px;
  display: none;
}
.heading {
  width:100%;
  height:auto;
  font-size:30px;
  font-family:semibold;
  color:#212121;
  padding-left: 10px;
}
.brandHeader {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: semibold;
  color: #212121;
  padding: 0 15px;
}

.observer {
  min-height: 10px;
}
.brandLogoSection {
  width: 100%;
  height: auto;
  min-height: 40px;
  position: relative;
  padding-right: 130px;
  padding-left: 15px;
}
.brandLogoHolder {
  width: 100%;
  height: 35px;
  display: inline-block;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.followButton {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 0;
}
.brandDescription {
  width: 100%;
  height: auto;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: regular;
  padding: 0 15px;
}
.visitBrandButton {
  width: auto;
  display: inline-block;
  margin-top: 20px;
  padding-left: 15px;
}

.brandProductCarousel {
  margin-top: 20px;
}

.iconHolder {
    width: 60px;
    height: 60px;
    float: left;
}

.viewAllBlock {
  cursor: pointer;
  position: relative;
  background: #fff;
  height:393px;
}
.backgroundImage {
  background-image:url("../../home/components/img/group_10.png");
  background-repeat:no-repeat;
  background-position:center center;
  height: 343px;
}

.viewMoreText {
  background-color: #ffff;
    text-align: center;
    font-size: 14px;
    color: #da1c5c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 65%);
}

@media screen and (min-width: 1025px) {
  .brandSection {
    background: transparent;
  }
  .brandHeader {
    font-size: 30px;
    position: relative;
    padding-right: 250px;
  }
  .banner {
    width: 43%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    margin-top: 20px;
  }
  .sliderHolder {
    width: 57%;
    vertical-align: top;
    display: inline-block;
  }
  .followButton {
    position: static;
    margin-top: 20px;
  }
  .headerButton {
    position: absolute;
    bottom: 0;
    right: 125px;
  }
}
