.base {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.brandImageHolder {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  position: relative;
  border-radius: 50%;
  background: #fff;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms;
  transform: scale(0.9);
}
.brandImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.base:hover .brandImageHolder {
  transform: scale(0.93);
}
.productDescription {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.brandsName {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 12px;
  font-family: semibold;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.descriptionBrands {
  width: 100%;
  height: auto;
  display: flex;
  color: #fff;
  font-size: 16px;
  font-family: light;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: normal;
  margin-bottom: 5px;
}
.discountPrice {
  composes: descriptionBrands;
  margin-bottom: 5px;
}
.priceCancelled {
  composes: discountPrice;
  text-decoration: line-through;
}
