.base {
  width: 100%;
  background-image: linear-gradient(292deg, #48dfe6, #4facfe);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.iconHolder {
  width: 60px;
  height: 60px;
  float: left;
}
.text {
  width: auto;
  height: auto;
  color: #fff;
  font-family: semibold;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 65px;
}
.heading {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  float: left;
  color: #fff;
}
.header {
  width: 100%;
  height: auto;
  font-family: regular;
  float: left;
  padding: 10px;
  margin-bottom: 80px;
}
.iconBase {
  width: 100%;
  height: 60px;
  position: relative;
  float: left;
}
.buttonBox {
  height: auto;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
  display: inline-block;
  padding-left: 48px;
}
.button {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-bottom: 3px;
  font-family: semibold;
}
.button:after {
  height: 1px;
  font-size: 15px;
  line-height: 20px;
  content: '';
  position: absolute;
  width: 100%;
  background-color: #fff;
  left: 0;
  bottom: 0;
  margin-bottom: 2px;
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  .base {
    min-height: 100vh;
  }
  .header {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1025px) {
  .base {
    padding: 0px 0px 33.61% 0px;
    position: relative;
    transition: 300ms;
    overflow: hidden;
    border-radius: 4px;
  }

  .dataHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px;
    display: flex;
    flex-direction: row;
  }
  .textAndDescription {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 90px;
  }
  .iconBase {
    margin-bottom: 50px;
  }
  .header {
    margin-bottom: 15px;
    padding: 0px;
  }
  .buttonBox {
    padding-left: 0px;
    width: 80px;
    cursor: pointer;
  }
  .heading {
    font-size: 30px;
    font-family: semibold;
    margin-bottom: 20px;
    line-height: normal;
  }
  .descriptionHolder {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 15px;
    font-family: regular;
    line-height: normal;
    display: flex;
  }
}
