.base {
  width: 100%;
  height: auto;
  margin-top: 50px;
  overflow: hidden;
}
.headingText {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 20px;
  font-family: semibold;
  padding: 0px 15px;
}
.button {
  padding-left: 20px;
}
@media screen and (min-width: 1025px) {
  .base {
    max-width: 1200px;
    margin: 50px auto 0px;
  }
}
