.base {
  width: 100%;
  height: auto;
  background-color: #212121;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
}
.limitedTimeHolder {
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  position: absolute;
}
.limitedTimeHolderWithText {
  width: 100%;
  height: auto;
  top: 50%;
  margin: auto;
  position: absolute;
  padding: 0px 50px;
  transform: translateY(-50%);
}
.limitedTimeText {
  color: #fff;
  margin: auto;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: semibold;
}
.countDownTimerHolder {
  width: 100%;
  height: auto;
  padding: 35px 0px;
}

.buttonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
}

.button {
  width: auto;
  height: auto;
  display: inline-block;
}
