.base {
  width: 100%;
  height: auto;
}
.imageHolder {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding-bottom: 43%;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: stretch;
}
.section {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.details {
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  z-index: 5;
}
@media screen and (min-width: 1025px) {
  .base {
    max-width: 1600px;
    margin: 80px auto 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .headerHolder {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    height: auto;
    min-height: 90px;
  }
  .header {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    font-size: 30px;
    font-family: semibold;
    line-height: 90px;
  }
}
