.base {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 80px auto 0px;
}
.firstItemBase {
  composes: base;
  margin-top: 20px;
}
.shopeRangeHeader {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 20px;
  font-family: semibold;
  margin-bottom: 20px;
}
.splitBannerHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}

.splitBannerHolder:last-child {
  padding-right: 0px;
  padding-left: 10px;
}
