.base {
  width: 100%;
  height: auto;
  padding-bottom: 65%;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  transition: 300ms;
  transform: scale(1);
}
.base:hover {
  transform: scale(1.03);
}
.imageHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.textLine {
  font-size: 30px;
  padding: 118px 15px 40px 15px;
  bottom: 0px;
  color: #ffffff;
  position: absolute;
  margin: auto;
  word-break: break-word;
  text-align: left;
  padding: 0px 15px 20px 15px;
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.buttonHolder {
  width: 100%;
  padding-top: 20px;
}
.heading {
  width: 100%;
  height: auto;
  color: #fff;
  font-family: semibold;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  margin-bottom: 40px;
}
.logoHolder {
  width: 100%;
  height: auto;
}
.headingHolder {
  width: 100%;
  height: auto;
}
.title {
  width: 100%;
  height: auto;
}
.subTitle {
  width: 100%;
  height: auto;
}
