.base {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
}
@media screen and (min-width: 1025px) {
  .base {
    margin: auto;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    width: 515px;
    height: 680px;
    max-width: 100vw;
    max-height: 100vh;
  }
}
