.storeListForDesktop {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  background:#fff;
  overflow: auto;
  border-radius: 4px;
  position:relative;
}
.mapDesktop {
  width: 68%;
  height:100%;
  display: inline-block;
  vertical-align: top;
  position:relative;
  padding-right:20px;
}
.mapDesktop:before{
    content:"";
    width: calc(100% - 20px);
    height:100%;
    background-image: url("../../general/components/img/loader.gif");
    background-repeat:no-repeat;
    background-size: 240px auto;
    background-color:#fff;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    border-radius:4px;
}
.mapButton {
  width: 100%;
  height: auto;
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
}
.mapDesktopWithPincode {
  width: 100%;
  height: 100%;
  display: inline-block;

}
.cliqPiqText {
  font-size: 30px;
  font-family:semibold;
  color:#fff;
  width: 100%;
  height: auto;
  padding-right: 150px;
}
.closeButton {
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
}
.container {
  height: 50px;
  width: 100%;
  padding: 10px 10px;
  margin-top: 50px;
  position: fixed;
}
.base {
  width: 1200px;
  max-width:100%;
  height: 70vh;
  position: fixed;
  background-color: transparent;
  padding-top:50px;
  overflow: hidden;
}
.searchPincode {
  width: 100%;
  position: sticky;
  height: auto;
  top: 0px;
  border-radius: 4px 4px 0px 0px;
  padding:12px 20px 20px 20px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  z-index: 1;
}
.loadingIndicator {
  width:100%;
  height:100%;
  background:#fff;
  position:relative;
}
.loadingIndicator:after{
  content:"";
    width: 120px;
    height: 8px;
    background: url("../../general/components/img/loader.gif")no-repeat;
    background-size: 180%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.getLocationDetailsHolder {
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  width: 100%;
  height: auto;
}
