.base {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background-color: #ececec;
}
.noBackground {
  composes: base;
  background-color: transparent;
}
.header {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  padding: 0 15px;
  margin-bottom: 15px;
}
.colourName {
  font-family: regular;
  text-transform: capitalize;
}
@media screen and (min-width: 1025px) {
  .base {
    background-color:transparent;
    padding:10px 0;
  }
  .header {
    padding:0;
    margin-bottom:10px;
  }
  .colour{
    display:inline-block;
    margin-right:10px;
  }
}