.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #fff;
}
.content {
  width: 100%;
  height: auto;
}
.header {
  width: 100%;
  height: 40px;
  background: #212121;
  color: #fff;
  font-family: semibold;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.info {
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 22px;
  padding: 20px;
  font-family: regular;
}
.bankInfo {
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 20px 0px 20px;
  font-family: regular;
}
.viewTermsAndcondition {
  composes: bankInfo;
  padding: 10px 20px 0px 20px;
}

.termsAndConditions {
  font-family: light;
  font-size: 14px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.termsAndConditions li {
  font-size: 14px;
  line-height: 22px;
  font-family: light;
  margin-bottom: 5px;
}
.termsAndConditions ul {
  padding-right: 15px;
  padding-left: 30px;
}
.bankNameHeader {
  width: 100%;
}
.bankNameHeader {
  width: 100%;
  height: auto;
  padding: 10px;
  color: #000;
  font-family: semibold;
  font-size: 14px;
  background: #ececec;
}

.tabHolder {
  width: 100%;
  height: 60px;
  background-color: #ececec;
  position: sticky;
  top: 40px;
  z-index: 1;
}
.standardEmiHeading {
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 20px 20px 0px 20px;
  font-family: semibold;
}
.headingWithHideButton {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.onActiveHolder {
  composes: headingWithHideButton;
  background: #f8f8f8;
}
.heading {
  width: 100%;
  height: auto;
  font-size: 12px;
  padding-left: 20px;
  font-family: semibold;
}
.hideButton {
  width: auto;
  height: auto;
  position: absolute;
  right: 20px;
  top: 10px;
  vertical-align: top;
  margin: auto;
}
.hideButtonForTNCCard {
  width: auto;
  height: auto;
  position: absolute;
  right: 20px;
  top: -5px;
  vertical-align: top;
  margin: auto;
}
.headingWithDescription {
  width: 100%;
  height: auto;
  padding-top: 10px;
  background: #f8f8f8;
  margin-top: 15px;
}

.termsAndConditionsHeading {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-left: 20px;
  font-size: 14px;
  font-family: regular;
  padding-top: 20px;
}

@media screen and (min-width: 1025px) {
  .header {
    height: 60px;
    background: #f9f9f9;
    font-size: 20px;
    line-height: 60px;
    color: #212121;
    position: sticky;
    z-index: 5;
    top: 0;
  }
  .base {
    min-height: initial;
  }
}
