
.base {
  display: inline-block;
  border-radius: 4px;
}

.header {
  height: 60px;
  background: #f9f9f9;
  color: #000;
  font-size: 20px;
  line-height: 60px;
  padding: 0 40px 0px 20px;
  top: 0px;
  position: sticky;
  z-index: 1;
  font-family: semibold;
}
.container{
  width: 100%;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px #e7e7e7;
}
.description{
  width: 90%;
  float: left;
  color: #212121;
  font-size: 14px;
  font-family: light;
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.termsAndConditions{
  width: 4%;
  float: left;
  color: #212121;
  font-size: 13px;
  padding-right: 15px;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  cursor: pointer;
}
.counter{
  color: #ff1744;
  font-size: 12px;
  margin-top: 10px;
  font-family: light;
}
.offerEndsIn{
  padding-right:5px;
  padding-left: 20px;
}