.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background-image: linear-gradient(131deg, #fd2c7a, #ff7255);
}
.themeElectronics {
  composes: base;
  background-image: linear-gradient(110deg, #ff878b, #c85be5);
}
.headingText {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: light;
  color: #fff;
  text-align: left;
  position: relative;
  display: none;
}
.headingText a {
  pointer-events: none;
  color: #fff;
}
.headingText:nth-child(3) {
  padding-top: 20px;
}
.headingText:nth-child(3):before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  top: 10px;
  left: 0;
  position: absolute;
}
.headingDescription {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  padding-bottom: 10px;
  color: #fff;
}
.text {
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-bottom: 15px;
  font-family: semibold;
  color: #fff;
}
.description {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
  color: #fff;
}
.button {
  width: 75px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.timer {
  width: 60px;
  line-height: 20px;
}
.offerText {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
  font-family: light;
  padding-bottom: 5px;
}
.iconHolder {
  width: auto;
  height: auto;
  float: right;
  position: relative;
  padding-left: 25px;
}
.timerHolder {
  position: absolute;
  left: 0;
  top: 0;
}
.descriptionText {
  width: 100%;
  height: auto;
  line-height: normal;
  color: #fff;
  font-size: 12px;
  font-family: regular;
  padding: 5px 0px;
}
.liHeader{
  list-style-position: outside;
  margin-left:-25px;
}
.container{
  list-style-position:outside;
  width: 100%;
  height: auto;
  display: inline-block;
}
.icon{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: left;
}
.headingTextNew{
  float: left;
  height: auto;
  font-size: 13px;
  font-family: regular;
  color: #4a4a4a;
  text-align: left;
  position: relative;
  line-height: 1.81;
  font-stretch: normal;
  cursor: pointer;
}
.offerTextNew {
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: regular;
}
/* .offers{
  margin-left: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
} */
.viewMore{
  color: #ff1744;
  margin-right: 10px;
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.viewMoreArrow{
    float: right;
    margin-top: 4px;
    margin-left: 2px;
}
.counter{
  color: #ff1744;
  font-size: 12px;
  font-family: light;
}
.counterModal{
  color: #ff1744;
  font-size: 12px;
  margin-top: 35px;
  font-family: light;
}

.offerEndsIn{
  display: inline;
  padding-right:5px
}
.mainDiv, .mainDivWithoutBorder{
  border-bottom: 0.5px solid #E7E7E7;
  display: inline-block;
  padding-bottom: 0px;
  width: 100%;
}
/* .mainDiv:last-child{
  border-bottom: none;
} */
.mainDivWithoutBorder{
  border-bottom: none;
  margin-top: -15px;
}
.viewMoreBorder{
  font-family: semibold;
}
.terms{
  cursor: pointer;
  font-size: 14px;
  font-family: light;
  float: left;
  border-bottom: 1px solid;
  padding-top: 5px;
  margin-left: 10px;
  padding-top: 10px;
}
.iconSrc{
  height: 30px;
  width: 30px;
}
.fallBackSrc{
    height: 30px;
    width: 30px;
    /* background-size: 100%; */
    padding-top: 8px;
    /* object-fit: contain; */
    object-fit: contain;
}