.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background-image: linear-gradient(131deg, #fd2c7a, #ff7255);
}

.themeElectronics {
  composes: base;
  background-image: linear-gradient(110deg, #ff878b, #c85be5);
}

.headingText {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: light;
  color: #fff;
  text-align: left;
  position: relative;
}

.headingText a {
  pointer-events: none;
  color: #fff;
}

.headingText:nth-child(3) {
  padding-top: 20px;
}

.headingText:nth-child(3):before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  top: 10px;
  left: 0;
  position: absolute;
}

.headingDescription {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  padding-bottom: 10px;
  color: #fff;
}

.text {
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-bottom: 15px;
  font-family: semibold;
  color: #fff;
}

.description {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
  color: #fff;
}

.button {
  width: 75px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.timer {
  width: 60px;
  line-height: 20px;
}

.offerText {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
  font-family: light;
  padding-bottom: 5px;
}

.iconHolder {
  width: auto;
  height: auto;
  float: right;
  position: relative;
  padding-left: 25px;
}

.timerHolder {
  position: absolute;
  left: 0;
  top: 0;
}

.descriptionText {
  width: 100%;
  height: auto;
  line-height: normal;
  color: #fff;
  font-size: 12px;
  font-family: regular;
  padding: 5px 0px;
}

@media screen and (min-width: 1025px) {

  .base,
  .themeElectronics {
    background-image: none;
    padding: 0;
    pointer-events: none;
  }

  .headingText,
  .headingText a,
  .descriptionText,
  .offerText {
    color: #212121;
  }

  .descriptionLink {
    width: 100%;
  }

  .headingText {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    line-height: 20px;
    margin-bottom: 8px;
    font-size: 13px;
  }

  .headingText:last-child {
    margin-bottom: 0px;
  }

  .headingText span {
    padding-right: 10px;
  }

  .link {
    font-size: 14px;
    color: #ff1744;
    font-family: light;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: top;
    pointer-events: auto;
    cursor: pointer;
  }

  .link:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(-90deg);
    background: url("../../general/components/img/down-arrow-red.svg") no-repeat;
    background-position: center;
    background-size: contain;
  }

  .headingText:after {
    content: " Check details";
    font-size: 14px;
    color: #ff1744;
    font-family: light;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    pointer-events: auto;
    cursor: pointer;
    background: url("../../general/components/img/right-arrow-red.svg") no-repeat;
    background-position: right center;
    background-size: 10px;
    padding-right: 15px;
  }
}

#Pallavi .container {
  width: 100%;
  height: auto;
  padding-top: 5px;

  padding-bottom: 5px;
  display: inline-block;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  float: left;
}

.headingTextNew {
  width: 77%;
  float: left;
  height: auto;
  font-size: 14px;
  font-family: light;
  color: rgba(33 33 33 0.93);
  text-align: left;
  position: relative;
  padding-top: 8px;
}

.offerTextNew {
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: regular;
}

.offers {
  margin-left: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.viewMore {
  color: #ff1744;
  text-align: right;
  margin-right: 10px;
  font-size: 14px;
  padding-top: 19px;
}

.viewMoreArrow {
  float: right;
  margin-top: 4px;
  margin-left: 2px;
}

.counter {
  color: #ff1744;
  font-size: 12px;
  margin-top: 10px;
  font-family: light;
}

.offerEndsIn {
  padding-right: 5px
}

.mainDiv,
.mainDivWithoutBorder {
  border-bottom: 0.5px solid #E7E7E7;
  display: inline-block;
  padding-bottom: 5px;
  width: 100%;
}

/* .mainDiv:last-child{
  border-bottom: none;
} */
.mainDivWithoutBorder {
  border-bottom: none;
}

.viewMoreBorder {
  border-bottom: 1px solid;
}

.terms {
  font-size: 14px;
  font-family: light;
  float: left;
  border-bottom: 1px solid;
  padding-top: 8px;
}

.iconSrc {
  height: 30px;
  width: 30px;
}

.fallBackSrc {
  height: 30px;
  width: 30px;
  /* background-size: 100%; */
  padding-top: 8px;
  /* object-fit: contain; */
  object-fit: contain;
}