.base {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background-image: linear-gradient(131deg, #fd2c7a, #ff7255);
  margin-top: 20px;
}
.themeElectronics {
  composes: base;
  background-image: linear-gradient(110deg, #ff878b, #c85be5);
}
.headingText {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: light;
  color: #fff;
  text-align: left;
  position: relative;
}
.headingText a {
  pointer-events: none;
  color: #fff;
}
.headingText:nth-child(3) {
  padding-top: 20px;
}
.headingText:nth-child(3):before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  top: 10px;
  left: 0;
  position: absolute;
}
.headingDescription {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  padding-bottom: 10px;
  color: #fff;
}
.text {
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-bottom: 15px;
  font-family: semibold;
  color: #fff;
}
.description {
  width: 100%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
  color: #fff;
}
.button {
  width: 75px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.timer {
  width: 60px;
  line-height: 20px;
}
.offerText {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
  font-family: light;
  padding-bottom: 5px;
}
.iconHolder {
  width: auto;
  height: auto;
  float: right;
  position: relative;
  padding-left: 25px;
}
.timerHolder {
  position: absolute;
  left: 0;
  top: 0;
}
.descriptionText {
  width: 100%;
  height: auto;
  line-height: normal;
  color: #fff;
  font-size: 12px;
  font-family: regular;
  padding: 5px 0px;
}

@media  screen  and (min-width:1025px){
  .base , .themeElectronics{
    background-image:none;
    padding:0;
    pointer-events:none;
    margin-top:10px;
  }
  .headingText , .headingText a ,.descriptionText , .offerText {
    color:#212121;
  }
  .descriptionLink{
    width:100%;
  }
  .headingText{
    display:inline-block;
    width:auto;
    vertical-align:top;
    line-height:21px;
  }
  .link {
    font-size: 14px;
    color: #ff1744;
    font-family: light;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    vertical-align:top;
    pointer-events:auto;
    cursor:pointer
  }
  .link:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(-90deg);
    background:url("../../general/components/img/down-arrow-red.svg")no-repeat;
    background-position: center;
    background-size: contain;

  }
  .headingText:after{
    content:" Check details";
    font-size: 14px;
    color: #ff1744;
    font-family: light;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    vertical-align:top;
    pointer-events:auto;
    cursor:pointer;
    background:url("../../general/components/img/right-arrow-red.svg")no-repeat;
    background-position:right center;
    background-size: 10px;
    padding-right:15px;
  }
}