.base {
  width: 157px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  background: url(../components/img/flag.svg) no-repeat;
  font-family: bolder;
  background-size: contain;
  position: absolute;
  top: 50px;
  text-align: center;
  left: 0px;
  pointer-events: none;
}
.offer {
  width: 157px;
  height: 45px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  background: url(../components/img/offer.svg) no-repeat;
  font-family: semibold;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0px;
  pointer-events: none;
}
.new {
  width: 157px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  background: url(../components/img/flag_new.svg) no-repeat;
  font-family: semibold;
  background-size: contain;
  position: absolute;
  top: 50px;
  left: 0px;
  pointer-events: none;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1025px) {
  .base {
    width: 157px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    background: url(../components/img/flag.svg) no-repeat;
    font-family: bolder;
    background-size: contain;
    position: absolute;
    top: 90px;
    text-align: center;
    left: 0px;
    pointer-events: none;
  }
  .new {
    width: 157px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    background: url(../components/img/flag_new.svg) no-repeat;
    font-family: semibold;
    background-size: contain;
    position: absolute;
    top: 90px;
    left: 40px;
    pointer-events: none;
  }
  .offer {
    width: 157px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    background: url(../components/img/offer.svg) no-repeat;
    font-family: semibold;
    background-size: contain;
    position: absolute;
    top: 90px;
    left: 45px;
    pointer-events: none;
  }
}
