.base {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px 40px 15px 10px;
  position: relative;
  cursor:pointer;
}
.linkArrow {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0px;
  right: 25px;
  bottom: 0;
  margin: auto;
  transform: rotate(-90deg);
}
@media screen and (min-width: 1025px) {
  .base {
    padding:15px 0;
    white-space:nowrap;
    width: auto;
    display: inline-block;
  }
  .linkArrow {
    position:static;
    display:inline-block;
    margin-left:15px;
  }
}