.brandSection {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 30px 0;
  color: #212121;
  margin-top: 30px;
}
.brandHeader {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: semibold;
  color: #212121;
  padding: 0 15px;
}

.observer {
  min-height: 80px;
}
.brandLogoSection {
  width: 100%;
  height: auto;
  min-height: 40px;
  position: relative;
  padding-right: 130px;
  padding-left: 15px;
}
.brandLogoHolder {
  width: 100%;
  height: 35px;
  display: inline-block;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.followButton {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 0;
}
.brandDescription {
  width: 100%;
  height: auto;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: regular;
  padding: 0 15px;
}
.visitBrandButton {
  width: auto;
  display: inline-block;
  margin-top: 20px;
  padding-left: 15px;
}

.brandProductCarousel {
  margin-top: 20px;
}

@media  screen  and (min-width:1025px){
  .brandSection {
    background:transparent;
  }
  .brandHeader{
    font-size:30px;
    position:relative;
    padding-right:250px;

  }
  .banner{
    width:43%;
    display:inline-block;
    vertical-align:top;
    padding-right:10px;
    margin-top:20px;
  }
  .sliderHolder{
    width:57%;
    vertical-align:top;
    display:inline-block;
  }
  .followButton{
    position:static;
    margin-top:20px;
  }
  .headerButton{
    position:absolute;
    bottom:0;
    right:125px;
  }
}