.bundlingMainContainer{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.bundlingHeadingContainer{
 	width: 100%;
	background: #fafafa;
	font-size: 18px;
	padding: 22px 39px;
	font-family: semibold;
}
.details{
	position: relative;
 	background-color: #ffffff;
	padding: 9px 49px 18px 49px;
	border-bottom-left-radius: 4px;
 	border-bottom-right-radius: 4px;
}
.totalDetailsContainer{
	border-top: 1px solid #e5e5e5;
	display: inline-block;
	width: 100%;
	text-align: right;
	padding-top: 17px;
}
.totalDetailsText{
	display: inline-block;
	font-size: 16px;
 	text-align: center;
	color: #2c2627;
	vertical-align: middle;
}
.totalPrice{
	display: inline-block;
	font-family: semibold;
	font-size: 24px;
	line-height: 0.67;
	letter-spacing: 0.05px;
	color: #2c2627;
	vertical-align: middle;
	margin: 0 16px;
	width: 120px;
  text-align: left;
}
.buttonContainer{
	display: inline-block;
	vertical-align: middle;
}
.productSelectionText{
	display: inline-block;
	font-size: 16px;
 	text-align: center;
	color: #2c2627;
	margin-right: 35px;
}
.showMoreProducts,
.showLessProducts{
	position: relative;
	display: inline-block;
	font-family: semibold;
 	font-size: 16px;
	color: #6c6c6c;
	margin: 15px 0 15px 5%;
	cursor: pointer;
}
.showMoreProducts::after{
	content: "";
	border: 3px solid #da1c5c;
	border-width: 0 3px 3px 0;
	padding: 5px;
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	cursor: pointer;
	position: absolute;
	top: 1px;
	right: -22px;
}
.showLessProducts::after{
	content: "";
	border: 3px solid #da1c5c;
	border-width: 0 3px 3px 0;
	padding: 5px;
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	cursor: pointer;
	position: absolute;
	top: 7px;
	right: -22px;
}
.comboDiscountContainer{
	float: left;
	padding-top: 12px;
	padding: 8px;
  background-color: #fff9e4;
}
.comboDiscountIconContainer{
	display: inline-block;
	vertical-align: middle;
}
.comboDiscountText{
	display: inline-block;
	vertical-align: middle;
	padding-left: 4px;
	font-size: 13px;
}