.base {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 15px;
}
.productInfo {
    width: 100%;
    height: auto;
    display: inline-block;
}
.productDescriptionSection {
    width: 65%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.brandName {
    width: 100%;
    height: auto;
    display: inline-block;
    color: #181818;
    font-size: 16px;
    font-family: semibold;
    margin-bottom: 10px;
}

.linkName {
    cursor: auto;
}

.productName {
    width: 100%;
    height: auto;
    color: #181818;
    font-size: 14px;
    line-height: 22px;
    font-family: light;
    font-weight: inherit;
    display: inline-block;
}
.productDescription {
    composes: productName;
    margin-top: 10px;
}
.ratingHolder {
    width: 100%;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
}
.ratingText {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: #8d8d8d;
    font-size: 14px;
}
.ratingOffset {
    margin-left: 5px;
}
.arrowHolder {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
}
.productPriceSection {
    width: 35%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.price {
    width: 100%;
    height: auto;
    color: #212121;
    font-size: 16px;
    font-family: semibold;
    margin-bottom: 10px;
    white-space: nowrap;
    display: inline-block;
    text-align: right;
}
.discountPrice {
    width: 100%;
    height: auto;
    color: #8d8d8d;
    font-size: 14px;
    font-family: regular;
    margin-bottom: 7px;
    display: inline-block;
    text-align: right;
}
.priceCancelled {
    composes: discountPrice;
    position: relative;
}
.cancelPrice {
    position: relative;
}
.cancelPrice:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #4a4a4a;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.discount {
    width: auto;
    color: #ff1744;
    padding-left: 5px;
}
.ratingLabel {
    margin: 0 6px;
    font-weight: 500;
    font-family: semibold;
}

.labelText {
    font-family: regular;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #212121;
    font-family: light;
}

.reviewElectronicsContainer {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #49a862;
    color: #ffffff;
    padding: 0 5px;
    border-radius: 2px;
}
.lessReviewElectronicsContainer {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #f5a623;
    color: #ffffff;
    padding: 0 5px;
    border-radius: 2px;
}

.reviewElectronics {
    float: left;
    font-family: regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.starPLPElectronics {
    float: left;
    margin: 6px 0px 6px 4px;
}

.shareBlock {
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
}

@media screen and (min-width: 1025px) {
    .brandName {
        font-size: 20px;
    }
    .brandName span {
        cursor: pointer;
    }
    .productName {
        font-size: 22px;
        line-height: 30px;
    }
    .productDescriptionSection {
        width: 100%;
        margin-bottom: 25px;
    }
    .productPriceSection {
        width: 100%;
        position: relative;
    }
    .priceBreakUp {
        position: absolute;
        right: 0;
        top: 0;
    }
    .price {
        width: auto;
        text-align: left;
        font-size: 24px;
        font-family: regular;
        margin: 0;
    }
    .discountPrice {
        width: auto;
        text-align: left;
        font-size: 20px;
        color: #212121;
        margin-left: 15px;
        margin-bottom: 0;
        font-family: light;
    }
    .noRatingText {
        width: 100%;
        height: auto;
        color: #ff1744;
        font-family: light;
        font-size: 13px;
        margin-top: 25px;
        cursor: pointer;
    }
    .counter div {
        display: inline-block;
        box-sizing: border-box;
        font-size: 13px;
        color: #ff1744;
        padding: 5px 0px 0px;
    }
    .offerEndsIn {
        font-size: 13px;
        color: #ff1744;
    }
    .impulseOfferCalloutList {
        padding: 5px 0px 0px;
    }
    .impulseOfferCalloutListSpan {
        color: #ff1744;
        font-size: 13px;
    }
}
