.base {
    width: 100%;
    padding-top: 50px;
}

.reviewText {
    width: 35%;
    text-align: right;
    text-decoration: underline;
    color: #181818;
    font-family: regular;
    font-size: 16px;
    padding: 10px 0px;
    background: #fff;
    vertical-align: top;
    margin-left: 10%;
    display: inline-block;
}

.productBackground {
    width: 100%;
}

.reviewHolder {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 0px;
}

.dropDownHolder {
    width: 100%;
    display: inline-block;
    background: #fff;
    padding: 10px;
}

.dropDownBox {
    width: 100%;
    height: auto;
    display: inline-block;
    border: grey;
}

.dropdown {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0px 0px 0px;
}

.reviews {
    width: 100%;
    display: inline-block;
}

.dropdownWithButton {
    width: 100%;
    height: auto;
    display: inline-block;
}

@media screen and (min-width: 1025px) {
    .base {
        max-width: 1190px;
        margin: auto;
        position: relative;
    }

    .productBackground {
        width: 20%;
        height: auto;
        display: inline-block;
        vertical-align: top;
        position: sticky;
        top: 60px;
    }

    .dropDownHolder {
        padding: 0px 0px 0px 20px;
        width: 80%;
    }

    .dropDownHolderWithReviewText {
        max-width: 1200px;
        background: #fff;
        margin: auto;
        padding: 35px;
        border-radius: 4px;
        margin-bottom: 5%;
        border: 1px solid #d5d5d5;
    }

    .dropdown {
        width: 175px;
        height: auto;
        float: right;
        margin-left: 50px;
        flex-direction: row-reverse;
        padding: 0px;
    }

    .dropDownBox {
        width: 100%;
        height: auto;
        float: right;
    }

    .reviewText {
        width: auto;
        height: auto;
        float: right;
    }

    .reviewText {
        font-family: light;
        font-size: 14px;
        margin-left: 0%;
        cursor: pointer;
    }

    .header {
        width: 100%;
        height: auto;
        float: left;
        font-family: semibold;
        font-size: 30px;
        margin-bottom: 15px;
        color: #000;
    }

    .header1 {
        composes: header;
        margin-bottom: 20px;
    }

    .ratngAndReviews {
        width: 100%;
        height: auto;
        float: left;
        font-size: 14px;
        line-height: 14px;
        font-family: light;
    }

    .headerWithRating {
        width: 50%;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }

    .dropdownWithButton {
        width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 12px;
    }

    .headerWrapper {
        width: 100%;
        height: auto;
    }

    .writtingReview {
        width: 100%;
        height: auto;
        background: #fff;
        padding: 35px;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .reviewHolder {
        padding: 0px;
    }

    .pageIteam {
        width: 7px;
        height: 17px;
        font-family: 'regular';
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #6c6c6c;
    }

    .paginationListHolder {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: inline-flex;
    }

    .pagination {
        display: inline-flex;
        width: 100%;
    }

    .paginationHolder {
        display: flex;
        justify-content: space-between;
    }

    .pageIteam {
        padding: 8px 16px;
        text-decoration: none;
        width: 7px;
        height: 17px;
        font-family: 'regular';
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #6c6c6c;
        cursor: pointer;
    }

    .activePageIteam {
        background-color: #212121;
        padding: 4px 0 0 0;
        color: #ffffff;
        text-align: center;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 8px;
    }

    .listHolder {
        height: auto;
        font-size: 14px;
        padding: 0px 9px 0px 10px;
        width: auto;
        margin: 8px 0;
    }

    .paginationHolder {
        width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
    }

    .pageNumberInfoHolder {
        width: 30%;
        padding: 12px 52px;
    }

    .pageNumberInfoText {
        font-size: 14px;
        color: #2d2d2d;
        font-family: 'regular';
        text-align: center;
    }

    .pageInfo {
        width: 24%;
        height: auto;
    }

    .pageInfoText {
        font-family: 'light';
        font-size: 14px;
        color: #4a4a4a;
        padding: 10px 0;
    }

    .continueHiddenButtonHolder {
        visibility: hidden;
    }

    .continueButtonHolder {
        visibility: show;
    }

    .currentPageNumber {
        font-family: 'regular';
        color: #212121;
    }

    .previousButton {
        width: 120px;
        height: 40px;
        border-radius: 4px;
        color: #212121;
        cursor: pointer;
        border: 1px solid #212121;
        padding: 11px 0 0 33px;
        position: relative;
        font-size: 14px;
        font-family: 'semibold';
    }

    .previousButton::before {
        content: "";
        border: 1px solid #212121;
        border-width: 0 2px 2px 0;
        padding: 4px;
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        position: absolute;
        top: 14px;
        left: 18px;
    }

    .nextButton {
        width: 120px;
        height: 40px;
        border-radius: 4px;
        color: #212121;
        cursor: pointer;
        border: 1px solid #212121;
        padding: 11px 0 0 35px;
        position: relative;
        font-size: 14px;
        font-family: 'semibold';
    }

    .nextButton::after {
        content: "";
        border: 1px solid #212121;
        border-width: 0 2px 2px 0;
        padding: 4px;
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;
        top: 14px;
        right: 28px;
    }

    .writeReviewButton {
        font-size: 14px;
        padding: 12px 0;
        text-align: center;
        margin: 10px 0;
        color: #da1c5c;
        border: 1px solid #da1c5c;
        border-radius: 4px;
        font-family: 'semibold';
		cursor: pointer;
    }

    .colorItem {
        margin-bottom: 20px;
    }

    .title {
        font-size: 14px;
        font-family: 'semibold';
        margin-bottom: 16px;
    }

    .filterContainer {
        padding: 20px;
        border: 1px solid #ebebeb;
    }

    .colorBox {
		display: inline-block;
		width: 28px;
		height: 28px;
		border-radius: 7px;
		vertical-align: middle;
		margin: 0 0 0 14px;
    }

    .filterName {
        font-size: 14px;
        font-family: 'light';
        margin-left: 14px;
    }

    .sizeContainer {
        position: relative;
        padding-top: 16px;
    }

    .sizeContainer::before {
        position: absolute;
        content: "";
        width: 237px;
        height: 1px;
        top: 0;
        left: -20px;
        right: 0;
        border-top: 1px solid #ebebeb;
    }

    .checkBoxHolder {
        display: inline-block;
        vertical-align: baseline;
    }
}
