.base {
    width: 100%;
    height: auto;
}

.loadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.breadcrumbs {
    color: #9b9b9b;
    width: auto;
    display: flex;
    flex-direction: row;
}

.text {
    color: #9b9b9b;
}

.content {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.breadcrumbsText {
    width: auto;
    max-width: 90px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    color: #9b9b9b;
    position: relative;
    padding-right: 15px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    transition: 300ms;
}

.breadcrumbsText:hover {
    color: #ff1744;
    max-width: initial;
}

.breadcrumbsDefault {
    composes: breadcrumbsText;
    width: auto;
}

.breadcrumbsText:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 0;
    background: url(./img/arrow.svg) no-repeat;
    background-size: auto 12px;
    background-position: center;
}

.breadcrumbsText:last-child {
    pointer-events: none;
}

.breadcrumbsText:last-child:after {
    background: none;
}

.contentDetails {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin: 15px 0px;
}

.whiteBackground {
    composes: base;
    background: #fff;
    padding-bottom: 15px;
}

.info {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #212121;
    font-family: light;
    margin-top: 20px;
    padding: 0 15px;
    line-height: 22px;
}

.gallery {
    width: 100%;
    height: auto;
    position: relative;
}

.flag {
    width: 157px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    background: url(../components/img/flag.svg) no-repeat;
    font-family: bolder;
    background-size: contain;
    position: absolute;
    top: 90px;
    left: 0px;
    pointer-events: none;
}

.link {
    font-size: 14px;
    color: #ff1744;
    font-family: regular;
    display: inline-block;
}

.textOffset {
    margin-right: 10px;
}

.details {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0 15px;
    margin-top: 30px;
}

.season {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0 15px;
}

/* .youPlus {
	width: 100%;
	height: auto;
	padding: 0 15px;
} */

.seasonDetails {
    margin-top: 60px;
    display: flex;
}

.collectionNotesTile {
    width: 100%;
    height: 20px;
    font-family: semibold;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color: var(--black-93);
}

.collectionNotesContent {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    font-family: light;
    color: #212121;
    padding-bottom: 15px;
    position: relative;
}

.collectionNotesContent:empty {
    margin: 0;
}

.seasonLaunchDate {
    width: 100%;
    font-family: Baskerville;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.3px;
    color: #ff1744;
}

.seasonTitle {
    width: 100%;
    font-family: Baskerville;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #af1566;
}

.separator {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.sumsungSeparator {
    margin-top: 15px;
    border-top: 1px solid #e2e2e2;
}

.sellers {
    font-size: 14px;
    line-height: 22px;
    font-family: regular;
}

.pageHeader {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.headerDetails {
    font-family: semibold;
}

.descriptionDetails {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.winningSellerText {
    font-family: semibold;
}

.customisation {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    font-family: regular;
    color: #171d1c;
    padding: 10px 15px;
}

.customisationButton {
    width: auto;
    display: inline-block;
    margin-top: 15px;
}

.cashInfo {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #212121;
    font-family: regular;
    margin-top: 5px;
    padding: 0 15px;
}

.list {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    font-family: light;
    padding-left: 20px;
    margin-bottom: 5px;
    position: relative;
}

.list a {
    color: #ff1744 !important;
    text-decoration: underline !important;
}

.list:before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    left: 5px;
    top: 7px;
    background: #212121;
    border-radius: 50%;
}

.sideContent {
    width: 50%;
    line-height: 24px;
    font-size: 14px;
    font-family: regular;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

.sideHeader {
    composes: sideContent;
    font-family: semibold;
}

.header {
    composes: sideHeader;
    width: 100%;
}

.details:empty {
    margin: 0;
}

.season :empty {
    margin: 0;
}

.blankSeparator {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.blankSeparator:empty {
    margin: 0;
}

.monogrammingText {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #171d1c;
    line-height: 21px;
    padding: 0 20px 20px 20px;
}

.contentTextForHome {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    font-family: regular;
    color: #212121;
    margin-top: 10px;
}

.accordionContentWithoutBorder {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    font-family: light;
    color: #212121;
    padding-bottom: 15px;
    position: relative;
}

.accordionContent {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    font-family: light;
    color: #212121;
    padding-bottom: 15px;
    position: relative;
}

.accordionLight {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    font-family: light;
    color: #212121;
    padding-bottom: 5px;
    position: relative;
}

.accordionContent:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ececec;
    position: absolute;
    left: 0;
    bottom: 0;
}

.accordionContentBold {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: regular;
    color: #212121;

    position: relative;
}

.trustLogo {
    width: 100%;
    height: 150px;
    margin-top: 30px;
}

.wishlist {
    width: 100%;
    height: auto;
    padding-left: 15px;
}

.containerWithBottomBorder {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 10px;
}

.containerWithBottomBorder:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ececec;
    position: absolute;
    left: 0;
    bottom: 0;
}

@media screen and (min-width: 1025px) {
    .base {
        text-align: center;
    }
    .contentDetails {
        width: 33.33%;
        display: inline-block;
        min-width: 250px;
        vertical-align: top;
    }
    .pageCenter {
        width: 100%;
        display: inline-block;
        max-width: 1200px;
        text-align: left;
        position: relative;
    }
    .gallery {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        z-index: 5;
    }
    .content {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 0 40px;
    }
    .separator {
        margin-top: 15px;
        border-bottom: 1px solid #e2e2e2;
    }
    .sellers {
        display: inline-block;
        font-family: light;
        font-size: 13px;
    }
    .info {
        padding: 0;
    }
    .link:after {
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: 10px;
        transform: rotate(-90deg);
        background: url("../../general/components/img/down-arrow-red.svg") no-repeat;
        background-position: center;
        background-size: contain;
    }
    .link {
        cursor: pointer;
        font-family: light;
    }
    .season {
        background: #ececec;
        padding: 0;
        padding-bottom: 40px;
    }
    .seasonDetails {
        margin-top: 60px;
        display: flex;
    }
    .seasonBanner {
        text-align: center;
    }
    .seasonBanner img {
        width: 100%;
        display: block;
    }
    .seasonImage {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-right: 27px;
        padding: 0px 25px 0px 0;
    }
    .seasonTextDetails {
        width: 50%;
        vertical-align: top;
        display: inline-block;
    }
    .seasonButton {
        margin-top: 21px;
    }
    .details {
        background: #ececec;
        padding: 0;
        padding-bottom: 40px;
    }
    .seasonImg {
        width: 100%;
        text-align: center;
        padding: 0 0 12px 0;
    }
    .detailsCard {
        width: 100%;
        background: #fff;
        padding: 20px 40px;
        border-radius: 4px;
    }
    .productDetailsImagesCard {
        width: 100%;
        background: #fafafa;
        padding: 20px 40px;
        border-radius: 4px;
        margin: 20px 0px 5px 0px;
    }
    .tableCellSingleComponent {
        display: table-cell;
        padding: 0px 50px;
    }
    .tableCellSingleComponentForEyeWear {
        display: table-cell;
        padding: 0px 50px;
        width: 10%;
    }

    .width95px {
        width: 98px;
        height: 20px;
        text-align: center;
    }
    .inline {
        display: inline;
    }
    .detailsHolder {
        margin-top: 40px;
        display: flex;
    }
    .detailsCard:empty {
        display: none;
    }
    .reviewsHolder {
        composes: detailsCard;
        margin-top: 60px;
        padding-top: 40px;
    }
    .reviewsHeader {
        width: 100%;
        font-size: 20px;
        color: #212121;
        font-family: semibold;
        margin-bottom: 10px;
        position: relative;
    }
    .reviewsButton {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .sideContent {
        width: 100%;
        margin: 0;
        font-family: light;
    }
    .featureHolder {
        width: 33.33%;
        display: inline-block;
        min-width: 250px;
        vertical-align: top;
        padding-bottom: 10px;
    }
    .customisation {
        padding: 10px 0;
    }
    .horizontalOffset {
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .sizeHolder {
        width: 100%;
        border-radius: 4px;
        border: 1px solid transparent;
    }
    .sizeError {
        composes: sizeHolder;
        background-color: rgba(255, 0, 0, 0.03);
        border: solid 1px rgba(255, 0, 0, 0.16);
        padding: 20px;
        margin-left: -20px;
    }
    .buttonHolder {
        width: auto;
        display: inline-block;
        margin-right: 40px;
        vertical-align: top;
        position: relative;
    }
    .nonClickButton {
        composes: buttonHolder;
        pointer-events: none;
    }
    .buttonHolder:last-child {
        margin-right: 0px;
    }
    .buttonHolderForWishlist {
        composes: buttonHolder;
        padding: 0 15px;
    }
    .saveListButton {
        cursor: pointer;
    }

    .updatePincodeHolder {
        width: 360px;
        height: auto;
        display: inline-block;
        position: relative;
        padding-left: 65px;
        /* margin: 15px 0; */
    }
    .overlay {
        padding-top: 14px;
    }
    .updatePincodeHolder:before {
        content: "Ship To";
        position: absolute;
        left: 0;
        bottom: 16px;
        font-size: 14px;
        line-height: 0px;
        color: #212121;
        font-family: semibold;
    }
    /* .updatePincodeHolder:after {
		content: '';
		width: 285px;
		height: 1px;
		background: #212121;
		position: absolute;
		bottom: 0px;
		right: 0;
	} */
    .otherText {
        color: #808080;
    }
    .buttonAddToBag {
        width: auto;
        height: auto;
        border-radius: 22.5px;
        transition: 300ms;
    }
    .shadowBtn {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
    .shadowBtn:hover {
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
    }
    .buttonDisabled {
        composes: buttonAddToBag;
        opacity: 0.5;
        pointer-events: none;
    }
    .loaderHolder {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 22.5px;
        background: rgba(255, 255, 255, 0.6);
        pointer-events: none;
        z-index: 2;
    }
    .loader {
        border: 3px solid #f3f3f3;
        animation: spin 1s linear infinite;
        border-top: 3px solid #555;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .cardHeaderHolder {
        width: 100%;
        height: auto;
        position: relative;
        padding-right: 40px;
    }
    .wisthListIconHolder {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    .deliveyModesHolder {
        width: 100%;
        height: auto;
        margin-top: 5px;
        display: inline-block;
    }
    .pinAndDeliveryHolder {
        width: 100%;
        height: auto;
    }
    .pointListHolder {
        width: 100%;
        height: auto;
        margin-top: 35px;
        margin-bottom: 35px;
        position: relative;
    }
    .viewDetails {
        width: auto;
        height: auto;
        color: #ff1744;
        font-size: 14px;
        font-family: regular;
        padding-left: 5px;
        cursor: pointer;
    }
    .pointHeader {
        width: 100%;
        height: auto;
        font-size: 14px;
        color: #212121;
        font-family: semibold;
        margin-bottom: 15px;
    }
    .buttonWrapper {
        width: 100%;
        height: auto;
        margin-top: 25px;
        display: inline-block;
    }
    .samsungChatImgHolder {
        position: relative;
        right: 0;
        top: 80%;
        z-index: 1;
    }
    .genericCountryPart {
        float: left;
        width: 100%;
    }
    .countryOfOrigin {
        margin-bottom: 25px;
    }
    .genericName {
        margin-bottom: 25px;
    }
    .genericLabel {
        font-size: 14px;
        color: #4a4a4a;
        float: left;
        padding-right: 65px;
        width: 300px;
    }
    .manufacturerDetailsBoldText {
        font-family: semibold;
    }
    .clickHere {
        font-size: 14px;
        font-family: light;
        border-bottom: 1px solid;
        cursor: pointer;
    }
}

.flixInpage {
    margin-top: 60px;
}
.yp_widget iframe {
    margin-top: 60px;
}
.chatIcon {
    display: flex;
}
.chatText p {
    font-size: 12px;
    padding: 11px 0px 3px 6px;
    color: #212121;
    font-family: light;
}
.chatText a {
    font-size: 12px;
    padding: 11px 0px 3px 6px;
    color: #ff1744;
    font-family: regular;
}
.productBundling {
    margin-top: 40px;
    background: #fff;
    padding: 34px 30px;
    float: left;
    width: 100%;
}
.bundledHeader {
    width: 100%;
    height: 36px;
    font-family: semibold;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
    margin-bottom: 25px;
}
.bundleContent {
    float: left;
    width: 100%;
    height: auto;
    /* padding-left: 70px; */
}
.bundledColumns {
    /* composes: image; */
    float: left;
    width: 23%;
    /* padding-right: 10px;
	padding-left: 70px; */
}
.bundledImage {
    width: 150.2px;
    height: 199.7px;
    /* position: relative; */
    padding-bottom: 5.3px;
}
.brandName {
    width: 200px;
    height: 17px;
    font-family: regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(33, 33, 33, 0.93);
    margin-bottom: 10px;
    padding-left: 4px;
    float: left;
}
.productName {
    width: 210px;
    height: auto;
    font-family: light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(33, 33, 33, 0.93);
    padding-left: 4px;
    float: left;
}
.reactSelectOption {
    width: 22%;
    float: left;
    padding-right: 10px;
}
.oneProduct {
    width: 40%;
    overflow: hidden;
    /* display: inline-block; */
    padding-right: 10px;
}

.oneProduct:first-child,
.reactSelectOption:first-child,
.bundledColumns:first-child {
    padding-left: 40px;
}
.reactSelectOption:last-child {
    padding-right: 0px;
}
.bundledColumns:first-child {
    padding-left: 40px;
}
.iconAddBundledProduct {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 80px;
    /* padding-left: 30px; */
    background: url(./img/Add.svg) no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
}
.iconAddOneBundledProduct {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 80px;
    margin-right: 172px;
    padding-left: 30px;
    background: url(./img/Add.svg) no-repeat;
    background-size: contain;
    background-position: center;
}
.openInAppButton {
    margin: 10px 0;
    display: inline-block;
}
.addIcon {
    align-items: center;
}
.priceHolder {
    display: inline-block;
    line-height: 24px;
}
.discount {
    composes: priceHolder;
    margin-right: 6px;
    font-size: 14px;
    color: #212121;
    /* padding-top: 10px; */
    font-family: light;
    float: left;
    width: auto;
    padding-left: 5px;
}
.priceCancelled {
    composes: priceHolder;
    text-decoration: line-through;
    color: #9b9b9b;
    font-size: 14px;
    float: left;
}
.discountClass {
    color: rgb(255, 23, 68);
    margin-left: 6px;
    font-size: 14px;
    font-family: light;
    float: left;
    line-height: 1.7;
}
.checkbox {
    width: 20px;
    height: 20px;
    border: solid 1px #fa1f41;
}
.priceDesciption {
    padding-top: 50px;
    margin-left: 70px;
    margin-right: 6px;
    font-size: 14px;
    font-family: light;
}
.discountedTitle {
    color: #9b9b9b;
}
.discountedPrice {
    width: 64px;
    height: 37px;
    display: inline-grid;
}
.AddToCartButton {
    float: right;
    width: 255px;
    height: 46px;
    border-radius: 100px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #ff1744;
    color: #ffffff;
    font-family: regular;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
}
.checkCircle {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 69px;
}
.squarebox {
    width: 20px;
    height: 20px;
    border: solid 1px #fa1f41;
}
.priceTotal {
    margin-top: 329px;
    padding-top: 50px;
    overflow: auto;
    width: 100%;
    padding-left: 40px;
}
.widthPrice {
    width: 82px;
    height: 100px;
    float: left;
}
.priceTotal {
    margin-top: 329px;
    padding-top: 50px;
    overflow: auto;
    width: 100%;
    padding-left: 40px;
}
.widthPrice {
    width: 82px;
    height: 100px;
    float: left;
}
.headerPrice {
    display: inherit;
    width: 70px;
    height: 17px;
    font-family: regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #979797;
}
.basePrice {
    width: 64px;
    height: 27px;
    font-family: regular;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4a4a4a;
}
.iconAddProduct {
    width: 20px;
    margin-top: 10px;
    height: 20px;
    float: left;
    background: url(./img/Add.svg) no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 71px;
    margin-right: 60px;
}
.pinAndDeliveryHolder {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
}
.selectedItem {
    font-family: regular;
    font-size: 14px;
    margin-left: 8px;
}
.iconEqual {
    width: 21px;
    height: 10px;
    margin-left: 74px;
    float: left;
    background: url(./img/Equal.svg) no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 73px;
    margin-top: 10px;
}
.baseEquals {
    width: 31px;
    display: inline;
}
.priceTotalText {
    width: 150px;
    height: 100px;
    float: left;
}
.totalPrice {
    height: 27px;
    font-family: regular;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4a4a4a;
}

.disabledButton {
    background-color: #8d8d8d;
    float: right;
    width: 255px;
    height: 46px;
    border-radius: 100px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    color: #ffffff;
    font-family: regular;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.invalidPinText {
    width: 100%;
    height: auto;
    display: inline-block;
    color: rgb(74, 74, 74);
    font-size: 12px;
    font-family: regular;
    padding-left: 75px;
}
.notServiciableTetx {
    width: 100%;
    height: auto;
    display: inline-block;
    color: #d88600;
    font-size: 12px;
    font-family: regular;
}
.deliveryModesHolder {
    width: 100%;
    height: auto;
    display: inline-block;
    /* margin-top: 35px; */
}
.productDetails {
    overflow: hidden;
    padding-left: 11px;
}
.bundledImageForOneProduct {
    width: 150.2px;
    height: 199.7px;
    float: left;
}
.bundleContentOneProduct {
    display: flex;
}
.priceTotalForOneProduct {
    /* margin-top: 329px; */
    padding-top: 50px;
    overflow: auto;
    width: 100%;
    padding-left: 40px;
}
.oneProductBundling {
    width: 30%;
    display: inline;
}
.bundleContentForOneProduct {
    width: 50%;
    padding-left: 15px;
    float: left;
}
.discountClassForOneProduct {
    color: rgb(255, 23, 68);
    display: inline-block;
    margin-left: 6px;
    font-size: 14px;
    font-family: light;
    padding-left: 15px;
}
.discountForOneProduct {
    composes: priceHolder;
    margin-right: 6px;
    font-size: 14px;
    color: #212121;
    /* padding-top: 10px; */
    font-family: light;
    padding-left: 18px;
    float: left;
}
.reviewListHolder {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.ratingTextContainer {
    display: flex;
    align-items: center;
}
.ratingText {
    font-family: regular;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #212121;
}

.starPLPElectronics {
    margin: 0 12px 0 10px;
}

.ratingLabel {
    margin: 0 6px;
    font-weight: 500;
    font-family: semibold;
}

.labelText {
    font-family: regular;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #4d4d4d;
    font-family: light;
}
