.base {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.productImageHolder {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.productDescriptionHolder {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.brandName {
    width: 100%;
    height: auto;
    color: #000;
    font-family: semibold;
    margin-bottom: 5px;
    font-size: 14px;
    display: inline-block;
    word-wrap: break-word;
}

.productName {
    composes: brandName;
    font-family: light;
}
.producMaterial {
    width: 100%;
    height: auto;
    color: #181818;
    font-family: regular;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
}
.productPrice {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    display: inline-block;
}
.productPrice .onPrice {
    width: auto;
    height: auto;
    color: #000;
    font-size: 14px;
    font-family: light;
    padding: 0px 10px 0px 0px;
}
.productPrice .deletePrice {
    width: auto;
    height: auto;
    color: #000;
    font-size: 14px;
    font-family: light;
    text-decoration: line-through;
}
.displayRating {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 5px;
}
.noOfReviews {
    width: auto;
    height: auto;
    display: inline-block;
    padding-left: 10px;
    color: #181818;
    font-size: 16px;
    font-family: regular;
}
.displayRatingText {
    width: 100%;
    height: auto;
    color: #8d8d8d;
    font-size: 14px;
    font-family: regular;
}
.displayRatingText span {
    padding-left: 6px;
}
.flag {
    width: 80px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    background: url(./img/flag.svg) no-repeat;
    font-family: bolder;
    background-size: contain;
    position: absolute;
    top: 20px;
    left: -2px;
    z-index: 5;
    padding-left: 5px;
    line-height: 20px;
}
.showAverageRatingWithDays {
    width: auto;
    height: auto;
    margin-left: 5px;
    font-size: 14px;
    font-family: light;
}
.productTitle {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: light;
    color: #181818;
    text-align: left;
    word-wrap: break-word;
}
.sizeHolder {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: light;
    margin-top: 5px;
}

.size {
    width: auto;
    height: auto;
    font-family: semibold;
}
