.bundlingMainContainer{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.bundlingHeadingContainer{
  width: 100%;
	background: #fafafa;
	font-size: 18px;
	padding: 22px 39px;
	font-family: semibold;
}
.details{
	position: relative;
  background-color: #ffffff;
  padding: 9px 49px 18px 49px;
}
.totalDetailsContainer{
	border-top: 1px solid #e5e5e5;
	display: inline-block;
	width: 100%;
	text-align: right;
	padding-top: 17px;
}
.totalDetailsText{
	display: inline-block;
	font-size: 16px;
  text-align: center;
	color: #2c2627;
	vertical-align: middle;
}
.totalPrice{
	display: inline-block;
	font-family: semibold;
  font-size: 24px;
  line-height: 0.67;
  letter-spacing: 0.05px;
	color: #2c2627;
	vertical-align: middle;
	margin: 0 16px;
}
.buttonContainer{
	display: inline-block;
	vertical-align: middle;
}
.productSelectionText{
	display: inline-block;
	font-size: 16px;
  text-align: center;
	color: #2c2627;
	margin-right: 35px;
}