.base {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 2px solid #d2d2d2;
  padding: 10px 0px;
}
.base:last-child {
  border: none;
}
.starHolder {
  width: auto;
  height: auto;
  display: inline-block;
}
.heading {
  width: 100%;
  height: auto;
  color: #181818;
  font-size: 14px;
  line-height: 35px;
  font-family: semibold;
  margin: auto;
}
.text {
  width: 100%;
  height: auto;
  color: #181818;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  margin: auto;
}
.dateTimeBox {
  width: 100%;
  height: auto;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 35px;
  white-space: initial;
  margin: auto;
  font-family: light;
}
.isBuyer {
  width: auto;
  height: 17px;
  line-height: 17px;
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.nameHolder {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.buyerIcon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: #8d8d8d url(./img/checkWhite.svg) no-repeat;
  background-size: auto 9px;
  background-position: center;
}
@media screen and (min-width: 1025px) {
  .base {
    border-bottom: 1px solid #d2d2d2;
    padding: 25px 0px;
  }
}
