.heading {
    font-size: 24px;
    font-family: "semibold";
    text-align: center;
    width: 288px;
    margin: 0 auto;
}

.ratingDetailsContainer {
	display: block;
    width: 310px;
    margin: 19px auto 0 auto;
    height: 340px;
    overflow-y: scroll;
}

.eachRatingContainer {
    display: block;
    width: 305px;
    height: 26px;
    margin-bottom: 25px;
}

.eachRating {
    display: inline-flex;
    width: 51px;
    height: 26px;
    background-color: #f3f3f3;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'light';
    color: #8d8d8d;
    border-right: 0.5px solid #ffffff;
    cursor: pointer;
}

.ratingStatusHigh1,
.ratingStatusHigh2,
.ratingStatusHigh3,
.ratingStatusHigh4,
.ratingStatusHigh5,
.ratingStatusLow1,
.ratingStatusLow2 {
    compose: eachRating;
}

.ratingStatusLow1 {
    background-color: #ffefbd;
}

.ratingStatusLow2 {
    background-color: #ffe692;
}

.ratingStatusHigh1 {
    background-color: #b4e59b;
}

.ratingStatusHigh2 {
    background-color: #94d175;
}

.ratingStatusHigh3 {
    background-color: #7cb95c;
}

.ratingStatusHigh4 {
    background-color: #519f29;
}

.ratingStatusHigh5 {
    background-color: #338715;
}

.eachRating:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.eachRating:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.qualityName {
    font-size: 16px;
    margin-bottom: 8px;
}

.ratingCount {
    display: inline-block;
    margin-left: 25px;
    font-size: 14px;
}

.ffLight {
    font-family: light;
}
