.heading {
    font-size: 24px;
    font-family: "semibold";
    text-align: center;
    width: 288px;
    margin: 0 auto;
}

.ratingDetailsContainer {
    display: block;
    position: relative;
    width: 365px;
    margin: 15px auto 0 auto;
}

.subHeading {
    font-size: 15px;
    font-family: "semibold";
    margin: 20px 0 14px 0;
}

.suggestionTitle {
    display: inline-block;
    padding: 6px 13px;
    background-color: #f5f5f5;
    margin: 0 18px 14px 0;
    font-size: 14px;
    font-family: 'light';
    border-radius: 4px;
    cursor: pointer;
}

.suggestionTitleSelected {
    display: inline-block;
    padding: 6px 13px;
    color: #ffffff;
    background-color: #212121;
    margin: 0 18px 14px 0;
    font-size: 14px;
    font-family: 'light';
    border-radius: 4px;
    cursor: pointer;
}

.reviewDetailsCount {
    font-size: 13px;
    font-family: 'light';
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.reviewGuidelines {
	font-size: 13px;
    color: #da1c5c;
    position: absolute;
    bottom: 8px;
    left: 10px;
    cursor: pointer;
}

.reviewGuidelinesBase {
	position: fixed;
    right: -340px;
    bottom: 0;
    width: 323px;
    height: auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 15%);
    padding: 24px;
}

.headerForGuidelines {
    font-family: semibold;
    font-size: 14px;
    color: #212121;
}

.reviewBody {
    padding-top: 19px;
}

.contentHeader {
	font-family: semibold;
    font-size: 14px;
	color: #4a4a4a;
}

.contentContainer {
	padding-left: 15px;
    margin: 9px 0 12px 0;
}

.contentContainer:last-child {
	padding-left: 15px;
    margin: 9px 0 0 0;
}

.reviewTipsText {
	font-size: 13px;
    font-family: light;
    line-height: 20px;
}
