<html>
<head>
<title>STATS HTML</title>
<script src="https://assets.adobedtm.com/9fd06d4068c619c47b289b9c496761efd086a233/satelliteLib-a0ad632385d69ca4056117f5eeb4c870b101150a-staging.js"></script>
</head>
<body>
<script type="text/javascript">
if (typeof(_satellite) != "undefined") {
	  _satellite.pageBottom();
}
</script>
</body>
</html>
