.saveButton {
  width: auto;
  height: auto;
  position: relative;
  color: #000;
  background-color: #fff;
  display: inline-block;
  padding: 0 20px 0 25px;
  cursor: pointer;
}

.iconHolder {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0.5;
  top: 0px;
  margin: auto;
}
.iconHolderSmall {
  composes: iconHolder;
  width: 18px;
  height: 18px;
}

.saveLabel {
  width: auto;
  height: auto;
  font-family: regular;
  font-size: 14px;
}
@media screen and (min-width: 1025px) {
  .iconButton {
    width: 45px;
    height: 45px;
    padding: 12px;
    cursor: pointer;
  }
  .saveLabel {
    color: #221122;
    font-family: regular;
  }
  .iconHolderForPdp {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: -5px;
  }
  .buttonAddToBag {
    width: auto;
    height: auto;
    border-radius: 22.5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
  }
  .buttonAddToBag:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
}
