.saveButton {
  width: auto;
  height: auto;
  position: relative;
  color: #000;
  background-color: #fff;
  display: inline-block;
  padding: 0 20px 0 30px;
  cursor: pointer;
}

.iconHolder {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0.5;
  top: 0px;
  margin: auto;
}

.saveLabel {
  width: auto;
  height: auto;
  font-family: regular;
  font-size: 14px;
}
@media screen and (min-width: 1025px) {
  .iconButton {
    width: 45px;
    height: 45px;
    padding: 12px;
    cursor: pointer;
  }
  .saveLabel {
    font-family: light;
  }
  .iconHolderForPdp {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: -5px;
  }
}
