.base {
  width: 100%;
  padding: 3vh 40px;
  height: auto;
  min-height: 540px;
  background: url(./img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: -60px;
  left: 0;
  right: 0;
}
.center {
  width: 100%;
  height: auto;
  text-align: center;
}
.logo {
  display: inline-block;
}
.goBack {
  width: 25px;
  height: 25px;
  position: absolute;
  background: url(./img/cancel.svg) no-repeat;
  background-size: auto 15px;
  background-position: center;
  right: 40px;
  top: 15px;
}
.footer {
  color: white;
  font-family: light;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.navigateButtonHolder {
  width: 100%;
  height: auto;
  margin-top: 3vh;
}
.socialButtons {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
.legalLinkHolder {
  width: 100%;
  height: auto;
  margin-top: 35px;
  position:fixed;
  left:40px;
  bottom:40px;
}
.linkLabel {
  width: auto;
  height: auto;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  height: 15px;
}
.linkLabel1 {
  display: inline-block;
  padding-left: 10px;
}
.linkLabel::after {
  content: "";
  width: 1px;
  height: 100%;
  border-left: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0px;
}
.link {
  width: auto;
  height: auto;
  color: #fff;
  font-size: 14px;
  font-family: light;
}
.signUpButtonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}
.signUpButton {
  width: auto;
  height: auto;
  display: inline-block;
}
.callUs {
  composes: link;
  padding-left: 10px;
}
.callUs a {
  text-decoration: none;
  color: #fff !important;
}
@media screen and (max-height:640px){
  .legalLinkHolder{
    position:static;
  }
}