.base {
  width: 100%;
  float: left;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}
.leftDesktopHolder {
  width: 50%;
  height: 100%;
  float: left;
  background: #ffffff;
  padding: 90px 100px 0px 100px;
}
.header {
  width: 100%;
  height: auto;
  text-align: left;
  color: #212121;
  font-size: 30px;
  font-family: semibold;
  margin-bottom: 30px;
}

.rightDesktopHolder {
  width: 50%;
  float: left;
  height: 100%;
  padding: 90px 100px 0px 100px;
  background: #f9f9f9;
}
.socialButtonHolder {
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.popup {
  position: absolute;
  width: 990px;
  max-width: 80%;
  height: 70%;
  max-height: 560px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  transform: translateY(100%);
  animation: slideInUp 200ms forwards;
  border-radius: 4px;
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.closeModal {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 0 3px 0 rgba(0, 0, 0, 0.12);
  top: -40px;
  background: #ff1744 url(./img/cancel.svg) no-repeat;
  background-size: auto 18px;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
