.base {
  width: 100%;
  height: calc(100vh - 100px);
  background: #ececec;
}
.loginAndSignUpHolder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginAndSignUp {
  width: auto;
  height: auto;
  display: flex;
}
.centerSection {
  width: 100%;
  min-width: 990px;
  height: auto;
  min-height: 580px;
  display: flex;
  flex-direction: row;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}
.leftDesktopHolder {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 100px 100px 0px 100px;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  color: #212121;
  font-size: 30px;
  font-family: regular;
  margin-bottom: 30px;
}
.loginContainerHolder {
  width: 100%;
  height: auto;
  display: flex;
}
.rightDesktopHolder {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 100px 100px 0px 100px;
  background: #f9f9f9;
}
.socialButtonHolder {
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}
