.input {
  width: 100%;
  margin-bottom: 30px;
}

.buttonLogin {
  text-align: center;
  width: 100%;

  margin-top: 10px;
}
.buttonHolder {
  display: inline-block;
}
.forgotButton {
  width: 100%;
  margin: 15px 0;
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .forgotButton {
    display: flex;
    justify-content: flex-end;
  }
  .buttonHolder {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
    border-radius: 20px;
  }
  .buttonHolder:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  }
}
@media screen and (max-width: 1024px) {
  .forgotButtonPosition {
    display: inline-block;
    margin-right: -15px;
  }
  .buttonHolder {
    width: 100%;
  }
}

.loadingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
