.input {
  width: 100%;
  margin-bottom: 30px;
}
.buttonHolder {
  display: inline-block;
}
.buttonSignup {
  width: 100%;
  float: left;
  margin-top: 25px;
}
@media screen and (max-width: 1024px) {
  .buttonSignup {
    text-align: center;
  }
  .buttonHolder {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .buttonHolder {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
    border-radius: 20px;
  }
  .buttonHolder:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
}
.loadingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.dummyDiv {
  width: 100%;
  height: 40px;
}
