.base {
  margin-top: 15px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .base {
    text-align: center;
    margin-top: 0px;
  }
  .holder {
    display: inline-block;
  }
  .facebookImageHolderDesktop {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background: url(./img/facebookForDesktop.svg) no-repeat;
    background-size: auto 46px;
    background-position: center;
    cursor: pointer;
  }
  .googleImageForDesktop {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background: url(./img/googleForDesktop.svg) no-repeat;
    background-size: auto 46px;
    background-position: center;
    cursor: pointer;
  }
  .socialButtonHolder {
    width: 100%;
    height: auto;
    margin-top: 26px;
  }
  .separator {
    composes: holder;
    margin: 0px 0px 0px 30px;
  }

  .textHolder {
    text-align: center;
  }
  .textHolder p {
    font-size: 16px;
    font-family: semibold;
  }
  .title {
    color: "#212121";
    font-size: 16px;
    font-family: semibold;
  }
}

@media screen and (max-width: 1024px) {
  .base {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .holder {
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  .separator {
    composes: holder;
    text-align: right;
  }
  .button {
    width: 130px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding-left: 45px;
    color: #818181;
    line-height: 40px;
    font-size: 14px;
    font-family: regular;
    display: inline-block;
    text-align: left;
  }
  .iconHolderFacebook {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(./img/ficon.png) no-repeat;
    background-size: auto 22px;
    background-position: center;
    border-radius: 4px;
  }
  .iconHolderGoogle {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(./img/glogo.png) no-repeat;
    background-size: auto 22px;
    background-position: center;
    border-radius: 4px;
  }
  .textHolder {
    text-align: center;
    margin-bottom: 20px;
  }
  .title {
    color: white;
    font-size: 14px;
    font-family: regular;
  }
}
