.base {
  width: 100%;
  height: auto;
  padding: 25px;
  display: inline-block;
}
.headerText {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #212121;
  font-family: regular;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
}
.button {
  width: auto;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 1025px) {
  .base {
    background-color: #fff;
    border-radius: 4px;
  }
  .headerText {
    width: 40%;
    text-align: left;
    font-family: semibold;
  }
  .buttonHolder {
    width: 60%;
    text-align: right;
  }
  .button {
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
    border-radius: 20px;
  }
  .button:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
}
