.base {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.couponInnerBox {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0px 0px 0px 35px;
  margin-bottom: 10px;
}
.couponIcon {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
}
.headingText {
  width: 100%;
  color: #000000;
  font-size: 14px;
  font-family: semibold;
  margin: auto;
  text-align: left;
  line-height: 25px;
  height: auto;
}
.labelText {
  width: 100%;
  color: #000000;
  font-size: 14px;
  font-family: regular;
  text-align: left;
  line-height: 30px;
  height: auto;
}
.daysAgo {
  font-family: regular;
  font-size: 14px;
  color: #000000;
}
@media screen and (min-width: 1025px) {
  .labelText {
    font-family: light;
    padding-left: 35px;
  }
  .dayAgo {
    composes: labelText;
  }
}
