.base {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.firstItemBase {
  composes: base;
  margin-top: 20px;
}
@media screen and (min-width: 1025px) {
  .base {
    margin: 80px auto 0px;
  }
}
