.base {
  width: 100%;
  background: #ececec;
  display: inline-block;
  height: auto;
  min-height: 100vh;
}
.addressBlock {
  background: #fff;
  border-radius: 4px;
}
.addressHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  border-bottom: 1px solid #ececec;
}
.name {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: semibold;
  margin-bottom: 10px;
}
.address {
  width: 100%;
  height: auto;
  color: #000;
  font-family: light;
  line-height: 20px;
  font-size: 14px;
}
.phoneNumber {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: light;
}
.actionHolder {
  width: 100%;
  height: auto;

  display: inline-block;
}
.buttonHolder {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.noAddressBlock {
  background: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
}
@media screen and (min-width: 1025px) {
  .base {
    display: inline-block;
    min-height: 100vh;
    background-color: #ececec;
    padding: 80px 0px 0px 0px;
    position: relative;
    padding-bottom: 100px;
  }
  .editAccountDetail {
    width: 60%;
    margin: auto;
    display: inline-block;
    padding: 0px 22px;
    max-width: 720px;
    border-radius: 4px;
    position: relative;
  }
  .addressHolder {
    padding: 28px;
  }
  .editAccountDetailWithHolder {
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
  }
  .addressBlock {
    margin-bottom: 22px;
  }
  .buttonHolder {
    height: 265px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  .actionHolder {
    padding: 30px;
  }
  .noAddressBlock {
    margin: 0px;
  }
  .button {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
    border-radius: 20px;
  }
  .button:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 1024px) {
  .addressHolder {
    padding: 15px;
  }
  .addressBlock {
    margin: 10px;
  }
  .actionHolder {
    padding: 15px;
  }
}
