.base {
  width: 100%;
  height: auto;
  display: inline-block;
}
.replaceHolder {
  height: auto;
  display: inline-block;
}
.replace {
  font-size: 14px;
  display: inline-block;
}
.reviewHolder {
  height: auto;
  display: inline-block;
  text-align: right;
}
.review {
  font-size: 14px;
  display: inline-block;
}
.reviewDesible {
  composes: review;
  opacity: 0.5;
  pointer-events: none;
}
@media screen and (min-width: 1025px) {
  .updateButtonHolder {
    width: 100%;
    height: auto;
    text-align: right;
  }
  .updateButton {
    width: auto;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
    border-radius: 20px;
    display: inline-block;
  }
  .updateButton:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
  .replaceHolder {
    float: right;
    width: auto;
    padding-right: 40px;
    padding-top: 10px;
  }
  .reviewHolder {
    width: auto;
    float: right;
  }
}
@media screen and (max-width: 1024px) {
  .replaceHolder {
    text-align: left;
    width: 50%;
  }
  .replace {
    opacity: 0.5;
  }
  .reviewHolder {
    width: 50%;
  }
}
