.base {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #ececec;
}
.order {
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  background: #fff;
}
.orderIdHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 25px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: inline-block;
}
.noOrder {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.noOderText {
  font-family: semibold;
  font-size: 14px;
  color: #181818;
  margin-bottom: 20px;
  line-height: 24px;
}
.continueShoppingButton {
  margin: auto;
  display: inline-block;
}
@media screen and (min-width: 1025px) {
  .base {
    padding: 22px 0px 70px 0px;
  }
  .order {
    padding: 30px;
    float: left;
  }
  .priceAndInfoHolder {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 25px;
    border-top: 1px solid #ececec;
  }
  .deliverLeftHolder {
    width: 50%;
    height: auto;
    float: left;
  }
  .priceRightHolder {
    width: 50%;
    height: auto;
    float: right;
  }
}
@media screen and (max-width: 1024px) {
  .base {
    padding: 15px 15px 70px 15px;
  }
}
