.base {
    height: 464px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    padding: 24px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: slideInUp 200ms forwards;
    text-align: center;
  }
  
  @keyframes slideInUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .headerText {
    font-family: semibold;
    font-size: 20px;
    color: #2d2d2d;
  }
  @media screen and (min-width: 1025px) {
    .base {
      width: 667px;
    }
  }

.closeIconBody {
    position: absolute;
    right: 15px;
    top: 15px;
}

.ticketTypeContentBody {
    width: 437px;
    margin: 0px auto;
    padding: 34px 0px 40px 0px;
    text-align: center;
}

.ticketTypeHeading {
    font-size: 20px;
    font-family: semibold;
    color: #2d2d2d;
}

.iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.duplicateIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.btnBody {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.messageBox{
    margin-top: 20px;
}