.base {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.header {
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family: semibold;
  margin-bottom: 15px;
}
.container {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  padding: 15px;
  border-top: 1px solid #ececec;
}
.holder {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 15px;
}
.left,
.right {
  composes: container;
}
@media screen and (min-width: 1025px) {
  .base {
    border-radius: 4px;
  }
  .holder {
    padding: 20px 30px;
    display: inline-block;
    margin-bottom: 0px;
  }
  .left {
    width: 50%;
    display: inline-block;
    padding-right: 10px;
    float: left;
  }
  .right {
    padding-left: 10px;
    width: 50%;
    display: inline-block;
    float: right;
  }
}
