.base {
  width: 584px;
  height: 188px;
  background: #fff;
  padding: 30px 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.cancelOrderTextHolder {
  width: 100%;
  height: auto;
  /* background: #fef6f7; */
  /* padding: 15px 136px 25px; */
  border-radius: 4px;
  text-align: center;
}
.cancelOrderText {
  width: 100%;
  height: 46px;
  color: #000;
  font-size: 19px;
  line-height: normal;
  font-family: regular;
  text-align: center;
  padding-left: 131px;
  padding-right: 131px;
}
.buttonHolderForCancelOrder {
  margin-top: 34px;
  float: left;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.buttonHolderForCloseModal {
  /* composes: buttonHolderForCancelOrder; */
  margin-top: 34px;
  margin-right: 34px;
  margin-left: 100px;
  float:left;
}
