.base {
  width: 100%;
  height: auto;
  display: inline-block;
}
.cancelButtonHolder {
  width: auto;
  height: auto;
  padding-right: 30px;
  float: right;
  margin: auto;
  padding-top: 8px;
}
.continueButtonHolder {
  width: auto;
  height: auto;
  float: right;
}
.continueButtonHolder1 {
  composes: continueButtonHolder;
  float: left;
}
.cancelButtonHolder1 {
  composes: cancelButtonHolder;
  float: left;
  padding-left: 30px;
}
