.base {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 6px 6px 0px 0px;
}
.cliqCashHolder {
  padding: 48px 76px 49px 76px;
}
.header {
  font-family: semibold;
  font-size: 20px;
  color: #212121;
  width: 100%;
  height: auto;
  text-align: center;
}
.subText {
  font-family: light;
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0.29;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 24px;
  line-height: 20px;
}
.cardNumber {
  width: 100%;
  height: auto;
}
.pinNumber {
  composes: cardNumber;
  padding-top: 24px;
}
.inputContainer {
  padding: 24px 42px;
}

.buttonHolder {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.button {
  height: 36px;
  width: 178px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(#ce5096, #da6060);
  border-radius: 16px;
  cursor: pointer;
}
.buttonText {
  font-size: 14px;
  color: #ffffff;
  font-family: semibold;
}
