.base {
  height: 464px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  padding: 24px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation: slideInUp 200ms forwards;
  text-align: center;
}
.heightOrder {
  height: 302px;
}
.heightOther {
  height: 339px;
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.headerText {
  font-family: semibold;
  font-size: 20px;
  color: #2d2d2d;
  margin-top: 20px;
}
.headerTextDuplicate {
  font-family: semibold;
  font-size: 20px;
  color: #2d2d2d;
  margin-top: 50px;
}
@media screen and (min-width: 1025px) {
  .base {
    width: 667px;
  }
}
.colorRed {
  color: #da1c5c;
  font-size: 14px;
  font-family: semibold;
}
.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.duplicateIcon {
  margin-top: 21px;
}
.txt {
  font-size: 12px;
  color: #2d2d2d;
  font-family: light;
  padding-bottom: 2px;
}
.duplicateTxt {
  font-size: 12px;
  color: #2d2d2d;
  font-family: light;
  padding: 29px 0px 0px 0px;

}
.ticketId,
.expDateTime {
  font-size: 14px;
  color: #2d2d2d;
  font-family: semibold;
}
.ticketIdBox {
  margin: 20px 0px;
}
.buttonHolder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marginTop {
  margin-top: 35px;
}
.closeModal {
  top: 14px;
  text-align: lecft;
  position: absolute;
  right: 17px;
  cursor: pointer;
}
