.base {
  /* width: 90%; */
  height: 345px;
  background-color: #fff;
  min-height: 464px;
  border-radius: 15px;
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation: slideInUp 200ms forwards;
  text-align: center;
}
.heightOrder{
  height: 302px;

}
.heightOther{
  height: 339px;
  
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* .headerTextWithIcon { */
  /* width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  min-height: 60px;
  margin-bottom: 10px; */
  /* display: flex;
  align-items: center;
  margin-bottom: 15px;
} */
.headerText {
  font-family: semibold;
  font-size: 20px;
  color: #2d2d2d;
  
}
/* .icon {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  border: solid 3px #000;
  left: 0;
  top: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.subText {
  font-family: regular;
  font-size: 12px;
  color: #555;
}
.blackBorderBottom {
  border-bottom: 2px solid #000;
  font-size: 12px;
  font-family: regular;
  padding-bottom: 10px;
}
.userDetails {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px 0px;
  border-bottom: 2px solid #000;
}
.userDetailsHeaderWithText {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 7px;
}
.userDetailsHeader {
  width: 100%;
  font-family: regular;
  font-size: 12px;
  font-family: semibold;
}
.userDetailsText {
  width: 100%;
  height: auto;
  display: inline-block;
  font-family: regular;
  font-size: 12px;
  color: #555;
}
.userDetailsHeaderWithCommentText {
  width: 100%;
  height: auto;
  display: inline-block;
}
.submittedText {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 10px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: right;
  margin-top: 20px;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
} */
@media screen and (min-width: 1025px) {
  .base {
    width: 49%;
  }
}
.colorRed {
  color: #da1c5c;
  font-size: 14px;
  font-family: semibold;
}
.image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.duplicateIcon{
  margin-top: 66px;
}
.txt{
  font-size: 12px;
  color: #2d2d2d;
  font-family: light;
  padding-bottom: 7px;
}
.duplicateTxt{
  font-size: 12px;
    color: #2d2d2d;
    font-family: light;
    /* padding-bottom: 7px; */
    padding: 10px 0px 60px 0px;
}
.ticketId, .expDateTime{
  font-size: 14px;
  color: #2d2d2d;
  font-family: semibold;
}
.ticketIdBox{
  margin: 20px 0px;
}
.buttonHolder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeModal{
  top: 14px;
    /* left: 11px; */
    text-align: lecft;
    position: absolute;
    /* left: 10px; */
    right: 9px;
}
.duplicate{
  
}