.container {
  display: inline-block;
  font-size: 1rem;
  width: 100%;
}

.wrapper {
  position: relative;
  flex-direction: row;
  padding-bottom: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  display: table;
  margin: 0 1em;
  margin-top: 1em;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.interactionDisabled {
  display: none;
}

.caption {
  display: table-caption;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  text-align: left;
  color: #4a4a4a;
  font-size: 14px;
  font-family: semibold;
  letter-spacing: 0.3px;
}

.caption > div {
  font-weight: 500;
  font-size: 1.15em;
}

.weekdays {
  display: table-header-group;
  margin-top: 1em;
  color: #4a4a4a;
  font-size: 12px;
  font-family: regular;
}

.weekdaysRow {
  display: table-row;
}

.weekday {
  display: table-cell;
  padding: 0.5em;
  color: #8b9898;
  text-align: center;
  font-size: 0.875em;
}

.weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.body {
  display: table-row-group;
}

.week {
  display: table-row;
}

.day {
  display: table-cell;
  padding: 0.5em;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #4a4a4a;
  font-size: 12px;
  font-family: regular;
  letter-spacing: 0.26px;
}

.weekNumber {
  display: table-cell;
  padding: 0.5em;
  min-width: 1em;
  border-right: 1px solid #eaecec;
  color: #8b9898;
  vertical-align: middle;
  text-align: right;
  font-size: 0.75em;
  cursor: pointer;
}

.interactionDisabled .day {
  cursor: default;
}

.footer {
  padding-top: 0.5em;
}

.todayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #4a90e2;
  font-size: 0.875em;
  cursor: pointer;
}

.today {
  color: #4a4a4a;
  font-weight: 400;
}

.outside {
  color: #8b9898;
  cursor: default;
  background: none !important;
}

.disabled {
  color: #dce0e0;
  cursor: default;
}
.sunday {
  background-color: #f7f8f8;
}
.selected:not(.disabled) {
  background: linear-gradient(#ee48a3, #da6060);
  color: #ffffff;
  font-weight: 400;
  border-radius: 16px;
}

.sunday:not(.today) {
  color: #dce0e0;
}

.selected:not(.disabled):not(.outside) {
  position: relative;
  background-color: #4a90e2;
  color: #f0f8ff;
}

.selected:not(.disabled):not(.outside):hover {
  background-color: #d3d3d3;
  color: #ffffff;
  font-weight: 400;
}
