.base {
	width: 100%;
	height: auto;
}
.inputHolder {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
.inputHolderForAWB {
	width: 100%;
	height: auto;
	margin-bottom: 24px;
}
.fileUploadHolder {
	width: 100%;
	height: 33px;
	vertical-align: top;
	position: relative;
	padding-right: 105px;
}
.fileUploadHolderWithoutBorder {
	width: 100%;
	height: 33px;
	vertical-align: top;
	position: relative;
	padding-right: 105px;
	border-bottom: 1px solid rgb(210, 210, 210);
}
.pathUploadHolder {
	width: 100%;
	height: 35px;
	padding: 0px 10px;
	border: 1px solid #d2d2d2;
	color: #212121;
	font-size: 14px;
	line-height: 33px;
	font-family: regular;
	border-radius: 2px;
	opacity: 0.7;
	overflow: hidden;
}
.pathUploadHolderWithoutBorder {
	width: 100%;
	height: 35px;
	color: #212121;
	font-size: 14px;
	line-height: 33px;
	font-family: light;
	border-radius: 2px;
	/* opacity: 0.7; */
}
.backgroudUpload {
	width: 524px;
	height: auto;
	margin-bottom: 15px;
	margin-right: 83px;
	font-size: 14px;
}
.fileHolder {
	width: 105px;
	height: 35px;
	position: absolute;
	background: #8d8d8d;
	color: #fff;
	font-size: 14px;
	line-height: 33px;
	text-align: center;
	right: 0;
	top: 0;
	font-family: regular;
	overflow: hidden;
	border: 1px solid #8d8d8d;
	border-radius: 0px 3px 3px 0px;
}

.fileHolderWithoutBorder {
	width: 105px;
	height: 35px;
	position: absolute;
	color: #ff1744;
	font-size: 14px;
	line-height: 33px;
	text-align: right;
	right: 0;
	top: 0;
	font-family: regular;
	overflow: hidden;
	cursor: pointer;
}
.file {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
