.base {
  width: auto;
  height: 25px;
  display: inline-block;
}
.logoutHolder {
  width: auto;
  height: auto;
  display: flex;
}
.menuIconLogOut {
  width: 25px;
  height: 25px;
  background: url(../../general/components/img/settingsblack.svg) no-repeat;
  background-size: auto 16px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
