.baseWrapper {
  width: 100%;
  /* height: auto; */
  /* height: 100vh; */
  margin: auto;
  background: #fff;
  /* padding-bottom: 50px; */
  /* padding: 60px 0px 100px 0px; */
  /* margin-bottom: 26px; */
  padding-bottom:40px; 
}

.issueOptionsBox {
  max-width: 760px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
.icon {
  padding-bottom: 24px;
}
.header {
  font-size: 24px;
  color: #4a4a4a;
  font-family: semibold;
}
.content {
  font-size: 16px;
  color: #212121;
  font-family: light;
  padding: 20px 0px;
}
.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #e8e8e8; */
  /* padding-bottom: 32px; */
  width: 100%;
  max-width: 578px;
  margin: auto;
}
.actionLiveChat {
  margin-right: 18px;
}

.callChatBox {
  display: flex;
  width: 100%;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  margin: 25px 0px 25px 0px;
}
.lineSeperator {
  width: 2px;
  height: 22px;
  background: #da1c5c;
}
.callIconNumber {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 30px 0px;
}

.contatUs {
  font-size: 16px;
  font-family: light;
  color: #212121;
}
.number {
  font-size: 14px;
  font-family: regular;
  color: #212121;
  margin-left: 14px;
}


.arrow {
  border: solid #da1c5c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.rightArrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.bottomButtonBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.customButton{
  font-size: 14px;
    font-family: regular;
    color: #da1c5c;
    cursor: pointer;
    padding: 0px 6px;

}
.buttonSeperator{
  background: #da1c5c;
  width: 1px;
  height: 17px;
  /* padding: 0px 5px; */
  margin: 0px 8px;
}