.base {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
}
.productImageHolder {
  width: 30%;
  height: auto;
  display: inline-block;
}
.productDetails {
  width: 70%;
  height: auto;
  display: inline-block;
  padding: 10px 0px 10px 20px;
  vertical-align: top;
}
.productName {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: regular;
  line-height: 20px;
  margin-bottom: 5px;
  display: inline-block;
}
.withCheckBox {
  composes: productName;
  position: relative;
  padding-right: 25px;
}
.checkBoxHolder {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.priceHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.price {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  color: #181818;
  font-size: 14px;
  font-family: regular;
}
.discountPrice {
  composes: price;
  color: #8d8d8d;
  text-decoration: line-through;
  padding-left: 10px;
}
.additionalContent {
  width: 100%;
  height: auto;
  display: inline-block;
}
.quantityHolder {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: regular;
  line-height: 20px;
  margin-top: 5px;
  display: inline-block;
}
.quantity {
  composes: price;
  padding-left: 5px;
}
.reSendEmail {
  font-size: 14px;
  padding-top: 5px;
  color: #ff1744;
  text-align: right;
  margin-top: 20px;
  padding-right: 30px;
}
.onHollow {
  composes: base;
}
@media screen and (min-width: 1025px) {
  .productImageHolder {
    width: 16%;
  }
  .productDetails {
    width: 84%;
    padding-left: 35px;
  }
  .productBrand {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #181818;
    font-family: semibold;
    margin-bottom: 10px;
  }
  .productName {
    font-family: light;
  }
  .onHollow {
    composes: base;
    background: #fff;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .orderPlaceAndId {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 15px;
  }
  .orderPlace {
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 14px;
  }
  .orderId {
    width: auto;
    height: auto;
    display: inline-block;
    float: right;
    font-size: 14px;
  }
  .orderHeader {
    font-family: regular;
  }
  .orderText {
    font-family: light;
  }
  .priceWithQuantity {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .priceHolder {
    width: auto;
  }
  .quantityHolder {
    width: auto;
    float: right;
  }
  .base {
    margin-bottom: 0px;
  }
}
