.base {
  width: 100%;
  height: auto;
  padding: 15px;
  background: #ececec;
}
.orderIdHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 25px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: inline-block;
}
.order {
  width: 100%;
  height: auto;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
}
.payment {
  border-top: 1px solid #ececec;
}
.orderStatusVertical {
  padding: 30px 0px;
  border-bottom: 1px solid #ececec;
}
.buttonHolderForUpdate {
  width: 100%;
  height: auto;
  display: inline-block;
}
.replaceHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
}
.replace {
  font-size: 14px;
  display: inline-block;
}
.reviewHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: right;
}
.review {
  font-size: 14px;
  display: inline-block;
}

.header {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  color: #212121;
  margin-bottom: 5px;
}
.row {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: light;
  color: #212121;
  line-height: 24px;
}
@media screen and (min-width: 1025px) {
  .base {
    padding: 80px 0px;
  }
  .orderIdAndPlacedHolder {
    width: 100%;
    height: auto;
    padding-right: 150px;
    position: relative;
  }
  .orderIdHolder {
    width: 100%;
    height: auto;
    color: #181818;
    font-family: light;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .orderIdHolder:last-child {
    margin-bottom: 0px;
  }
  .highlitedText {
    font-family: regular;
  }
  .buttonGoToBack {
    width: 140px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .order {
    padding: 30px;
  }
  .writeReviedButton {
    width: auto;
    height: auto;
    float: right;
  }
}
