.base {
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
}
.productImageHolder {
	width: 30%;
	height: auto;
	display: inline-block;
}
.productDetails {
	width: 70%;
	height: auto;
	display: inline-block;
	padding: 0px 0px 10px 20px;
	vertical-align: top;
}
.callOutTitle {
	font-family: light;
	font-size: 12px;
	margin-bottom: 8px;
	color: #181818;
	line-height: 22px;
}
.pickupAddressHolder {
	display: block;
	width: 100%;
	height: auto;
	margin: 10px 0 15px 0;
}
.calloutMessage {
	width: 100%;
	height: auto;
	color: #000000;
	font-size: 11px;
	font-family: light;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.calloutMessagePayment {
	width: 75%;
	height: auto;
	color: #000000;
	font-size: 11px;
	font-family: light;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.pickupAddressTitle {
	font-size: 14px;
	font-family: semibold;
	margin-bottom: 5px;
}
.pickupAddressText {
	font-size: 14px;
	font-family: light;
}
.productName,
.deliveryDate,
.orderStatusName {
	width: 100%;
	height: auto;
	color: #000;
	font-size: 14px;
	font-family: light;
	line-height: 22px;
	margin-bottom: 12px;
	display: inline-block;
	word-wrap: break-word;
}
.withCheckBox {
	composes: productName;
	position: relative;
	padding-right: 25px;
}
.checkBoxHolder {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.priceHolder {
	width: 100%;
	height: auto;
	display: inline-block;
}
.priceHolderForGiftCard {
	width: auto;
	height: auto;
	display: inline-block;
}
.price {
	width: auto;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	color: #181818;
	font-size: 14px;
	font-family: light;
	margin-bottom: 8px;
}
.egvPrice {
	width: auto;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	color: #4a4a4a;
	font-size: 14px;
	font-family: light;
	margin-bottom: 8px;
}
.egvCardNumber {
	width: auto;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	color: #181818;
	font-size: 14px;
	font-family: light;
	margin-left: 5px;
}
.discountPrice {
	composes: price;
	color: #8d8d8d;
	text-decoration: line-through;
	padding-left: 10px;
}
.additionalContent {
	width: 100%;
	height: auto;
	display: inline-block;
}
.quantityHolder {
	width: 100%;
	height: auto;
	color: #000;
	font-size: 14px;
	font-family: light;
	line-height: 20px;
	margin-top: 5px;
	display: inline-block;
}
.quantity {
	composes: price;
	padding-left: 5px;
}
.reSendEmail {
	font-size: 14px;
	padding-top: 5px;
	color: #ff1744;
	text-align: right;
	margin-top: 20px;
	padding-right: 30px;
}
.payments {
	border-top: 1px solid #ececec;
}
.noPayments {
	border-top: 1px solid #ececec;
}
.returnClosed {
	width: 100%;
	height: auto;
	margin-top: -2px;
	margin-bottom: 8px;
	/* padding-right: 40px; */
	font-family: light;
	font-size: 12px;
	color: #747474;
	cursor: pointer;
}
.sellerName {
	font-family: light;
	font-size: 12px;
	color: #747474;
	margin-bottom: 24px;
}
.labelOrderDetailsHeader {
	width: 100%;
	height: auto;
	color: #ff1744;
	font-size: 14px;
	font-family: semibold;
	margin-bottom: 10px;
}
.estimatedDeliveryDate {
display: none;
	font-size: 14px;
	margin-bottom: 10px;
	/* letter-spacing: 0.02px;
	color: black;
	font-family: Medium; */
}
.estimatedDeliveryDateByOrderHistory {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: light;
}
.estimatedDeliveryDateForHistory {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: light;
}
.boldText {
  font-family: semibold;
  padding-right: 5px;
}
.deliveryModeHolder {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: light;
  margin-top: 15px;
}
.deliveryModeHolderByOrderHistory {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: light;
  margin-top: 15px;
}
.deliveryModeHolderByOrderHistoryForOutSide {
  composes: deliveryModeHolderByOrderHistory;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ffsemibold {
	letter-spacing: 0.02px;
	color: black;
	font-family: semibold;
	font-size: 14px;
	margin-bottom: 10px;
}
.estimatedDate {
	font-size: 14px;
	margin-bottom: 10px;
	letter-spacing: 0.02px;
	color: black;
	font-family: light;
}
.deliveryDate {
	font-family: semibold;
	font-size: 14px;
	margin-bottom: 8px;
	line-height: 14px;
	color: black;
}
.calloutMessage,
.edd,
.edd .ffsemibold {
	font-family: light;
	font-size: 14px;
	line-height: 22px;
	color: #747474;
	width: 100%;
	height: auto;
	word-wrap: break-word;
}
.trackOrderText {
	font-size: 14px;
	color: #ff1744;
	font-family: semibold;
	padding-top: 27px;
	cursor: pointer;
}
.rightArrow {
	border: solid #000000;
	border-width: 0 2px 2px 0;
	padding: 3px;
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	float: right;
	top: 96px;
	right: 5px;
	cursor: pointer;
}

.styleDate {
	font-size: 14px;
	font-family: light;
	color: #181818;
}
.cancelTitle {
	font-family: semibold;
	font-size: 16px;
	padding-bottom: 21px;
}

.breachMessage{
    font-size: 12px;
    color: #D88900;
    font-family: regular;
    padding-bottom: 8px;
		/* padding-right: 150px; */
		line-height: 1.2;
		max-width: 85%;
}

@media screen and (min-width: 1025px) {
	.productImageHolder {
		width: 16%;
		cursor: pointer;
	}
	.eddMessage {
    width: 75%;
    font-size: 12px;
    color: #d88900;
    padding-bottom: 10px;
  }
  .message {
    font-size: 12px;
    font-family: light;
    color: #4a4a4a;
    padding-bottom: 24px;
    border-bottom: 1px solid #eeeeee;
  }
  .qPicDetailsHolder {
    padding: 24px 0px;
    border-bottom: 1px solid #eeeeee;
  }
  .labelHolder {
    width: 100%;
    display: inline-block;
    padding-bottom: 14px;
  }
  .label {
    width: 20%;
    display: inline-block;
    font-size: 14px;
    color: #212121;
    font-family: semibold;
    vertical-align: top;
  }
  .semiColon {
    width: 10%;
    display: inline-block;
    font-size: 14px;
    color: #212121;
    font-family: semibold;
    vertical-align: top;
  }
  .labelDetails {
    width: 70%;
    display: inline-block;
    font-size: 14px;
    columns: #212121;
    font-family: light;
    vertical-align: top;
  }
	.productDetails {
		width: 84%;
		padding-left: 21.6px;
	}
	.productBrand {
		width: 100%;
		height: auto;
		font-size: 14px;
		color: #181818;
		font-family: semibold;
		margin-bottom: 10px;
	}
	.productName {
    font-family: light;
  }
	.onHollow {
		composes: base;
		background: #fff;
		padding: 34px;
		margin-bottom: 10px;
		border-radius: 4px;
	}
	.orderPlaceAndId {
		width: 100%;
		height: auto;
		display: inline-block;
		margin-bottom: 15px;
	}
	.orderPlace {
		width: auto;
		height: auto;
		display: inline-block;
		font-size: 14px;
	}
	.orderId {
		width: auto;
		height: auto;
		display: inline-block;
		float: right;
		font-size: 14px;
	}
	.orderHeader {
		font-family: light;
	}
	.orderText {
		font-family: light;
	}
	.commonTitle {
		margin-top: 15px;
		font-size: 12px;
		letter-spacing: 0.02px;
		color: rgb(33, 33, 33);
		margin-bottom: 8px;
	}
	.priceWithQuantity {
		width: 100%;
		height: auto;
		display: inline-block;
	}
	.priceHolder {
		width: auto;
	}
	.quantityHolder {
		width: auto;
		float: right;
	}
	.quantityHolderRight {
    width: auto;
    float: right;
  }
	.base {
		margin-bottom: 0px;
	}
	.reSendEmail {
		font-size: 14px;
		padding-top: 0px;
		margin-top: 2px;
		padding-left: 10px;
		float: right;
		cursor: pointer;
	}
	.deliveryModeText {
		width: 70%;
		height: auto;
		display: inline-block;
	}
	.changeButton {
		width: 30%;
		height: auto;
		display: inline-block;
		text-align: right;
		font-size: 14px;
		font-family: semibold;
		color: #ff1744;
		cursor: pointer;
	}
	.changeButtonForOrderHistory {
		width: 100%;
		height: auto;
		display: inline-block;
		font-size: 14px;
		font-family: semibold;
		color: #ff1744;
		margin-bottom: 5px;
		cursor: pointer;
	}
	.egvText {
		color: #000000;
		font-size: 12px;
		font-family: semibold;
		margin-top: 12px;
	}
	.egvAmount {
		color: #000000;
		font-size: 12px;
		font-family: semibold;
		margin-top: 2px;
	}
	.five {
		width: 5px;
	}
}
