.base {
	width: 100%;
	height: auto;
	padding: 15px;
	background: #ececec;
}
.orderIdHolder {
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
	background-color: #fff;
}
.orderIdHolderItemDetails {
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: 25px;
	position: relative;
	background-color: #fff;
}
.commonTitle {
	font-size: 14px;
	letter-spacing: 0.02px;
	color: rgb(33, 33, 33);
	margin-bottom: 14px;
}
.storeDetails {
	margin-bottom: 35px;
}
.colon {
	width: 5%;
	padding-left: 3px;
	font-family: semibold;
	display: inline-block;
}
.width20 {
	width: 20%;
	height: 16px;
	display: inline-block;
	color: #000000;
	vertical-align: top;
	font-family: semibold;
	font-size: 14px;
}
.width75 {
	width: 75%;
	display: inline-block;
	color: #000000;
	text-transform: capitalize;
	font-family: light;
	font-size: 14px;
	letter-spacing: 0.02px;
	height: 16px;
}
.ffsemibold {
	font-family: semibold;
	width: 25%;
}
.buttonHolder {
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: inline-block;
}
.ratingReviewHolder {
	position: relative;
	padding-bottom: 5px;
	border-bottom: 1px solid #efefef;
	margin-bottom: 15px;
}
.divider {
	border-bottom: 1px solid #efefef;
	padding-top: 10px;
}
.orderItemDateID {
	font-size: 11px;
	font-family: light;
	color: #4a4a4a;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.orderItemDateID > div {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.rateThisItem {
	margin-top: 31px;
	font-family: semibold;
	padding: 0 0 18px 0;
	font-size: 14px;
}
.boxReview {
	border-radius: 100px;
	height: 36px;
	width: 180px;
	border: 2px solid black;
	margin-top: -23px;
	margin-bottom: 21px;
}
.reviewText {
	font-size: 14px;
	color: black;
	text-align: center;
	font-family: semibold;
	padding: 9px 15px 9px 16px;
	margin-left: 16px;
}
.order {
	width: 100%;
	height: auto;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	background: #fff;
	padding: 15px;
	border-radius: 4px;
}
.payment {
	border-top: 1px solid #ececec;
	margin-bottom: 60px;
}
.greyishLine {
	margin-top: 20px;
}
.orderStatusVertical {
	/* padding: 30px 0px; */
	padding: 0px 0px 30px;
	margin-top: 52px;
	/* border-bottom: 1px solid #ececec; */
}
.helpSupport {
	width: 30%;
	float: right;
	color: #ff1744;
	font-size: 14px;
	font-family: semibold;
	line-height: 35px;
	cursor: pointer;
	letter-spacing: 0.02px;
	text-align: right;
	/* color: #212121;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #efefef;
	display: block;
	position: relative; */
}
.buttonHolderForUpdate {
	width: 100%;
	height: auto;
	display: inline-block;
}
.buttonSupport {
	width: 25%;
}
.replaceHolder {
	width: 50%;
	height: auto;
	display: inline-block;
	text-align: left;
}
.replace {
	font-size: 14px;
	display: inline-block;
}
.reviewHolder {
	width: 50%;
	height: auto;
	display: inline-block;
	text-align: right;
}
.review {
	font-size: 14px;
	display: inline-block;
}

.header {
	width: 100%;
	height: auto;
	font-size: 14px;
	font-family: semibold;
	color: #212121;
	margin-bottom: 5px;
}
.row {
	width: 100%;
	height: auto;
	font-size: 14px;
	font-family: light;
	color: #212121;
	line-height: 24px;
}
@media screen and (min-width: 1025px) {
	.base {
		padding: 80px 0px;
	}
	.reviewText {
		display: inline-block;
	}
	.orderIdAndPlacedHolder {
		width: 75%;
		height: auto;
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
	}
	.orderIdHolder {
		width: 100%;
		height: auto;
		color: #181818;
		font-family: light;
		font-size: 14px;
		/* padding: 34px 34px 24px 34px; */
	}
	.orderIdHolderItemDetails {
		width: 100%;
		height: auto;
		color: #181818;
		font-family: light;
		font-size: 14px;
		padding: 34px 34px 24px 34px;
	}
	.orderIdHolder:last-child {
		margin-bottom: 0px;
	}
	.highlightedText {
		font-family: light;
		font-size: 14px;
		line-height: 22px;
		color: black;
		bottom: 10px;
	}
	.itemDetails {
		font-size: 16px;
		color: #000000;
		margin-bottom: 21px;
		font-family: semibold;
	}
	.buttonGoToBack {
		width: 25%;
		height: auto;
		font-family: semibold;
		font-size: 14px;
		color: #ff1744;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	}
	.order {
		padding: 34px;
	}
	.order:last-child {
		margin: 0px;
	}
	.writeReviedButton {
		width: auto;
		height: auto;
		float: left;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
		transition: 300ms;
		border-radius: 20px;
		margin-top: -34px;
		margin-bottom: 69px;
	}
	.cancelProduct {
		width: 35%;
		height: auto;
		float: left;
		padding-right: 40px;
		color: #ff1744;
		font-size: 14px;
		font-family: semibold;
		line-height: 35px;
		cursor: pointer;
	}
	.returnClosed {
		width: 100%;
		height: auto;
		padding-right: 40px;
		color: #8d8d8d;
		font-size: 14px;
		font-family: light;
		cursor: pointer;
	}

	.writeReviedButton:hover {
		box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
	}
}
