.base {
  width: 100%;
  height: auto;
  background: #ececec;
  min-height: 100vh;
}
.header {
  width: 100%;
  height: 60px;
  background: #fff;
}
.orderHolder {
  width: 100%;
  height: auto;
  background-color: #ececec;
  display: inline-block;
  padding: 20px;
  position: relative;
}
.selectedOrder {
  width: 100%;
  height: auto;
  display: inline-block;
  background: #fff;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
}
.iconHolder {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-image: url("../../general/components/img/down-arrow.svg");
  position: absolute;
  background-size: auto 14px;
  background-repeat: no-repeat;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center;
  transition: 300ms;
}
.iconRotate {
  composes: iconHolder;
  transform: rotate(180deg);
}
.selectIssueHolder {
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding: 20px;
}
.secondOrder {
  width: 100%;
  height: auto;
}
.selectIssue {
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.selectImageHolder {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
.validImage {
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 10px;
  text-align: left;
  color: #212121;
  padding-left: 32px;
}
.imageInput {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 20px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
}
.button {
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
}
.otherIssueHolder {
  width: 100%;
  height: auto;
  padding: 20px;
}
.textInformationHolder {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 22px;
}
.orderCardHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px 0px;
}
.imageHolder {
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0px 10px 10px;
}
.dataHolder {
  width: 70%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 0px 10px;
}
.dataDescription {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 13px;
  font-family: regular;
  line-height: 20px;
}
.dataDescription:last-child {
  margin-bottom: 0px;
}
.headingHolder {
  width: 100%;
  height: auto;
  position: relative;
}
.dummySelectBoxWithIcon {
  width: 100%;
  height: auto;
  position: relative;
}
.dummySelectBox {
  margin-top: 25px;
  width: 100%;
  height: 33px;
  border-radius: 4px;
  border: solid 1px #d2d2d2;
  font-size: 14px;
  font-family: regular;
  line-height: 33px;
  padding-left: 10px;
}
.selectOrderHolder {
  width: 100%;
  height: auto;
  background: #fff;
  min-height: 100vh;
  padding: 20px;
}
.orderCard {
  width: 100%;
  height: auto;
}
.productsDetailsHolder {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px #d2d2d2;
  margin-bottom: 20px;
}
.productsDisplayHolder {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px #d2d2d2;
  margin-top: 22px;
}
.loadData {
  width: auto;
  height: auto;
  font-size: 14px;
  text-align: center;
  font-family: regular;
}
.ticketAnswer {
  width: 100%;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: regular;
  line-height: normal;
}
.base a {
  border-bottom: 1px solid #000;
}
@media screen and (min-width: 1025px) {
  .baseWrapper {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0px 100px 0px;
  }
  .labelHeader {
    width: 100%;
    height: auto;
    color: #000000;
    font-size: 30px;
    font-family: regular;
    margin-bottom: 30px;
  }
  .formAbdTabHolder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .tabHolder {
    width: 30%;
    height: auto;
    min-height: 200px;
    padding-right: 20px;
  }
  .formHolder {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .formWrapper {
    width: 40%;
    height: auto;
  }
  .buttonHolder {
    text-align: left;
  }
  .firstTab {
    width: 100%;
    height: auto;
  }
  .switchTabHolder {
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  .tabHeader {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #f9f9f9;
    padding: 0px 20px;
    color: #000000;
    font-size: 18px;
    font-family: semibold;
  }
  .tabDataHolder {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    color: #000000;
    font-family: light;
    position: relative;
    cursor: pointer;
  }
  .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 140px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(./img/arrow.svg) no-repeat;
    background-size: auto 15px;
    background-position: center;
    opacity: 0;
    transition: 300ms;
  }
  .activeArrow {
    composes: arrow;
    opacity: 1;
  }
  .activeTab {
    composes: tabDataHolder;
    color: #ff1744;
  }
  .productsDisplayHolder {
    box-shadow: initial;
    margin-top: 15px;
  }
  .imageHolder {
    width: 15%;
    padding: 0px 10px 0px 0px;
  }
  .dataHolder {
    width: 85%;
    padding: 10px 10px 0px 20px;
  }
}
