.base {
  width: 100%;
  height: auto;
  background: #fff;
}
.paymentHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 37px;
  padding-bottom: 37px;

}
.paymentMethod {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-family: semibold;
  font-size: 14px;
}
.requestHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: right;
  font-family: regular;
  font-size: 14px;
}
.requestWithUnderline {
  display: inline-block;
}
.helpHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: right;
  font-family: semibold;
  font-size: 14px;
  color: #ff1744;
  cursor: pointer;
}
.cashAndMobileHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}

.cashText {
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 14px;
  font-family: regular;
}
.mobileNumber {
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 14px;
  font-family: regular;
}

@media screen and (min-width: 1025px) {
  .cashText {
    font-family: light;
    display: inline;
  }
  .mobileNumber {
    font-family: light;
  }
}
