.base {
  width: 100%;
  height: auto;
  overflow: hidden;
  vertical-align: top;
  border-radius: 4px;
  max-width: 240px;
}
.profiledata {
  width: 100%;
  height: auto;
  background-color: #fff;
  height: auto;
  padding: 20px;
}
.header {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  padding: 20px;
  background-color: #f9f9f9;
}
.holder {
  width: 100%;
  height: auto;
  line-height: 35px;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
}
.gridText {
  width: 100%;
  height: auto;
  padding: 0px 20px 0px 30px;
  font-family: regular;
  font-size: 14px;
  color: #212121;
  transition: 300ms;
}
.gridText:hover {
  color: #ff1744;
}
.gridLogo {
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.textSelect {
  composes: gridText;
  color: #ff1744;
}
@media screen and (max-height: 780px) {
  .base {
    width: 100%;
    position: relative;
  }
}
