.promoContainer{
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-basis: 42%;
  margin: 20px;
  padding: 40px 10px 15px;
}

.rewardsTypeImg {
  width: 138px;
  height: 108px;
  display: block;
  margin: 0 auto 10px;
}

.rewardAmt {
  text-align: center;
  color: #212121;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px
}
.rewardExpDate {
  text-align: center;
  color: #212121;
  font-size: 19px;
  font-weight: 300;
}
.availFromBlock {
  background-image: url(./img/available_soon.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  padding-bottom: 42%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -ms-flex-preferred-size: 44%;
  flex-basis: 43%;
  background-color: #ffd9e0;
  margin: 20px;

}
/*
.availFromBlock:nth-child(odd) {
  margin: 0px 80px 20px 0px;
}
.availFromBlock:nth-child(even) {
  margin: 0 0 20px 0px;
} */



.availTxtBlock {
  width: 50%;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: -16% 0 0 -25%;
}
.availFromtxt {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  width: 50%;
  line-height: 1.4;
  margin: 10px auto 0;
  letter-spacing: 0.03px;
}
.availFromDate {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}