.promoContainer{
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-basis: 48%;
 margin: 20px 0;
}
.rewardsTypeImg {
  max-width: 69%;
  display: block;
  margin: 0 auto 10px;
}

.rewardAmt {
  text-align: center;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px
}
.rewardExpDate {
  text-align: center;
  color: #212121;
  font-size: 11px;
  font-weight: 300;
}
.availFromBlock {
  background-image: url(/static/media/available_soon.96d8d89d.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    padding-bottom: 42%;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -ms-flex-preferred-size: 44%;
    flex-basis: 48%;
    background-color: #ffd9e0;
    margin: 20px 0px;
    /* margin-left: 15px; */
}
/*
.availFromBlock:nth-child(odd) {
  margin: 0px 80px 20px 0px;
}
.availFromBlock:nth-child(even) {
  margin: 0 0 20px 0px;
} */



.availTxtBlock {
  width: 50%;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -25%;
}
.availFromtxt {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  width: 50%;
  line-height: 1.4;
  margin: 10px auto 0;
}
.availFromDate {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}