.content {
	width: 100%;
	height: auto;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 20px;
}
.card {
	width: 100%;
	height: auto;
	padding: 15px;
	border-bottom: 1px solid #ececec;
	position: relative;
}
.buttonHolder {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 20px 0;
}
.buttonHolder:last-child {
	margin: 20px 0 0 0;
}
.summaryTitle {
	font-size: 14px;
	text-align: center;
	font-family: semibold;
}
.summaryHeading {
	font-size: 18px;
	font-family: semibold;
}
.summaryText {
	font-size: 14px;
	font-family: light;
	padding: 15px 0;
	border-bottom: 1px solid #f8f8f8;
}
.summarySmallHeading {
	font-size: 14px;
	font-family: semibold;
	padding: 15px 0;
}
.iconHolder {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.trackOrderButton {
	font-size: 12px;
	font-family: semibold;
	color: #ff1744;
	padding-left: 65px;
}
