.content {
	width: 100%;
    height: auto;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 34px;
}
.card {
	width: 100%;
	height: auto;
	/* padding: 15px; */
	border-bottom: 1px solid #ececec;
	position: relative;
}
.cardCondition {
	width: 100%;
    height: auto;
    /* padding-top: 34px; */
    /* padding-bottom: 34px; */
    /* border-bottom: 1px solid #ececec; */
    position: relative;
}
.payments {
	border-top: 1px solid #ececec;
}
/* .bankDetailsSection {
	/* padding-bottom: 34px; }*/

.returnMode {
	/*padding-top: 34px; */
    /* padding-left: 34px; */
    font-family: semibold;
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
}
.customerCareCall {
	font-size: 12px;
	font-family: light;
}
.rightArrow {
    /* width: 25%; */
    border: solid #000000;
    border-width: 0 2px 2px 0;
    padding: 3px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    right: 0;
}
.replaceRefundHeading {
	width: 75%;
	font-size: 14px;
	font-family: semibold;
	/* margin-left: 34px; */
	margin-bottom: 4px;
}
.replaceRefundModeSelctnHeading {
	width: 75%;
    font-size: 14px;
    font-family: semibold;
    /* margin-left: 34px; */
    margin-bottom: 14px;
    /* padding-top: 34px; */
    /* margin-top: 34px;*/
}
.replaceRefundText {
	font-size: 14px;
    font-family: light;
    color: #747474;
    letter-spacing: 0px;
    width: 220px;
    /* margin-left: 34px; */
    margin-top: 4px;
    margin-bottom: 34px;
}
.infoIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://pwassets.tatacliq.com/static/media/infoIcon.67ee526e.svg) no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin-right: 10px;
}
.infoText {
	display: inline-block;
	vertical-align: middle;
}
.refundModeContainer {
	width: 90%;
    border: 1px solid #efefef;
    border-radius: 4px;
    /* margin-top: 10px; */
    /* margin-left: 5%; */
    /* margin-right: 5%;*/
}
.chooseMode {
	width: 100%;
	padding: 12px 20px;
	font-size: 14px;
	font-family: semibold;
	line-height: 22px;
	color: black;
	border-bottom: 1px solid #efefef;
}
.modeContent {
	padding: 20px 20px;
}
label {
	display: block;
	font-size: 14px;
	font-family: semibold;
	margin-bottom: 15px;
}
.radioBtn {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: text-top;
	margin: 0 10px 0 0;
}
.radioBtnSubText {
	font-size: 14px;
    font-family: light;
    display: block;
    padding: 5px 0 0 25px;
    letter-spacing: 0;
    color: #747474;
}
.checkRefundTerms {
	width: 15px;
	height: 15px;
}
.buttonHolder {
	width: 100%;
	height: auto;
	margin-top: 20px;
	/* position: absolute; */
	left: 0;
	/* background: #fff; */
	padding: 15px 0;
}
.button {
	/* float: center; */
	padding-right: 30%;
	padding-left: 30%;
}
.checkRefundTermsContainer {
	width: auto;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.checkRefundTermsText {
	width: 85%;
    display: inline-block;
    font-size: 12px;
	font-family: light;
	letter-spacing: 0;
}
.productSizeColor {
	width: auto;
	height: auto;
	color: #000000;
	font-size: 12px;
	font-family: light;
}
.cliqCashInstant {
	font-family: regular;
	font-size: 10px;
	margin-left: 10px;
	vertical-align: middle;
	color: #ff1744;
}
.addBankDetailsButton {
	font-size: 14px;
	padding: 10px;
	border: 1px solid #212121;
	border-radius: 20px;
	width: 190px;
	margin: 0 auto;
	text-align: center;
	font-family: semibold;
	margin-top: 15px;
}
.bankDetailsHeading {
	font-size: 14px;
	font-family: semibold;
	display: inline-block;
	width: 60%;
	margin-bottom: 15px;
	margin-left: 23px;
	color: black;
}
.changeBankDetails {
	font-size: 14px;
	color: #ff1744;
	font-family: semibold;
	display: inline-block;
	width: 35%;
	text-align: right;
	margin-bottom: 15px;
}
.bankDetailsText {
	font-size: 14px;
    font-family: light;
    width: 43%;
    color: #747474;
    display: inline-block;
    margin-left: 31px;
    height: 17px;
    margin-bottom: 10px;
}
