@media screen and (min-width: 1025px) {
  .base {
    width: 100%;
    height: auto;
    padding: 30px 0px;
  }
  .location {
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0px;
    padding: 30px 0px;
    border-bottom: 1px solid #a3a3a3;
  }
  .locationWithPincode {
    width: 50%;
    height: auto;
  }
  .singleCardHolder {
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #d2d2d2;
  }
  .addressDetail {
    height: auto;
    width: 100%;
  }
  .buttonHolder {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .cancelButtonHolder {
    width: auto;
    height: auto;
    padding-right: 30px;
    float: right;
    margin: auto;
    padding-top: 8px;
  }
  .continueButtonHolder {
    width: auto;
    height: auto;
    float: right;
  }
}
