.base {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 15px;
  background: #ececec;
  min-height: 100vh;
}
.loadingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.headerHolder {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.listCardHolder {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px 0px 25px;
  border-radius: 4px;
}
.noSaveListBlock {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 73px 56px;
}
.noSaveListText {
  text-align: center;
  font-family: semibold;
  font-size: 14px;
  margin: auto;
  line-height: 25px;
}
.buttonHolder {
  padding-top: 44px;
  text-align: center;
}
.button {
  text-align: center;
  display: inline-block;
}
@media screen and (min-width: 1025px) {
  .base {
    background-color: #ececec;
    padding: 80px 0px 0px 0px;
  }
  .saveListDetailsWithHolder {
    width: 100%;
    height: auto;
  }
  .dataHolder {
    width: 100%;
    height: auto;
    background: #ececec;
  }
  .saveListDetail {
    width: 60%;
    margin: auto;
    display: inline-block;
    padding: 0px 15px 0px 15px;
    max-width: 720px;
  }
  .listCardHolder {
    padding: 30px;
  }
}
