.base {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 30px 20px;
	position: absolute;
	bottom: 0;
}
.textHolder {
	width: 100%;
	height: auto;
	font-size: 12px;
	letter-spacing: 0.24px;
	line-height: 20px;
}
.closeIcon {
	position: absolute;
	right: 10px;
	top: 10px;
}
