.timeslotBox{
    width: 532px;
}
.dateBox{
    margin-top: 18px;
}
.dateSection{
    padding: 11px 15px;
    background: #fff;
    border-radius: 4px;
    border-top: 2px solid #ccc;
}
.txt{
    font-size: 12px;
    color: #9d9e9f;
    font-family: regular;
    margin-bottom: 9px;
}
.timeCard{
    font-size: 12px;
    width: 31%;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 11px;
    margin-bottom: 11px;
    padding: 9px 10px;
    text-align: center;
    color: #212121;
    border-radius: 2px;
}