.base {
	width: 667px;
	height: 395px;
	background: #fff;
	padding: 25px;
}
.headerText {
	width: 231px;
	height: 26px;
	color: #000;
	font-size: 20px;
	font-family: semibold;
	margin-bottom: 20px;
	text-align: left;
}
