.base {
  width: 100%;
  height: auto;
  display: inline-block;
  min-height: 100vh;
}
.tabHeader {
  width: 100%;
}
.tabBody {
  width: 100%;
  height: auto;
  background-color: #ececec;
  margin-top: 15px;
}
@media screen and (min-width: 1025px) {
  .base {
    background-color: #ececec;
    padding: 80px 0px 100px 0px;
    min-height: 0px;
  }
  .alertAndCouponDetailsWithHolder {
    width: 100%;
    height: auto;
  }
  .alertAndCouponDetail {
    width: 60%;
    margin: auto;
    display: inline-block;
    padding: 0px 22px;
    max-width: 720px;
  }
  .tabBody {
    padding-top: 80px;
    margin-top: 0px;
    display: inline-block;
  }
  .tabHeader {
    display: inline-block;
    max-width: 676px;
    position: sticky;
    top: 180px;
    z-index: 20;
    border-radius: 4px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .tabBody {
    padding: 15px;
  }
}
