.base {
  width: 100%;
  height: auto;
  background-color: #ececec;
  padding-top: 50px;
  position: relative;
}

.searchBar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.searchResults {
  width: 100%;
  padding: 20px;
  height: calc(100vh - 50px);
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 50px;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .searchHolder {
    background: #fff;
    height: 360px;
    position: absolute;
    top: 60px;
    width: 100%;
  }

  .base {
    padding-top: 0px;
    float: left;
    background: none;
  }

  .searchResults {
    height: auto;
    top: 0px;
    padding: 0px;
    background: #fff;
    max-height: 480px;
    overflow-y: auto;
  }

  .searchBar {
    position: initial;
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .color {
    background: #ececec;
  }

  .back {
    background: #fff;
  }
}