/***BreadCrumb****/
.bread-crumb-container {
  text-align: left;
}

.bread-crumb-ulblock {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bread-crumb-list {
  display: block;
  float: left;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
}

.bread-crumb-list:after {
  content: "/";
  display: inline-block;
  font-size: 11px;
  line-height: 12px;
  color: rgb(108, 108, 108);
  font-family: "Rubik", sans-serif;
  width: 15px;
  text-align: center;
  height: 12px;
}

.breadcrumb-link {
  color: rgb(108, 108, 108);
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.bread-crumb-list:last-child:after {
  display: none;
}

.bread-crumb-list:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
/***BreadCrumb End****/
