.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #ececec;
}

/* TODO don't do this */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .pageHolder {
    width: 100%;
    height: auto;
    padding-top: 60px;
  }
  .header {
    width: 100%;
    height: auto;
    color: #000;
    font-size: 30px;
    font-family: semibold;
    margin-bottom: 50px;
  }
  .dataHolder {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .listHolder {
    width: 30%;
    height: auto;
    padding-right: 20px;
    display: inline-block;
    vertical-align: top;
  }
  .contentHolder {
    width: 70%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }
  .dropdownHolder {
    width: 100%;
    height: auto;
    padding: 15px 20px;
  }
  .tabHeaderHolder {
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    line-height: 50px;
    color: #000;
    font-size: 14px;
    font-family: semibold;
    padding-left: 35px;
  }
  .linkHeaderHolder {
    composes: tabHeaderHolder;
    padding-left: 20px;
  }
  .linkNameHolder {
    width: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
  }
  .linkHolder {
    composes: dropdownHolder;
    padding: 10px 20px;
  }
  .link {
    width: 100%;
    height: auto;
    color: #000;
    font-size: 14px;
    font-family: light;
    line-height: 20px;
    cursor: pointer;
  }
  .sectionHolder {
    width: 100%;
    height: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #979797;
    padding-bottom: 80px;
  }
  .sectionPart {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 20px;
    padding: 50px;
    flex-direction: column;
    cursor: pointer;
  }
  .sectionPart:last-child {
    margin-right: 0px;
  }
  .sectionLabel {
    width: 100%;
    height: auto;
    color: #212121;
    display: flex;
    justify-content: center;
    font-family: regular;
    font-size: 20px;
    margin-top: 15px;
  }
  .iconHolder {
    width: 30px;
    height: 30px;
    display: flex;
  }
  .contactUsHolder {
    width: 100%;
    height: auto;
    padding: 60px 0px;
    display: flex;
    flex-direction: row;
    background: #fff;
  }
  .questionArea {
    width: 100%;
    height: auto;
    background: #fff;
    max-width: 1200px;
    margin: auto;
    display: flex;
  }
  .displayQuestion {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
  }
  .question {
    width: 100%;
    height: auto;
    color: #212121;
    font-size: 14px;
    font-family: regular;
  }
  .chatAndCallOption {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .chatAndCallLink {
    width: 100%;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    font-size: 13px;
    font-family: light;
    color: #212121;
  }
  .linkAndIconHolder {
    width: 100%;
    height: 50px;
    padding: 0px 35px;
    position: relative;
    border-bottom: 1px solid #979797;
  }
  .linkIconHolder {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .arrowIconHolder {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(270deg);
  }
  .chatAndCallLink:last-child {
    border-bottom: none;
  }
  a {
    color: #212121 !important;
    text-decoration: none !important;
  }
}
