.base {
  width: 100%;
  height: auto;
  background: #ececec;
  padding: 15px;
}
.formHolder {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px 0;
  border-radius: 4px;
}
.emailHolder {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.dropDownHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  padding-left: 25%;
}
.fullNameBox {
  height: auto;
  display: inline-block;
  border: none;
  width: 100%;
}
.dropDownBox {
  width: 25%;
  height: 35px;
  display: inline-block;
  border: none;
  position: absolute;
  left: 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-radius: 2px 0 2px 0;
}
.content {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: regular;
  display: inline-block;
  margin-top: 15px;
  padding: 0 15px;
}
.salutation {
  width: 20%;
  height: auto;
  font-size: 14px;
  font-family: regular;
  display: inline-block;
  vertical-align: top;
}
.name {
  width: 80%;
  height: auto;
  font-size: 14px;
  font-family: regular;
  display: inline-block;
  vertical-align: top;
}
.textHolder {
  height: auto;
  display: inline-block;
  border: none;
  width: 100%;
  vertical-align: middle;
}

.defaultText {
  width: 100%;
  height: auto;
  display: inline-block;
  border-top: 1px solid #ececec;
  padding: 15px 15px 0 15px;
}
.button {
  width: auto;
  position: absolute;
  right: 15px;
  line-height: 16px;
  top: 0px;
}
.addressInnerBox {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0px 65px 0px 15px;
}
.headingText {
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-family: semibold;
  margin: auto;
  text-align: left;
  line-height: 25px;
}
.buttonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  margin: 10px 0px;
}
.saveAndContinueButton {
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 19px;
  vertical-align: middle;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.validAddress {
  font-size: 11px;
  opacity: 0.8;
  padding: 0 15px;
}
@media only screen and (min-width: 1025px) {
  .base {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .onlyLeft {
    display: inline-block;
    padding: 0px;
    padding-bottom: 100px;
  }
  .content {
    width: 50%;
    vertical-align: top;
    margin-top: 30px;
  }
  .threeSection {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }
  .leftFirst {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .leftSecond {
    composes: leftFirst;
    margin-top: 30px;
  }
  .defaultText {
    margin-top: 20px;
    padding: 30px 15px 30px 15px;
  }
  .defaultTextWithButton {
    width: 50%;
    height: auto;
    display: inline-block;
  }
  .buttonHolder {
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin: 0px;
  }
  .formHolder {
    padding: 15px;
  }
  .header {
    width: 100%;
    color: #000000;
    font-size: 16px;
    font-family: semibold;
    margin: auto;
    text-align: left;
    line-height: 25px;
    position: relative;
  }
  .leftSection {
    width: 70%;
    padding-right: 30px;
    display: inline-block;
    vertical-align: top;
  }
  .rightSection {
    width: 30%;
    display: inline-block;
    position: sticky;
    top: 105px;
    vertical-align: top;
  }
  .pageCenter {
    width: 1200px;
    display: inline-block;
    max-width: 100%;
    text-align: left;
    position: relative;
  }
  .formHolder1 {
    width: 100%;
    height: auto;
  }
  .addAddressHolder {
    width: 100%;
    height: auto;
    padding: 20px 35% 15px 20px;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
  }
  .contentAddAddress {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .defaultTextSpecial {
    composes: defaultText;
    padding: 25px 0px 0px 0px;
  }
  .defaultTextWithButton1 {
    composes: defaultTextWithButton;
    width: 100%;
    margin-bottom: 20px;
  }
  .addressInnerBox1 {
    composes: addressInnerBox;
    padding-left: 0px;
  }
  .disclaimer {
    width: 100%;
    height: auto;
    padding-left: 60px;
    padding-right: 15px;
    background: url("./img/lock.svg") no-repeat;
    background-size: 25px;
    background-position: 15px center;
    color: #4a4a4a;
    font-size: 14px;
    font-family: light;
    line-height: 20px;
    margin-top: 20px;
  }
  .forReturn {
    width: 100%;
    height: auto;
  }
  .leftSectionForReturn {
    composes: leftSection;
    padding-right: 0px;
    width: 100%;
  }
  .FirstNameWrapper {
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: top;

    padding: 0px 5px 0px 0px;
  }
  .firstNameHolder {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .lastNameWrapper {
    composes: FirstNameWrapper;
    padding: 0px 0px 0px 5px;
  }
  .lastNameHolder {
    composes: firstNameHolder;
  }
  .validAddress {
    padding: 0px;
  }
}
