.base {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: #ececec;
}
.couponSubHeader {
  background-color: #ffffff;
  color: #181818;
  font-size: 14px;
  font-family: regular;
  text-align: left;
  display: inline-block;
  position: relative;
  padding: 20px;
}

.couponHeader {
  height: 50px;
  background-color: #212121;
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  font-family: semibold;
  text-align: left;
  padding-left: 20px;
}
.searchHolder {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #ececec;
}
.dataHolder {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  background: #ececec;
}
.fixedContent {
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 5;
}
@media only screen and (min-width: 1025px) {
  .couponHeader {
    height: 60px;
    background-color: #f9f9f9;
    font-size: 20px;
    line-height: 60px;
    color: #212121;
    z-index: 1;
    position: sticky;
    top: 0;
  }
  .dataHolder {
    min-height: 100%;
    background: #f9f9f9;
  }
  .searchHolder {
    background: #fff;
  }
}
