.base {
  width: 100%;
  height: auto;
  padding: 20px 28px;
}
.bankName {
  width: auto;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  color: #000;
  display: inline-block;
  line-height: 20px;
}
.offerText {
  width: auto;
  height: auto;
  line-height: 20px;
  font-family: regular;
  position: relative;
  font-size: 14px;
  padding-left: 3px;
  color: #000000;
}
.checkBoxHolder {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
}
.buttonHolder {
  width: 100%;
  position: relative;
  margin-top: 20px;
  height: 25px;
  display: inline-block;
}
.container {
  width: auto;
  height: auto;
  padding-right: 25px;
  position: relative;
}
.button {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.termsAndConditionButton {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}
@media screen and (min-width: 1025px) {
  .base {
    padding: 20px 30px;
  }
  .dataHolderForOffer {
    width: 100%;
    height: auto;
  }
  .headersForBankOffer {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 20px;
  }
  .labelText {
    width: auto;
    height: 25px;
    line-height: 25px;
    color:#499b1f;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding: 0px 5px;
    background-color: #ecf9e5;
  }
  .buttonHolder {
    width: 50%;
    margin-top: 0px;
    text-align: right;
  }
  .termsAndConditionButton {
    padding-right: 30px;
  }
  .offerShowHolder {
    width: 100%;
    height: auto;
  }
  .offerCard {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
  }
  .checkBoxHolder {
    width: 20px;
    height: 20px;
    width: fit-content;
    /* left: 0;
    top: 0; */
  }
  .dataShow {
    width: 90%;
    height: 22px;
    line-height: 22px;
    color: #000000;
    font-size: 14px;
  }
  .dataShow .bankName {
    font-family: semibold;
    padding-right: 10px;
  }
  .dataShow .offerText1 {
    font-family: light;
  }
}
.viewtnc{
  color:#da1c5c;
  margin-left: 10px;
  font-size: 14px;
}
.viewBankOffer{
  color:#8d8d8d;
  font-size: 14px;
  margin-top: 5px;
}
.removeApplyCoupon{
  color: #8d8d8d;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
}
.applyCoupon{
  color:#da1c5c;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
}
.offerandTnc{
  margin-top: 10px;
}
