.base {
  width: 100%;
  height: auto;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 25px 30px 30px 30px;
}
.productImage {
  width: 20%;
  height: auto;
  display: inline-block;
}
.productInformation {
  width: 44%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  padding-top: 10px;
}
.productInformationHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}
.textWithOutOfStock {
  width: 100%;
  height: auto;
  display: inline-block;
}
.informationText {
  width: auto;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 30px;
}
.informationTextWithBolder {
  composes: informationText;
  font-family: regular;
  display: inline-block;
}
.serviceAvailabilityText {
  width: auto;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 20px;
  color: #d88600;
  display: inline-block;
}
.space {
  width: auto;
  height: auto;
  color: #b9b9b9;
  display: inline-block;
  padding: 0px 5px;
}
.dropDown {
  width: 100px;
  height: aut0;
}
.colourSizeHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.colourText {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  font-family: light;
}
.sizeText {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  font-family: light;
}
.footer {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 25px 0px;
}
.wishlist,
.removeLabel {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-family: regular;
  color: #212121;
  cursor: pointer;
}
.deliveryInfo {
  width: 36%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
}
.isGiveAwayText {
  color: #ff1744;
  font-size: 14px;
  font-family: light;
}
.isGiveAwayQuantity {
  width: 80px;
  color: #212121;
  font-family: light;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.isGiveAwayQuantityValue {
  padding-left: 12px;
}
.exchangeDetailsSectionOne{
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  margin-bottom: 5px;
}
.aeExchangeDetailsSectionOne{
	display: inline-block;
  width: 70%;
  vertical-align: middle;
}
.exchangeDetailsSectionTwo{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.exchangeDetails,.exchangeDetailsPickupNotAvail{
  position: relative;
  margin-left: 181px;
  border-radius: 2px;
  padding: 10px 15px;
}
.exchangeDetails{
  border: solid 0.5px #d2d2d2;
}
.exchangeDetailsPickupNotAvail{
  border: solid 0.5px #ff1744;
}
.exchangeDetailsHeading{
  font-size: 14px;
  font-family: light;
  display: inline-block;
  padding-left: 8px;
  width: calc(100% - 32px);
  vertical-align: middle;
}
.exchangeProductName{
  font-family: regular;
}
.exchangeIcon{
  display: inline-block;
  vertical-align: middle;
}
.exchangePrice{
  font-size: 14px;
  text-align: right;
}
.exchangeViewDetails,.exchangeViewLessDetails{
  font-size: 12px;
  color: #ff1744;
  font-family: semibold;
  cursor: pointer;
  text-align: right;
}
.tncLink{
  color: #ff1744;
  cursor: pointer;
}
.exchangeViewLessDetails{
  width: 30%;
  display: inline-block;
}
.closeIcon{
  background-color: #212121;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: -7px;
  top: -7px;
  cursor: pointer;
}
.font14LightLeft,.font14LightRight{
  font-size:14px;
  font-family:light;
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}
.font14LightLeft{
  padding-left: 40px;
}
.font14LightRight{
  text-align: right;
}
.exchangePickupDetails{
  font-size:14px;
  font-family:light;
  display: inline-block;
  width: 100%;
  border-top: 0.5px solid #ececec;
  border-bottom: 0.5px solid #ececec;
  padding: 10px 0;
  margin: 5px 0;
}
.font14bold{
  font-size:14px;
  font-family:semibold;
}
.font14green{
  font-size: 14px;
  color: #417505;
  font-family: regular;
}
.font12light{
  font-size: 12px;
  font-family: light;
  display: inline-block;
  width: 70%;
}
.separator{
  padding: 0 40px;
}
.exchangeProductNotServiceable{
  color: #d88600;
  font-size: 13px;
  font-family:light;
  margin-left: 181px;
  margin-top: 8px;
}
.storeDataHolder {
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 45px;
  position: relative;
}
.pickUpIcon {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../../general/components/img/collect.svg) no-repeat;
  background-size: auto 30px;
  background-position: center;
}
.dataHolder {
  width: 100%;
  height: auto;
}
.pickUpStoreHeading {
  width: 100%;
  height: 30px;
  position: relative;
  padding-right: 25px;
  color: rgb(33, 33, 33);
  font-size: 13px;
  font-family: semibold;
  background: url(../../general/components/img/checkbox-tick.svg) no-repeat;
  background-size: auto 20px;
  background-position: right center;
  line-height: 30px;
  margin-bottom: 5px;
}
.pickUpData {
  width: 100%;
  height: auto;
  color: rgba(33, 33, 33, 0.93);
  font-family: light;
}
.addressOfSelect {
  width: 100%;
  height: auto;
  font-size: 13px;
  line-height: 22px;
}
.getNewPrice{
  font-size: 14px;
  color: #ff1744;
  font-family: semibold;
  cursor: pointer;
  text-align: right;
}
.priceCancelled {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  font-family: light;
}
.priceCancelled:after{
  content: "";
  width: 100%;
  height: 2px;
  background: #4a4a4a;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}