.base {
  width: 100%;
  height: auto;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 25px 30px 30px 30px;
}
.productImage {
  width: 20%;
  height: auto;
  display: inline-block;
}
.productInformation {
  width: 53%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-top: 10px;
}
.productInformationHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}
.textWithOutOfStock {
  width: 100%;
  height: auto;
  display: inline-block;
}
.informationText {
  width: auto;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 30px;
}
.informationTextWithBolder {
  composes: informationText;
  font-family: regular;
  display: inline-block;
}
.serviceAvailabilityText {
  width: auto;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 30px;
  color: #ff1744;
  display: inline-block;
}
.space {
  width: auto;
  height: auto;
  color: #b9b9b9;
  display: inline-block;
  padding: 0px 5px;
}
.dropDown {
  width: 100px;
  height: aut0;
}
.colourSizeHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.colourText {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  font-family: light;
}
.sizeText {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  font-family: light;
}
.footer {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 25px 0px;
}
.wishlist,
.removeLabel {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-family: regular;
  color: #212121;
  cursor: pointer;
}
.deliveryInfo {
  width: 27%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.isGiveAwayText {
  color: #ff1744;
  font-size: 14px;
  font-family: light;
}
.isGiveAwayQuantity {
  width: 80px;
  color: #212121;
  font-family: light;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.isGiveAwayQuantityValue {
  padding-left: 12px;
}
.exchangeDetails{
  position: relative;
  margin-left: 181px;
  border-radius: 2px;
  border: solid 0.5px #d2d2d2;
  padding: 10px 15px;
}
.exchangeDetailsHeading{
  font-size: 14px;
  font-family: light;
  display: inline-block;
  padding: 8px 0 0 8px;
  vertical-align: top;
}
.exchangeProductName{
  font-family: regular;
}
.exchangeIcon{
  display: inline-block;
}
.exchangePriceNDetails{
  float: right;
}
.exchangePrice{
  font-size: 14px;
  text-align: right;
  margin-bottom: 2px;
}
.exchangeViewDetails,.exchangeViewLessDetails{
  font-size: 12px;
  color: #ff1744;
  font-family: semibold;
  cursor: pointer;
}
.tncLink{
  color: #ff1744;
}
.exchangeViewLessDetails{
  width: 30%;
  display: inline-block;
  text-align: right;
}
.closeIcon{
  background-color: #212121;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: -7px;
  top: -7px;
}
.font14LightLeft,.font14LightRight{
  font-size:14px;
  font-family:light;
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}
.font14LightRight{
  text-align: right;
}
.exchangePickupDetails{
  font-size:14px;
  font-family:light;
  display: inline-block;
  width: 100%;
  border-top: 0.5px solid #ececec;
  border-bottom: 0.5px solid #ececec;
  padding: 10px 0;
  margin: 10px 0;
}
.font14bold{
  font-size:14px;
  font-family:semibold;
}
.font14green{
  font-size: 14px;
  color: #417505;
  font-family: regular;
}
.font12light{
  font-size: 12px;
  font-family: light;
  display: inline-block;
  width: 70%;
}
