.base {
  width: 100%;
  height: auto;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 25px 30px 30px 30px;
}
.productImage {
  width: 20%;
  height: auto;
  display: inline-block;
}
.productInformation {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-top: 10px;
}
.productInformationHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}
.textWithOutOfStock {
  width: 100%;
  height: auto;
  display: inline-block;
}
.informationText {
  width: auto;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 30px;
}
.informationTextWithBolder {
  composes: informationText;
  font-family: regular;
  display: inline-block;
}
.serviceAvailabilityText {
  width: auto;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 30px;
  color: #ff1744;
  display: inline-block;
}
.space {
  width: auto;
  height: auto;
  color: #b9b9b9;
  display: inline-block;
  padding: 0px 5px;
}
.dropDown {
  width: 100px;
  height: aut0;
}
.colourSizeHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.colourText {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  font-family: light;
}
.sizeText {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  font-family: light;
}
.footer {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 25px 0px;
}
.wishlist,
.removeLabel {
  width: 50%;
  height: auto;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-family: regular;
  color: #212121;
  cursor: pointer;
}
.deliveryInfo {
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}
.isGiveAwayText {
  color: #ff1744;
  font-size: 14px;
  font-family: light;
}
.isGiveAwayQuantity {
  width: 80px;
  color: #212121;
  font-family: light;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.isGiveAwayQuantityValue {
  padding-left: 12px;
}
.storeDataHolder {
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 45px;
  position: relative;
}
.pickUpIcon {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../../general/components/img/collect.svg) no-repeat;
  background-size: auto 30px;
  background-position: center;
}
.dataHolder {
  width: 100%;
  height: auto;
}
.pickUpStoreHeading {
  width: 100%;
  height: 30px;
  position: relative;
  padding-right: 25px;
  color: rgb(33, 33, 33);
  font-size: 13px;
  font-family: semibold;
  background: url(../../general/components/img/checkbox-tick.svg) no-repeat;
  background-size: auto 20px;
  background-position: right center;
  line-height: 30px;
  margin-bottom: 5px;
}
.pickUpData {
  width: 100%;
  height: auto;
  color: rgba(33, 33, 33, 0.93);
  font-family: light;
}
.addressOfSelect {
  width: 100%;
  height: auto;
  font-size: 13px;
  line-height: 22px;
}
