.base {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #ececec;
}
.cartItem {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}
.search {
  composes: cartItem;
  margin-bottom: 0;
  padding: 20px;
}
.content {
  width: 100%;
  height: auto;
  padding: 15px;
}
.pincodeHolder {
  width: 100%;
  height: auto;
  padding: 15px;
}
.disabled {
  composes: content;
  opacity: 0.5;
  pointer-events: none;
}
.cartLoader {
  width: 100%;
  background: #fff;
  position: relative;
  height: calc(100vh - 60px);
}
.spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.offer {
  width: 100%;
  margin-bottom: 20px;
}
.offerName {
  font-family: semibold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #212121;
}
.offerText {
  font-family: regular;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #212121;
}
.card {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
.cardHeading {
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family: semibold;
  color: #212121;
}
.bankOfferHeading {
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: regular;
  color: #212121;
}
.bankOfferText {
  width: 100%;
  height: auto;
  font-size: 11px;
  font-family: light;
  color: rgba(33, 33, 33, 0.93);
  margin-top: 10px;
  margin-bottom: 10px;
}
.row {
  width: 100%;
  height: auto;
  padding: 20px 0px 0px;
  border-bottom: 1px solid #ececec;
}

@media only screen and (min-width: 1025px) {
  .base {
    text-align: center;
    padding-top: 75px;
  }
  .pageCenter {
    width: 1200px;
    display: inline-block;
    max-width: 100%;
    text-align: left;
    min-height: 70vh;
  }
  .content {
    width: 70%;
    display: inline-block;
    padding: 0px 25px 0px 0px;
  }
  .bagTotal {
    width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    min-height: 300px;
    position: sticky;
    top: 180px;
  }
  .bagTotalFixed {
    width: 100%;
    max-width: 360px;
  }
  .amountDetails {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .couponCard {
    width: 100%;
    height: auto;
  }
  .changePinCodeHolder {
    width: 100%;
    height: auto;
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 5;
    background: #f9f9f9;
  }
  .checkHolder {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dummyTextForPinCode {
    width: 60%;
    height: 35px;
    color: #212121;
    font-size: 14px;
    line-height: 35px;
    display: flex;
    font-family: light;
    text-align: left;
  }
  .inputAndButtonHolder {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .forDefault {
    composes: inputAndButtonHolder;
    width: 100%;
  }
  .inputAndButton {
    width: 100%;
    height: auto;
    display: flex;
  }
  .bold {
    font-family: semibold;
    padding-left: 5px;
  }
  .couponWrapper {
    margin-top: 30px;
  }
  .checkoutHolder {
    margin-right: -20px;
  }
  .pincodeHolder {
    position: fixed;
    top: 50px;
    padding: 0;
    background: #fff;
  }
  .disclaimer {
    width: 100%;
    height: auto;
    padding-left: 60px;
    padding-right: 15px;
    background: url("./img/lock.svg") no-repeat;
    background-size: 25px;
    background-position: 15px center;
    color: #4a4a4a;
    font-size: 14px;
    font-family: light;
    line-height: 20px;
    margin-top: 20px;
  }
  .desktopBuffer {
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
  }
  .saveAndSecure {
    width: 100%;
    height: auto;
  }
  .cartHeading {
    width: 100%;
    height: auto;
    color: #212121;
    font-family: semibold;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .emptyCardHeading {
    composes: cartHeading;
    text-align: left;
  }
}
