.base {
  position: absolute;
  width: 555px;
  height: auto;
  text-align: center;
  max-height: 100%;
  background: #fff;
  transform: translateY(100%);
  animation: slideIn 200ms forwards;
  top: 20%;
  margin: auto;
  padding: 30px 50px;;
}
@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.icon{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.heading{
  font-family: semibold;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0 50px;
}
.title{
  font-family: semibold;
  font-size: 22px;
  margin-bottom: 25px;
}
.subHeading{
  font-size: 18px;
  margin-bottom: 30px;
}
.okButton{
  border-radius: 18px;
  border: solid 2px #ff1744;
  background-color: #ff1744;
  font-size: 18px;
  padding: 5px 20px;
  color: #ffffff;
  font-family: semibold;
  display: inline-block;
  cursor: pointer;
}
.fontBold{
  font-family: semibold;
}