.base {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: auto;
  background: #ececec;
}

.row {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.row:nth-child(2) {
  margin-top: -4px;
}
.header {
  width: 100%;
  background: #fff;
  padding: 20px;
}
.products {
  width: 100%;
  margin-top: 15px;
  padding: 0px 15px 15px 15px;
}
.addInitialAddAddress {
  width: 100%;
  height: auto;
  padding: 15px;
}
.deliveryAddress {
  width: 100%;
  height: auto;
  padding: 0px 15px;
}
.paymentCardHolder {
  width: 100%;
  height: auto;
  padding: 15px 15px 15px;
}
.paymentFailedCardHolder {
  width: 100%;
  height: auto;
  padding: 15px 15px 15px;
}

.addDeliveryAddressHolder {
  width: 100%;
  height: auto;
  background: #ececec;
}
.cartItemHolder {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.orderConfirmationHolder {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #ececec;
  padding: 15px;
  margin-bottom: 60px;
}

.cartLoader {
  width: 100%;
  background: #fff;
  position: relative;
  height: calc(100vh - 60px);
}
.spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@media only screen and (min-width: 1025px) {
  .base {
    text-align: center;
    padding-top: 75px;
  }
  .noSubHeader {
    composes: base;
    padding-top: 30px;
    min-height: 0px;
    padding-bottom: 100px;
  }
  .pageCenter {
    width: 1200px;
    display: inline-block;
    max-width: 100%;
    text-align: left;
    position: relative;
  }
  .products,
  .deliveryAddress {
    padding: 0;
  }
  .leftSection {
    width: 70%;
    padding-right: 30px;
    display: inline-block;
    vertical-align: top;
  }
  .rightSection {
    width: 30%;
    display: inline-block;
    position: sticky;
    top: 105px;
    vertical-align: top;
  }
  .addDeliveryAddressHolder {
    text-align: center;
  }
  .header {
    padding: 20px 30px;
    border-radius: 4px 4px 0 0;
  }
  .orderConfirmationHolder {
    margin-bottom: 0;
    padding: 0px;
  }
  .addInitialAddAddress {
    padding: 0;
  }
  .disclaimer {
    width: 100%;
    height: auto;
    padding-left: 60px;
    padding-right: 15px;
    background: url("./img/lock.svg") no-repeat;
    background-size: 25px;
    background-position: 15px center;
    color: #4a4a4a;
    font-size: 12px;
    font-family: light;
    line-height: 20px;
    margin-top: 20px;
  }
  .paymentFailure {
    width: 100%;
    height: 60px;
    background: #ffd2d8;
  }
  .paymentFailureClose {
    composes: paymentFailure;
    display: none;
  }
  .paymentFailureWrap {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .paymentText {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    font-size: 14px;
    font-family: regular;
  }
  .paymentFailButtonHolder {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .closeButton {
    width: auto;
    height: auto;
    display: flex;
  }
  .bottomCap{
    width: 100%;
    height: auto;
    background: #fff;
    padding:20px 30px;
    border-radius: 0 0 4px 4px;
  }
  .alignRight{
    text-align:right;
  }
  .inline{
    display:inline-block;
  }
  .row {
    margin-top:0;

  }
}
