.base {
  width: 100%;
  height: auto;
  display: inline-block;
  background: #212121;
  position: fixed;
  bottom: 0;
  left: 0;
}
.hiddenBase {
  composes: base;
  position: relative;
  left: initial;
  bottom: initial;
  opacity: 0;
  pointer-events: none;
  margin-top: 10px;
}
.visibleBase {
  composes: base;
  background: #fff;
  position: relative;
  border-radius: 4px;
}
.visibleBase .amount,
.visibleBase .informationQuestionHolder,
.visibleBase .informationAnswerHolder {
  color: #4a4a4a;
}
.visibleBase .informationQuestionHolder {
  font-family: regular;
}
.visibleBase .informationAnswerHolder {
  font-family: regular;
  font-family: light;
}
.visibleBase .detailsHolder {
  border-top: none;
}
.totalPriceButtonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.totalPriceHeading {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  font-size: 14px;
  color: #8f8f8f;
  font-family: regular;
  display: inline-block;
}
.viewPrice{
  composes:totalPriceHeading;
  display:block;
  margin-bottom:0;
  margin-top:5px;
  text-decoration:underline;
}
.amountHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.amount {
  color: #fff;
  font-size: 20px;
  font-family: regular;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  line-height: 22px;
}
.infoIconHolder {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  opacity: 0.5;
}
.checkoutButtonHolder {
  width: auto;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: inline-block;
}
.detailsHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 15px;
  border-top: 1px solid #bbbbbb;
}
.informationHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 12px;
}
.visiblePayableSection {
  width: 100%;
  height: auto;
  padding: 15px 0;
  border-top: solid 1px #ececec;
  border-bottom: solid 1px #ececec;
}
.visiblePayableSection .informationQuestionHolder,
.visiblePayableSection .informationAnswerHolder {
  font-family: semibold;
}
.savingSection {
  width: 100%;
  height: auto;
  padding-top: 15px;
}
.savingSection .informationQuestionHolder,
.savingSection .informationAnswerHolder {
  font-family: light;
  color: #417505;
}

.informationQuestionHolder {
  width: 40%;
  height: auto;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: left;
  font-family: semibold;
}
.informationAnswerHolder {
  width: 60%;
  height: auto;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-family: regular;
  text-align: right;
}
.apply {
  composes: informationAnswerHolder;
  color: #ff1744;
}
.disclaimer {
  width: 100%;
  height: auto;
  padding-left: 60px;
  padding-right:15px;
  background: url("./img/lock.svg") no-repeat;
  background-size: 25px;
  background-position: 15px center;
  color: #4a4a4a;
  font-size: 12px;
  font-family: light;
  line-height: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 1025px) {
  .visibleBase{
    position:fixed;
    left: initial;
    top: 65px;
    width: 30vw;
    max-width: 440px;
    bottom: initial;
    margin-left: 5px;
  }
  .hiddenBase{
    max-width: 730px;
    width: 70vw;
  }
}