.base {
  width: 100%;
  height: auto;
  padding: 15px 55px;
  position: relative;
  border-bottom: 1px solid #ececec;
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.21;
}
.head {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-family: regular;
  color: rgba(0, 0, 0, 0.47);
}
.message {
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: regular;
  color: #000;
  line-height: 20px;
}
.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.21;
}

@media only screen and (min-width:1025px){
  .icon{
    left: 0;
  }
  .arrow {
    right:0
  }
  .base {
    padding-left:35px;
    border:none;
    border-top: 1px solid #ececec;
  }
}