.base {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.header {
  width: 100%;
  height: auto;
  padding: 15px 15px 5px 15px;
  display: inline-block;
}
.addressHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}
.buttonHolder {
  width: 100%;
  height: 25px;
  display: inline-block;
  position: relative;
  margin: 20px 0px;
}
.moreButtonHolder {
  width: auto;
  height: 25px;
  position: absolute;
  top: 0;
  left: 15px;
}
.newAddress {
  width: auto;
  height: 25px;
  position: absolute;
  right: 15px;
  top: 0;
}

@media only screen and (min-width: 1025px) {
  .newAddress {
    top: 30px;
    right: 30px;
  }
  .base {
    padding: 15px;
    min-height: 240px;
  }
  .baseForReturn {
    composes: base;
    background: #f9f9f9;
    padding: 20px 50px;
    border-radius: initial;
  }
  .buttonHolder {
    position: static;
    height: 0;
    margin: 0;
  }
  .buttonHolderwithPadding {
    composes: buttonHolder;
    padding-top: 60px;
  }
  .moreButtonHolder {
    width: auto;
    height: 25px;
    position: absolute;
    right: 160px;
    bottom: 50px;
    top: unset;
    left: initial;
  }
  .continueButtonHolder {
    width: auto;
    height: 38px;
    position: absolute;
    right: 15px;
    bottom: 45px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
    border-radius: 20px;
  }
  .continueButtonHolder:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
  .addressHeader {
    width: 100%;
    height: auto;
    position: relative;
    padding-right: 112px;
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    font-family: semibold;
  }
  .underLineButtonHolder {
    width: auto;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
