.base {
  width: 100%;
  height: auto;
  padding: 15px;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
}

.titleAddress {
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: semibold;
  line-height: 22px;
  text-align: left;
  text-transform: capitalize;
}
.titleDescription {
  width: 100%;
  height: auto;
  line-height: 22px;
  text-align: left;
  font-family: regular;
  font-size: 14px;
  position: relative;
  padding-right: 60px;
}

.checkCircle {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0px;
  top: 0px;
}
.gridHolder {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1025px) {
  .base {
    border: none;
  }
  .baseForReturn {
    composes: base;
    padding: 20px 0px;
    border-bottom: 1px solid #ececec;
  }
  .titleDescriptionForReturn {
    composes: titleDescription;
    padding-right: 35%;
  }
  .checkCircle {
    right: 15px;
  }
}
