.base {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 4px;
}
.section {
  width: 100%;
  height: auto;
  padding: 25px;
}
.bottomSection {
  composes: section;
  border-top: 1px solid #ececec;
  position: relative;
  padding-right: 200px;
}
.price {
  width: 100%;
  color: #212121;
  font-family: light;
  font-size: 20px;
}
.checkoutPrice {
  composes: price;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.row {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.row:last-child {
  padding-bottom: 0;
}
.label {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  color: #212121;
  font-family: semibold;
  font-size: 14px;
}
.info {
  composes: label;
  text-align: right;
  font-family: light;
}
.priceHeader {
  composes: info;
  text-align: left;
}
.infoHiglight {
  composes: info;
  color: #ff1744;
}
.button {
  position: absolute;
  height: 40px;
  right: 30px;
  bottom: 30px;
  border-radius: 19px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  transition: 300ms;
}
.button:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.bottomSectionCheckout {
  composes: section;
  border-top: 1px solid #ececec;
}
.toggleIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url(../../general/components/img/down-arrow-grey.svg) no-repeat;
  background-size: auto 10px;
  background-position: center;
}
.onToggleActive {
  composes: toggleIcon;
  transform: rotate(180deg);
}
.informationTotalSavingHolder {
  width: 100%;
  height: auto;
  display: inline-block;
}

.informationTotalSavingHolder .informationTotalSavingTextHolder {
  font-family: light;
  color: #417505;
}
