.digitalBundledProductDetails{
  position: relative;
  margin-left: 181px;
  border-radius: 2px;
  padding: 8px;
  border: solid 0.5px #d2d2d2;
  margin-top: 24px;
}
.digitalBundledProductDetailsCheckout{
  position: relative;
  width: 305px;
  border-radius: 2px;
  padding: 8px;
  border: solid 0.5px #d2d2d2;
  margin-top: 11px;
}
.digitalBundledProductDetailsCancel{
  position: relative;
  width: 100%;
  border-radius: 2px;
  padding: 8px;
  border: solid 0.5px #d2d2d2;
  margin-top: 11px;
}
.digitalBundledProductImage{
  display: inline-block;
  width: 60px;
  height: 75px;
}
.digitalBundledProductImageCheckout{
  display: inline-block;
  width: 30px;
  height: 34px;
}
.digitalBundledProductImageCancel{
  display: inline-block;
  width: 60px;
  height: auto;
}
.digitalProductDetails{
  display: inline-block;
  width: calc(100% - 90px);
  padding-left: 13px;
  vertical-align: top;
}
.digitalProductDetailsCheckout{
  display: inline-block;
  width: calc(100% - 30px);
  padding-left: 10px;
  vertical-align: top;
}
.digitalProductDetailsCancel{
  display: inline-block;
  width: calc(100% - 60px);
  padding-left: 10px;
  vertical-align: top;
}
.digitalProductName{
  font-size: 16px;
  letter-spacing: 0.03px;
  margin-bottom: 18px;
}
.digitalProductNameCheckout{
  font-size: 14px;
  color: #3e4e35;
}
.digitalProductNameCancel{
  font-size: 16px;
  color: #2c2627;
}
.digitalProductOfferPrice{
  display: inline-block;
  font-size: 16px;
  font-family: semibold;
  letter-spacing: 0.03px;
  color: #2c2627;
  margin-right: 4px;
}
.digitalProductPrice{
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.02px;
  color: #8d8d8d;
  text-decoration: line-through;
}
.digitalProductPriceCancel{
  display: inline-block;
  font-size: 16px;
  font-family: semibold;
  letter-spacing: 0.03px;
  color: #2c2627;
  margin-top: 18px;
}
.closeIcon{
  background-color: #212121;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: -7px;
  top: -7px;
  cursor: pointer;
}
.productNotServiceable{
  color: #d88600;
  font-size: 13px;
  font-family:light;
  margin-left: 181px;
  margin-top: 8px;
}
.bundlingComboDiscount{
	font-size: 12px;
	color: #5eaf29;
	margin: 5px 0;
}