.base {
  width: 100%;
  height: auto;
  background: #fff;
}
.subListHolder {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.noCostRetryPayment {
  padding-bottom: 20px;
  display: block;
  font-size: 14px;
  color: #db9116;
}
