.cardFooterText {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}
.buttonHolder {
  width: auto;
  height: auto;
  right: 0;
  margin: auto;
  margin-bottom: 30px;
  margin-left: 20px;
}
.bankDropDown {
  width: auto;
  height: auto;
  right: 0;
  margin: auto;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 1025px) {
  .buttonHolder {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
    border-radius: 20px;
  }
  .buttonHolder:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  }
  .contentHolder {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .contentHolder:nth-child(odd) {
    padding-right: 10px;
  }
  .contentHolder:nth-child(even) {
    padding-left: 10px;
  }
}
