.base {
  width: 100%;
  height: auto;
  padding: 20px 20px 20px 60px;
  background: #fff;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imageHolder {
  width: 13%;
  height: auto;
  display: flex;
}
.dataShowingHolder {
  width: 87%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 50px;
}
.dataShow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.productNameWithPrice {
  width: 50%;
  height: auto;
  line-height: normal;
  color: #000000;
  font-size: 14px;
  justify-content: left;
  font-family: light;
}
.productName {
  width: 100%;
  height: auto;
}
.productPrice {
  composes: productName;
  padding-top: 10px;
}
.quantity {
  width: 50%;
  height: auto;
  display: flex;
  color: #212121;
  font-size: 14px;
  justify-content: flex-end;
}
.deliveryTimingShow {
  composes: dataShow;
  margin-bottom: 0px;
}
.timingAndMode {
  width: 80%;
  height: 25px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  color: #000000;
  font-size: 14px;
  font-family: light;
}
.deliveyMode {
  width: auto;
  height: 100%;
  display: flex;
  font-family: semibold;
  padding-right: 5px;
}
.deliveryTime {
  composes: deliveyMode;
  padding-right: 0px;
  font-family: light;
}
.sucessIconHolder {
  width: 20%;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sucessIcon {
  width: 25px;
  height: 25px;
  display: flex;
  background: url(./img/check.svg) no-repeat;
  background-size: auto 40px;
  background-position: center;
}
