.base {
  width: 100%;
  height: auto;
  padding: 20px;
  object-fit: contain;
  background-image: linear-gradient(237deg, #10e368, #18d0b4);
  border-radius: 4px;
}

.orderInnerBox {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.orderHeading {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-family: semibold;
}
.orderLabel {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.buttonHolder {
  width: auto;
  height: auto;
  margin-top: 18px;
  display: inline-block;
}
@media only screen and (min-width: 1025px) {
  .base {
    padding: 50px 20px;
    min-height: 216px;
    background-image: url("https://res.cloudinary.com/sid1512/image/upload/v1536653331/thankyou_page_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
