.base {
  width: 100%;
  height: auto;
  border-radius: 4px;
  padding: 0 15px 15px 15px;
}
.paymentModes {
  background-color: #fff;
}
.card {
  background-color: #fff;
  padding: 15px;
}

@media only screen and (min-width:1025px){
  .base{
    padding:0 ;
  }
  .paymentModes{
    padding:0 30px;
  }
  .card {
    padding:15px 30px;
  }
}