.base {
  width: 100%;
  height: auto;
  padding: 20px;
  object-fit: contain;
  background-color: #fff;
  border-radius: 4px;
}
.PaymentConfirmationImage {
  width: 94px;
  height: 75px;
  margin: auto;
  margin-bottom: 13px;
}
.orderInnerBox {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.orderHeading {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 17px;
  line-height: 30px;
  font-family: semibold;
}
.orderLabel {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.buttonHolder {
  width: auto;
  height: auto;
  margin-top: 34px;
  display: inline-block;
}
.button {
  width: 175px;
  height: 37px;
  border-radius: 18.5px;
  background: #ff1744;
  color: #fff;
  cursor: pointer;
  line-height: 37px;
  font-size: 14px;
  font-family: semibold;
}
.orderSubText {
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: center;
  color: #212121;
  font-family: light;
  padding: 24px 120px 0px 120px;
}
@media only screen and (min-width: 1025px) {
  .base {
    padding: 50px 20px;
    min-height: 216px;
    background: #fff;
  }
}
