.base {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 0 20px;
}
.pl12 {
  padding-left: 12px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}

.flexRow50 {
  display: flex;
  margin: 0 -10px;
}
.flexRow50Cols {
  flex: 1 1 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
.flexRow50New {
  display: flex;
  margin: 0;
}
.flexRow50NewCols {
  flex: 1 1 50%;
  max-width: 50%;
}
.upiBrdRgt {
  border-right: 1px solid #e7e7e7;
}
.upiHedTxt {
  padding-left: 12px;
}
.upiHedTxt p {
  font-size: 12px;
  font-family: light;
  color: #212121;
  margin: 0 0 5px;
}
.moreUpiTxt {
  font-size: 10px;
  color: #212121;
  font-family: light;
}

.upiTandCRow {
  margin: 0 0 10px;
  font-size: 10px;
  width: 78%;
  border-bottom: 1px solid #e7e7e7;
  font-family: light;
  color: #212121;
  padding: 0 0 12px;
}
.upiTandCRow:last-child {
  border-bottom: 0;
}
.upiTandCRow .upiInfoTxt {
  font-size: 12px;
  margin: 0;
}
.upiInfoTxt {
  color: #4a4a4a;
}
.upiTandCRow .lblTxt {
  margin: 0;
  font-family: semibold;
  margin: 0 0 2px;
}
.lblTxt {
  color: #212121;
}
.upiTandCRow .upitncTxt {
  margin: 0;
}
.frmFeildRow {
  position: relative;
}
.frmFeild {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 6px 80px 6px 15px;
  outline: none;
  height: 45px;
  font-size: 14px;
  font-family: regular;
  color: #212121;
}
.frmFeild:disabled {
  background: #ffffff;
  color: #a4a4a6;
}
.frmFeild:disabled + .verifyBtn {
  background: #e7e7e7;
  color: #ffffff;
  cursor: default;
}
.errorTxt {
  color: #ff1744;
  font-size: 10px;
  margin: 3px 0 0;
}
.errorTxt2 {
  color: #ff1744;
  font-size: 10px;
  margin: 0 -4px 0;
}
.verifyBtn {
  position: absolute;
  top: 5px;
  right: 15px;
  background: #ff1744;
  border-radius: 5px;
  font-family: semibold;
  font-size: 12px;
  color: #fff;
  border: 0;
  outline: none;
  height: 35px;
  padding: 5px 10px;
  cursor: pointer;
  height: 35px;
  width: 77px;
}
.verifiedState {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 12px;
}
.verifiedFrm {
  color: #97ce58;
}
.invalidFrm {
  color: #ff1744;
}
.verifiedIcon {
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url(./img/done_icon.png) no-repeat 0 0;
}
.invalidIcon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background: url(./img/invalid_icon.png) no-repeat 0 0;
}
.upiPayBtnSec {
  padding: 5px 0 0 30px;
}
.upiPayBtn {
  height: 35px;
  padding: 6px 20px;
  border-radius: 20px;
  background: none rgb(255, 23, 68);
  color: #fff;
  border: 0;
  outline: none;
  width: 120px;
  font-family: semibold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.frmFeild::-webkit-input-placeholder {
  /* Edge */
  color: #212121;
}

.frmFeild:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #212121;
}

.frmFeild::placeholder {
  color: #212121;
}
.frmFeild:disabled::-webkit-input-placeholder {
  /* Edge */
  color: #a4a4a6;
  font-family: light;
}

.frmFeild:disabled:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a4a4a6;
  font-family: light;
}

.frmFeild:disabled::placeholder {
  color: #a4a4a6;
  font-family: light;
}
.flexWrap {
  flex-wrap: wrap;
}
.svdUpiRow {
  display: flex;
}
.svdUpiInfoCol {
  flex: 1 1 auto;
  max-width: 100%;
  padding: 0 20px 0 0;
  border-bottom: 1px solid #e7e7e7;
  margin: 0 0 20px;
}
.svdUpiBtnCol {
  flex: 1 0 140px;
  max-width: 140px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 40px;
  justify-content: flex-end;
}
.svdUpiHedTxt {
  font-size: 12px;
  font-family: regular;
  margin: 0 0 10px;
  color: #212121;
}
.svdUpiLblBox {
  margin: 0 0 24px;
}
.svdUpiLbl {
  padding: 5px 12px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  color: #212121;
  text-align: center;
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 4px;
  line-height: 30px;
  margin: 0 0 7px;
  position: relative;
}
.svdUpiLbl.verified {
  border-color: #97ce58;
  text-align: left;
  padding: 5px 0px 5px 12px;
}
.svdUpiLbl.svdUpErr {
  border-color: #ff1744;
  text-align: left;
  padding: 5px 0px 5px 12px;
}
.svdUpiLbl .verifiedState {
  top: 5px;
  right: 10px;
}
.addNewUpiBtn {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  padding: 5px 12px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  color: #ff1744;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 4px;
  outline: none;
}
.showSavedUpi {
  font-size: 12px;
  color: #ff1744;
  font-family: regular;
}
#howPymntWork {
  padding-left: 12px;
  margin: 0 0 5px;
  font-size: 12px;
  color: #ff1744;
}

@media only screen and (min-width: 1025px) {
  .base {
    padding: 10px 0 0 0;
  }
}
.payNow {
  color: white;
    position: relative;
    height: 40px;
    width: 135px;
    border-radius: 20px;
    float: none;
    border: none;
    font-weight: 600;
    background: none rgb(255, 23, 68);
}

.combinedLogoUrl {
  width: 306px;
  height: 67px;
}
.upitncTxtLink {
  color:#ff1744;
  padding:0px 7px;
}