.base {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.item {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.nav {
    width: auto;
    height: 10px;
    position: absolute;
    bottom: 50px;
    right: 0;
    pointer-events: auto;
}
.navButton {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: transparent;
    float: left;
    cursor: pointer;
    transition: 300ms;
    margin-right: 10px;
}
.navButton:last-child {
    margin-right: 0px;
}
.active {
    composes: navButton;
    background: #fff;
    border: 1px solid #fff;
}
.rightArrow {
    width: 66px;
    height: 66px;
    background: #d8d8d8 url(./img/arrow.svg) no-repeat;
    background-size: auto 30px;
    background-position: center;
    opacity: 0.6;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    border-radius: 50%;
}
.leftArrow {
    composes: rightArrow;
    right: initial;
    left: 20px;
    transform: rotate(180deg);
}
.imageHolder {
    width: 100%;
    height: auto;
    transition: 300ms;
    white-space: nowrap;
}
.slider {
    composes: imageHolder;
    transition: none;
}
.maxWidth {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
}

@media screen and (min-width: 1025px) {
    .item {
        position: relative;
    }
}
.newBannerBlock {
    display: block;
    width: 100%;
}
.newSliderBlock {
    width: 100%;
}
.newslidelink {
    flex: 1 1 50%;
    max-width: 50%;
}
.newSlideImg {
    width: 50%;
    max-width: 100%;
    display: inline-block;
}
