.base {
  background-color: #000000;
  padding-bottom: 100%;
  border-radius: 50%;
  position: relative;
  width: 100%;
}
.imageHolder {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.checkIcon {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  top: 20px;
  position: absolute;
  right: 50px;
  margin: auto;
  background: #ff1744 url(./img/3w.svg) no-repeat;
  background-size: auto 16px;
  background-position: center;
  transition: 300ms;
  transform: scale(0);
  z-index: 1;
}
.checkIconActive {
  composes: checkIcon;
  transform: scale(1);
}
.seeAllDetailsText {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #ff1744;
  font-size: 14px;
}
@media screen and (min-width: 1025px) {
  .base {
    background: #fff;
    overflow: hidden;
  }
  .imageHolder {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 300ms;
    transform: scale(1);
  }
  .base:hover .imageHolder {
    transform: scale(1.3);
  }
}
