.circleWithText {
  width: 100%;
  height: auto;
  padding: 10px;
}
.label {
  width: 100%;
  height: auto;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #212121;
  font-family: regular;
  padding-top: 10px;
}
@media screen and (min-width: 1025px) {
  .circleWithText {
    transform: scale(1);
    transition: 300ms;
  }
  .circleWithText:hover {
    transform: scale(1.03);
  }
}
