.base {
  width: 988px;
  height: 453px;
  min-height: 453px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: translateY(100%);
  animation: slideInUp 200ms forwards;
}
.cancel {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 40px;
  top: 20px;
  background: url(./img/cancelBlack.svg) no-repeat;
  background-position: center;
  background-size: 20px;
  z-index: 2;
  cursor: pointer;
}
.content {
  width: 100%;
  height: 450px;
  overflow: auto;
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
