.base {
  position: absolute;
  width: 465px;
  height: 420px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  transform: translateY(100%);
  animation: slideInUp 200ms forwards;
  border-radius: 4px;
  overflow: hidden;
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.cancel {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 40px;
  top: 20px;
  background: url(./img/cancelBlack.svg) no-repeat;
  background-position: center;
  background-size: 20px;
  z-index: 2;
  cursor: pointer;
}
.header {
  height: 60px;
  background: #f9f9f9;
  color: #000;
  font-size: 20px;
  line-height: 60px;
  padding: 0 40px 0px 20px;
  top: 0px;
  font-family: semibold;
}
.dataHolder {
  width: 100%;
  height: auto;
  padding: 30px 45px;
}
.subHeader {
  font-size: 13px;
  width: 100%;
  height: auto;
  font-family: semibold;
}
.subHeaderDetail {
  font-size: 12px;
  width: 100%;
  height: auto;
  font-family: light;
  line-height: 30px;
  text-align: center;
}
.inputDetails {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0px 30px;
}
.input {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 15px 0px;
}
.oldPassword {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 20px;
}
.buttonHolder {
  padding-top: 30px;
  width: 100%;
  height: auto;
  display: inline-block;
}
.cancelButtonHolder {
  width: auto;
  height: auto;
  float: left;
  margin: auto;
}
.continueButtonHolder {
  width: auto;
  height: auto;
  float: right;
}
