.base {
  width: auto;
  position: relative;
  user-select: none;
  padding-bottom: 5px;
  color: #212121;
  font-size: 14px;
  font-family: regular;
}
@media screen and (min-width: 1025px) {
  .base {
    color: #8d8d8d;
    font-family: semibold;
    cursor: pointer;
  }
}
