.base {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background: #212121;
  transition: 200ms;
  transform: translate3d(0, 0, 0);
}
.CheckoutHeader {
  composes: base;
  height: 75px;
}
.dummyColorHeader {
  width: 30%;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background: #000000;
  z-index: 0;
}
.headerHolder {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding-left: 185px;
  position: relative;
  z-index: 1;
}
.headerFunctionality {
  width: 100%;
  height: auto;
  float: left;
}
.logoHolder {
  width: 85px;
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./img/group.svg) no-repeat;
  background-size: auto 40px;
  background-position: center;
  cursor: pointer;
  transition: 200ms;
}
.logoHolderWithoutPointer {
  width: 85px;
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./img/group.svg) no-repeat;
  background-size: auto 40px;
  background-position: center;
  transition: 200ms;
}
.upperHeader {
  width: 100%;
  height: 40px;
  float: left;
  background: #000000;
  padding: 0px 0px 0px 20px;
}
.luxeryTab {
  width: auto;
  height: 100%;
  float: left;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  font-family: semibold;
  cursor: pointer;
}
.loginAndTrackTab {
  width: auto;
  height: 100%;
  float: right;
}
.loginTab {
  width: auto;
  height: 100%;
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  font-family: semibold;
  padding-left: 30px;
  cursor: pointer;
}
.lowerHeader {
  width: 100%;
  height: 60px;
  float: left;
  position: relative;
}
.leftTabHolder {
  width: auto;
  height: 100%;
  float: left;
  display: flex;
}
.rightTabHolder {
  width: auto;
  height: 100%;
  float: right;
  padding: 15px 0px;
}
.myBagShow {
  width: auto;
  height: 30px;
  position: relative;
  color: #fff;
  font-size: 14px;
  font-family: semibold;
  line-height: 33px;
  background: url(./img/orderhistorywhite.svg) no-repeat;
  background-size: auto 18px;
  background-position: left center;
  padding-left: 30px;
  float: right;
  margin-left: 25px;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1);
}
.mybag {
  width: 362px;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #ffffff;
  box-shadow: -1px 1px 5px 0 #bdbdbd;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.mybag::after,
.mybag::before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.mybag::before {
  top: -29px;
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #bdbdbd;
  border-width: 15px;
  right: 6px;
}
.mybag::after {
  top: -25px;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 13px;
  right: 8px;
}
.bagArrow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #212121;
}
.mybagHeading {
  padding: 10px 0 10px;
  border: 1px solid #efefef;
  border-top: none;
  font-family: semibold;
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
  text-align: center;
  background-color: #ffffff;
}
.mybagProductsContainer,
.totalAmount {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
.mybagImage,
.mybagProductInformation,
.informationTextWithBolder > div,
.productVariantsHolder > div {
  display: inline-block;
  vertical-align: top;
}
.mybagImage {
  width: 58px;
  font-size: 10px;
  line-height: 14px;
}
.mybagImage img {
  width: 100%;
}
.mybagProductInformation {
  width: 260px;
  padding-left: 20px;
}
.mybagProductCard,
.mybagProductCardShort {
  padding: 15px 20px;
  border-bottom: 1px solid #efefef;
  background-color: #ffffff;
}
.mybagProductCard:last-child {
  height: 30px;
  border-bottom: none;
  overflow: hidden;
}
.productTitle {
  margin: 0 0 5px;
  font-family: light;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: normal;
  color: #212121;
}
.informationTextWithBolder {
  margin: 0 0 5px;
  font-family: regular;
}
.productVariantsHolder {
  font-family: light;
}
.informationTextWithBolder,
.productVariantsHolder {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: normal;
  color: #212121;
}
.informationTextWithBolder > div {
  margin: 0 7px 0 0;
}
.strikemrp {
  text-decoration-line: line-through;
  color: #6c6c6c;
}
.informationTextWithBolder .discount {
  color: #ff1744;
}
.productVariantsHolder > div {
  padding: 0 0 0 12px;
  border-left: 1px solid #fff;
}
.productVariantsHolder > div:first-child {
  padding: 0 12px 0 0;
  border: none;
}
.totalAmount {
  padding: 15px 20px;
  line-height: 20px;
  background-color: #ffffff;
  color: #212121;
}
.totalAmount > span {
  float: right;
}
.viewBagButtonHolder {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  border: 1px solid #efefef;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
.buttonViewBag {
  width: auto;
  height: auto;
  display: inline-block;
}
.mywishList {
  width: auto;
  height: 30px;
  background: url(./img/downloadWhite.svg) no-repeat;
  background-size: auto 18px;
  background-position: 10px 8px;
  cursor: pointer;
  float: right;
  transition: 300ms;
  transform: scale(1);
  position: relative;
  padding: 0px 26px 0px 10px;
}
.listCount {
  width: auto;
  height: 15px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: semibold;
}
.mywishList:hover {
  transform: scale(1.2);
}
.searchHolder {
  width: auto;
  height: 100%;
  float: right;
}
.searchWrapper {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  float: left;
}
.categoryAndBrand {
  width: auto;
  height: auto;
  color: #fff;
  padding-right: 30px;
  line-height: 60px;
  margin-right: 25px;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-family: semibold;
  display: flex;
  position: relative;
  padding-left: 15px;
}
.categoryAndBrandWithArrow {
  composes: categoryAndBrand;
  color: #000;
  background: #fff;
}
.arrow {
  background-size: auto 12px;
  background-position: right center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0;
  margin: auto;
  background: url(./img/down-arrow-white.svg) no-repeat;
  background-size: auto 13px;
  transition: 300ms;
  background-position: center;
  transform: rotate(0);
}
.downArrow {
  background-size: auto 12px;
  background-position: right center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./img/down-arrow.svg) no-repeat;
  background-size: auto 13px;
  transition: 300ms;
  background-position: center;
  transform: rotate(180deg);
}
.profileWonerHolder {
  width: auto;
  height: 100%;
  float: right;
  padding: 25px 0px;
}
.userDetails {
  composes: profileWonerHolder;
  padding: 7.5px 0px;
  margin-left: 25px;
  position: relative;
}
.dropDownArrow {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  background: url(./img/down-arrow-white.svg) no-repeat;
  background-size: auto 12px;
  background-position: center;
}
.logOutDropDown {
  width: 178px;
  height: auto;
  background: #fff;
  right: 0;
  top: 33px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  z-index: 1;
  transition: 300ms;
  box-shadow: 0 6px 6px 0 rgba(156, 156, 156, 0.24),
    0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.logOutDropDown::after {
  content: "";
  position: absolute;
  top: -6%;
  right: 7%;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: rotate(180deg);
}
.logoutButton {
  width: auto;
  height: 36px;
  display: flex;
}
.nameAndContact {
  width: auto;
  height: 25px;
  float: left;
  position: relative;
  padding: 0px 25px 0px 35px;
  color: #fff;
  font-size: 13px;
  font-family: light;
  line-height: 25px;
  cursor: pointer;
}
.signInAndLogout {
  width: auto;
  height: 100%;
  position: relative;
  float: right;
}
.signInAndLogout:hover .logOutDropDown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.nameSpan {
  font-family: semibold;
  padding-right: 10px;
}
.iconPersonHolder {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: #fff url(./img/profile.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.categoriesHolder {
  min-width: 1013px;
  width: 100%;
  position: absolute;
  height: 490px;
  background: #fff;
  top: 60px;
  padding: 20px;
  display: flex;
  border-radius: 0px 0px 4px 4px;
  left: 0;
  box-shadow: 0 6px 6px 0 rgba(156, 156, 156, 0.24),
    0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.categoryDetails {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.categoryDetailsValue {
  width: 100%;
  height: auto;
  line-height: 60px;
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
  font-size: 14px;
  font-family: semibold;
  display: flex;
  color: #8d8d8d;
  cursor: pointer;
}
.categoryDetailsValue:last-child {
  border-bottom: none;
}
.categoryDetailsValueWithArrow {
  width: 100%;
  height: auto;
  line-height: 60px;
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
  font-size: 14px;
  font-family: semibold;
  display: flex;
  color: #000;
  cursor: pointer;
  padding-right: 25px;
  position: relative;
}
.categoryDetailsValueWithArrow:last-child {
  border-bottom: none;
}
.rightArrow {
  background-size: auto 12px;
  background-position: right center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./img/down-arrow-grey.svg) no-repeat;
  background-size: auto 13px;
  background-position: center;
  transform: rotate(275deg);
}
.subCategoryDetailsHolder {
  width: 80%;
  height: auto;
  display: flex;
  padding-left: 45px;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
}
.subCategoryDetailsHeader {
  width: 25%;
  vertical-align: top;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.subCategoryDetailsValues {
  width: 25%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  line-height: 30px;
  color: #8d8d8d;
  cursor: pointer;
}
.subCategoryDetailsValues:hover {
  color: #ff1744;
}
.brandDetailsHolder {
  min-width: 1013px;
  width: 100%;
  position: absolute;
  height: 490px;
  background: #fff;
  top: 60px;
  display: flex;
  border-radius: 0px 0px 4px 4px;
  left: -143px;
  box-shadow: 0 6px 6px 0 rgba(156, 156, 156, 0.24),
    0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.brandLeftDetails {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0px 20px 20px;
}
.subBrandsDetailsHolder {
  width: 50%;
  height: auto;
  display: flex;
  padding-left: 45px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}
.featureBrands,
.popularBrands {
  width: 50%;
  height: auto;
  max-height: 490px;
  overflow: hidden;
}
.brandsHeader {
  width: auto;
  vertical-align: top;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.brandsDetails {
  width: auto;
  vertical-align: top;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.brandsDetails:hover {
  color: #ff1744;
}
.subBrandsLogoHolder {
  width: 30%;
  height: auto;
  background-color: #f9f9f9;
  padding: 30px;
}
.brandLogoDetails {
  width: 50%;
  height: auto;
  padding: 15px 10px;
  float: left;
}
.stickyBase {
  composes: base;
  top: -40px;
  transform: translate3d(0, 0, 0);
}
.stickyLogo {
  composes: logoHolder;
  height: 50px;
  margin: initial;
  top: 45px;
  background-size: auto 30px;
}
.cartCount {
  color: #ffffff;
  width: 20px;
  font-size: 11px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background-color: #ff1744;
  right: -2px;
  top: 0px;
}
.exchangeProductDetailsContainer {
  line-height: normal;
  margin-top: 5px;
  background-color: #f8f8f8;
  padding: 5px;
}
.exchangeIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.exchangeProductDetails {
  padding-left: 5px;
  font-size: 12px;
  font-family: regular;
  color: #212121;
}
.fontLight {
  font-family: light;
}
