.base {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background: #212121;
  transition: 200ms;
  transform: translateZ(-1px);
}
.CheckoutHeader {
  composes: base;
  height: 75px;
}
.dummyColorHeader {
  width: 30%;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background: #000000;
}
.headerHolder {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding-left: 185px;
  position: relative;
}
.headerFunctionality {
  width: 100%;
  height: auto;
  float: left;
}
.logoHolder {
  width: 85px;
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./img/group.svg) no-repeat;
  background-size: auto 40px;
  background-position: center;
  cursor: pointer;
  transition: 200ms;
}
.upperHeader {
  width: 100%;
  height: 40px;
  float: left;
  background: #000000;
  padding: 0px 0px 0px 20px;
}
.luxeryTab {
  width: auto;
  height: 100%;
  float: left;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  font-family: semibold;
  cursor: pointer;
}
.loginAndTrackTab {
  width: auto;
  height: 100%;
  float: right;
}
.loginTab {
  width: auto;
  height: 100%;
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  font-family: semibold;
  padding-left: 30px;
  cursor: pointer;
}
.lowerHeader {
  width: 100%;
  height: 60px;
  float: left;
  position: relative;
}
.leftTabHolder {
  width: auto;
  height: 100%;
  float: left;
  display: flex;
}
.rightTabHolder {
  width: auto;
  height: 100%;
  float: right;
  padding: 15px 0px;
}
.myBagShow {
  width: auto;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-family: semibold;
  line-height: 33px;
  background: url(./img/orderhistorywhite.svg) no-repeat;
  background-size: auto 18px;
  background-position: left center;
  padding-left: 30px;
  float: right;
  margin-left: 25px;
  cursor: pointer;
  transition: 300ms;
  transform: scale(1);
}
.myBagShow:hover {
  transform: scale(1.4);
}
.mywishList {
  width: 30px;
  height: 30px;
  background: url(./img/downloadWhite.svg) no-repeat;
  background-size: auto 18px;
  background-position: center 8px;
  cursor: pointer;
  float: right;
  transition: 300ms;
  transform: scale(1);
}
.mywishList:hover {
  transform: scale(1.4);
}
.searchHolder {
  width: auto;
  height: 100%;
  float: right;
}
.searchWrapper {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  float: left;
}
.categoryAndBrand {
  width: auto;
  height: auto;
  color: #fff;
  padding-right: 30px;
  line-height: 60px;
  margin-right: 25px;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-family: semibold;
  display: flex;
  position: relative;
  padding-left: 15px;
}
.categoryAndBrandWithArrow {
  composes: categoryAndBrand;
  color: #000;
  background: #fff;
}
.arrow {
  background-size: auto 12px;
  background-position: right center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0;
  margin: auto;
  background: url(./img/down-arrow-white.svg) no-repeat;
  background-size: auto 13px;
  transition: 300ms;
  background-position: center;
  transform: rotate(0);
}
.downArrow {
  background-size: auto 12px;
  background-position: right center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./img/down-arrow.svg) no-repeat;
  background-size: auto 13px;
  transition: 300ms;
  background-position: center;
  transform: rotate(180deg);
}
.profileWonerHolder {
  width: auto;
  height: 100%;
  float: right;
  padding: 25px 0px;
}
.userDetails {
  composes: profileWonerHolder;
  padding: 7.5px 0px;
  margin-left: 25px;
  position: relative;
}
.dropDownArrow {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  background: url(./img/down-arrow-white.svg) no-repeat;
  background-size: auto 12px;
  background-position: center;
}
.logOutDropDown {
  width: 178px;
  height: auto;
  padding: 20px 15px 15px 20px;
  background: #fff;
  right: 0;
  top: 33px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  z-index: 1;
  transition: 300ms;
  box-shadow: 0 6px 6px 0 rgba(156, 156, 156, 0.24),
    0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.logOutDropDown::after {
  content: '';
  position: absolute;
  top: -6%;
  right: 7%;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: rotate(180deg);
}
.logoutButton {
  width: auto;
  height: 36px;
  display: flex;
}
.nameAndContact {
  width: auto;
  height: 25px;
  float: left;
  position: relative;
  padding: 0px 25px 0px 35px;
  color: #fff;
  font-size: 13px;
  font-family: light;
  line-height: 25px;
  cursor: pointer;
}
.signInAndLogout {
  width: auto;
  height: 100%;
  position: relative;
  float: right;
}
.signInAndLogout:hover .logOutDropDown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.nameSpan {
  font-family: semibold;
  padding-right: 10px;
}
.iconPersonHolder {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: #fff url(./img/profile.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.categoriesHolder {
  min-width: 1013px;
  width: 100%;
  position: absolute;
  height: 490px;
  background: #fff;
  top: 60px;
  padding: 20px;
  display: flex;
  border-radius: 0px 0px 4px 4px;
  left: 0;
  box-shadow: 0 6px 6px 0 rgba(156, 156, 156, 0.24),
    0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.categoryDetails {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.categoryDetailsValue {
  width: 100%;
  height: auto;
  line-height: 60px;
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
  font-size: 14px;
  font-family: semibold;
  display: flex;
  color: #8d8d8d;
  cursor: pointer;
}
.categoryDetailsValue:last-child {
  border-bottom: none;
}
.categoryDetailsValueWithArrow {
  width: 100%;
  height: auto;
  line-height: 60px;
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
  font-size: 14px;
  font-family: semibold;
  display: flex;
  color: #000;
  cursor: pointer;
  padding-right: 25px;
  position: relative;
}
.categoryDetailsValueWithArrow:last-child {
  border-bottom: none;
}
.rightArrow {
  background-size: auto 12px;
  background-position: right center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(./img/down-arrow-grey.svg) no-repeat;
  background-size: auto 13px;
  background-position: center;
  transform: rotate(275deg);
}
.subCategoryDetailsHolder {
  width: 80%;
  height: auto;
  display: flex;
  padding-left: 45px;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
}
.subCategoryDetailsHeader {
  width: 25%;
  vertical-align: top;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.subCategoryDetailsValues {
  width: 25%;
  height: auto;
  font-family: regular;
  font-size: 14px;
  line-height: 30px;
  color: #8d8d8d;
  cursor: pointer;
}
.subCategoryDetailsValues:hover {
  color: #ff1744;
}
.brandDetailsHolder {
  min-width: 1013px;
  width: 100%;
  position: absolute;
  height: 490px;
  background: #fff;
  top: 60px;
  display: flex;
  border-radius: 0px 0px 4px 4px;
  left: -143px;
  box-shadow: 0 6px 6px 0 rgba(156, 156, 156, 0.24),
    0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.brandLeftDetails {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0px 20px 20px;
}
.subBrandsDetailsHolder {
  width: 50%;
  height: auto;
  display: flex;
  padding-left: 45px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}
.featureBrands,
.popularBrands {
  width: 50%;
  height: auto;
  max-height: 490px;
  overflow: hidden;
}
.brandsHeader {
  width: auto;
  vertical-align: top;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.brandsDetails {
  width: auto;
  vertical-align: top;
  height: auto;
  font-family: light;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.brandsDetails:hover {
  color: #ff1744;
}
.subBrandsLogoHolder {
  width: 30%;
  height: auto;
  background-color: #f9f9f9;
  padding: 30px;
}
.brandLogoDetails {
  width: 50%;
  height: auto;
  padding: 15px 10px;
  float: left;
}
.stickyBase {
  composes: base;
  transform: translateY(-40px) translateZ(-1px);
}
.stickyLogo {
  composes: logoHolder;
  height: 50px;
  margin: initial;
  transform: translateY(45px);
  background-size: auto 30px;
}
