.contentHolder {
  width: 100%;
  height: auto;
  background: #fff;
}
.linkAndSuscribeHolder {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: auto;
  padding: 45px 0px;
  display: flex;
  flex-direction: row;
}
.linkHolder {
  width: 60%;
  height: auto;
  display: flex;

  flex-wrap: wrap;
}
.newsLetterSection {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.newsLetterHeading {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  font-family: semibold;
  margin-bottom: 20px;
}
.linkSection {
  width: 33.33%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.linkHeader {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 14px;
  font-family: semibold;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.buttonAndTextBoxHolder {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.textBoxHolder {
  width: 50%;
  height: 33px;
  display: flex;
}
.buttonHolder {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}
.button {
  width: auto;
  height: auto;
  display: flex;
}
.link {
  width: 100%;
  height: auto;
  color: #212121;
  font-size: 13px;
  font-family: light;
  margin-bottom: 15px;
  cursor: pointer;
}
.footerBottomHolder {
  width: 100%;
  height: 100px;
  background: #f9f9f9;
}
.socialLinkAndLogoHolder {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;

  display: flex;
  flex-direction: row;
}
.socialIconHolder {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.downLoadAppHolder {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.downLoaAppText {
  width: auto;
  height: auto;
  color: #000;
  font-size: 14px;
  font-family: regular;
  display: flex;
  margin-right: 15px;
}
.appIconHolder {
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}
.socialIcon {
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 10px;
}
.companyLogo {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.copyRightText {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #212121;
  font-size: 14px;
  font-family: light;
}
.footerData {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  color: #000;
  font-size: 14px;
  font-family: regular !important;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footerDataPlp {
  width: 50%;
  margin-left: 12%;
  color: #000;
  font-size: 14px;
  font-family: regular !important;
  line-height: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.footerDataPlpNull {
  width: 77%;
  margin-left: 13%;
  color: #000;
  font-size: 14px;
  font-family: regular !important;
  line-height: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.footerDataWrapper {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.footerData a {
  text-decoration: underline;
}
.footerData [style] {
  font-family: regular !important;
}

.desktopFooterProductListWrapper {
  width: 30%;
  height: auto;
  display: inline-block;
  margin-left: 55px;
  margin-bottom: 60px;
  vertical-align: top;
}
.desktopFooterProductListWrapperNull {
  display: none;
}
.popularSearches {
  margin-top: 30px;
}
.seoPagetitle {
  text-indent: -99999px;
  position: absolute;
  height: 0;
}
