.contentHolder {
  width: 100%;
  height: auto;
  font-size: 14px;
  background: #fff;
  max-width: 1600px;
  margin: auto;
}

.contentHolder h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: semibold;
  margin-top: 0px;
}
.contentHolder h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: semibold;
  margin-top: 0px;
}
.contentHolder p {
  padding-bottom: 5px;
}

.contentHolder strong {
  font-family: semibold;
}
.contentHolder ul {
  width: auto;
  height: auto;
  line-height: 25px;
}
.contentHolder .right {
  width: auto;
  height: auto;
  float: right;
}
.contentHolder li {
  font-family: light;
}
