.base {
  width: 100%;
  height: auto;
}
.menuHolder {
  width: 100%;
  height: 25px;
  position: relative;
  padding-left: 30px;
  color: #212121;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}
.menuIconProfile {
  width: 25px;
  height: 25px;
  background: url(./img/profile.png) no-repeat;
  background-size: auto 25px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
.menuIconOrder {
  width: 25px;
  height: 25px;
  background: url(./img/order-history.svg) no-repeat;
  background-size: auto 16px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
.menuIconWishList {
  width: 25px;
  height: 25px;
  background: url(./img/download.svg) no-repeat;
  background-size: auto 16px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
.menuIconWishLisAlerts {
  width: 25px;
  height: 25px;
  background: url(../../account/components/img/alert.svg) no-repeat;
  background-size: auto 16px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
.menuIconGiftCard {
  width: 25px;
  height: 25px;
  background: url(../../account/components/img/giftCards.svg) no-repeat;
  background-size: auto 14px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
.menuIconCliqCash {
  width: 25px;
  height: 25px;
  background: url(../../account/components/img/cliqCash.svg) no-repeat;
  background-size: auto 20px;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
.loginAndRegisterButtonHolder {
  width: 100%;
  height: auto;
  display: inline-block;
  cursor: pointer;
  padding-top: 20px;
  text-align: center;
}
.loginAndRegisterButton {
  display: inline-block;
  width: auto;
  height: auto;
}
.accountHolder {
  width: 100%;
  height: auto;
  padding: 20px 15px 15px 20px;
}
