.base {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.gridHolder {
    width: 100%;
    height: auto;
}
.element {
    display: inline-block;
    vertical-align: top;
}

.displayFlex {
    display: flex;
}
.displayInline {
    display: inline;
}

.electronicViewElement {
    display: inline;
}
