.base {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 5px 0px 5px 55px;
  display: inline-block;
  position: relative;
}
.baseNoPadding {
  composes: base;
  padding: 5px 0px 5px 0px;
}
.textHolder {
  width: 100%;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
}
.iconHolder {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  .textHolder {
    font-size: 13px;
  }
  .base {
    background-color: unset;
  }
  .labelHolder {
    width: 100%;
    height: auto;
    color: rgb(33, 33, 33);
    font-size: 14px;
    line-height: 20px;
    font-family: light;
  }
  .labelHolderBold {
    composes: labelHolder;
    font-family: semibold;
  }
  .spanBlock {
    width: 100%;
    height: auto;
    color: rgb(33, 33, 33);
    font-size: 14px;
    font-family: regular;
    line-height: 20px;
  }
  .span {
    width: 100%;
  }
  .storeCount {
    width: 100%;
    height: auto;
    color: rgb(255, 23, 68);
    font-size: 14px;
    font-family: semibold;
    cursor: pointer;
  }
}
