.base {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.leftSection {
  width: 50%;
  height: auto;
  display: flex;
  padding-right: 10px;
}
.rightSection {
  width: 50%;
  height: auto;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
}
.rowFirst {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.smallCardHolder {
  width: 50%;
  height: auto;
  display: flex;
}
.rowFirst:nth-child(1) {
  padding-bottom: 10px;
}
.rowFirst:nth-child(2) {
  padding-top: 10px;
}
.smallCardHolder:nth-child(1) {
  padding: 0px 10px 0px 0px;
}
.smallCardHolder:nth-child(2) {
  padding: 0px 0px 0px 10px;
}
