.base {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  min-height: calc(100vh - 50px);
  padding: 50px 10px;
  overflow-y: auto;
}
.text {
  font-size: 28px;
  font-family: semibold;
  padding: 10px 10px 0px 10px;
  text-align: center;
}
.subText {
  font-size: 18px;
  color: rgb(74, 74, 74);
  font-family: light;
  padding: 7px 10px 35px 10px;
  text-align: center;
}
.pancarddetailsHolder {
  width: 584px;
  height: auto;
  margin: 0 auto;
  background: #fff;
  padding: 33px;
  border-radius: 4px;
}
.orderText {
  color: rgb(74, 74, 74);
  font-size: 15px;
  font-family: regular;
  padding: 5px 0px 5px 0px;
  width: 50%;
  display: inline-block;
}
.orderText:nth-child(2){
  text-align: right;
}
.pancard {
  padding: 35px 0px 10px 0px;
  font-family: semibold;
  text-align: center;
  font-size: 24px;
}
.subdetails {
  text-align: center;
  font-family: light;
  font-size: 14px;
  width: 400px;
  padding: 0px 30px;
}
.inputHolder {
  width: 200px;
  text-align: center;
  height: auto;
  margin-top: 17px;
  border: 1px;
  border-style: solid;
  border-color: #e6e6e6;
}
.inputHolderError {
  width: 200px;
  text-align: center;
  height: auto;
  margin-top: 17px;
  border: 1px;
  border-color: rgb(255, 23, 68);
  border-style: solid;
}
.uploadPancardMessage {
  text-align: center;
  font-family: light;
  font-size: 14px;
  padding: 40px 0px 5px 0px;
}
.uploadSubText {
  text-align: center;
  font-family: regular;
  font-size: 10px;
}
.pancardHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.uploadimageButton {
  padding: 20px 0 30px 0;
  position: relative;
  height: auto;
  text-transform: capitalize;
}
.uploadimageButton > div{
  border: 1px dashed rgb(33, 33, 33) !important;
  padding: 0 35px 0 15px;
  justify-content: flex-end;
}
.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.file {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}
.showerror {
  font-size: 10px;
  color: rgb(255, 23, 68);
  padding: 6px 0px 16px 0px;
  font-family: light;
}
.image {
  height: 70px;
  width: 63px;
  margin: 18px 0px;
  position: relative;
}
.cancel {
  width: 20px;
  height: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -15px;
  right: 0;
}
.buttonCover {
  width: auto;
  height: auto;
  display: flex;
}
.buttonCoverDisabled {
  composes: buttonCover;
  pointer-events: none;
  opacity: 0.5;
}
.uploadIcon{
  position: absolute;
  top: 32px;
  left: 30px;
}