.base {
  width: 100%;
}
.whiteBase {
  width: 100%;
  background: #fff;
}
.electronicsBase {
  width: 100%;
  background-color: #fff;
}
.imageHolder {
  width: 100%;
  height: auto;
  position: relative;
}
.aTag {
  pointer-events: none;
}
.content {
  margin-top: 20px;
}
.contentAutoWidget {
  padding-top: 20px;
  /* background: #fff; */
  padding-left: 18px;
  font-size: 18px;
}
.ListimageHolder {
  composes: imageHolder;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.Listcontent {
  width: 70%;
  display: inline-block;
  padding: 0 0 0 20px;
}
.flagHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.imageAndDescriptionWrapper {
  width: 100%;
  height: auto;
}
.electronicImageAndDescriptionWrapper {
  width: 100%;
  height: auto;
  content: "";
  display: table;
  clear: both;
}
.productFeatureHolder {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
}
.productFeature {
  width: auto;
  max-width: 100%;
  height: auto;
  color: #212121;
  font-size: 12px;
  text-align: left;
  background: #e1e1e1;
  padding: 10px 25px;
  border-radius: 2px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 10px;
  font-family: light;
}

.sizesBlock {
  position: absolute;
  left: 20px;
  font-size: 14px;
  width: 100px;
  height: 80px;
  z-index: 1;
  font-family: regular;
  display: table;
  color: rgb(74, 74, 74);
 }

 .topGrid{
  top: 196px;
 }

 .topList{
  top: 296px;
 }

.sizesBlockContent {
display: table-cell;
vertical-align: bottom;
}

.variantString {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  padding: 1px 3px;
  border-radius: 5px;
  margin: 0 0 2px;
}
.variantString:last-child {
  margin: 0;
}


@media screen and (min-width: 1025px) {
  .base {
    cursor: pointer;
    position: relative;
  }
  .whiteBase {
    cursor: pointer;
    position: relative;
    background: #fff;
  }
  .imageHolder {
    transform: scale(1);
    transition: 300ms;
  }
  .base:hover .imageHolder {
    transform: scale(1.03);
    overflow: hidden;
  }
  .whiteBase:hover .imageHolder {
    transform: scale(1.03);
    overflow: hidden;
  }
  .dummyDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .ListimageHolder {
    width: 100%;
  }
  .ElectronicListimageHolder {
    width: 30%;
    float: left;
    position: relative;
  }
  .Listcontent {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .electronicViewContent {
    padding: 15px 15px 0px 10px;
    float: left;
    width: 70%;
  }
  .dummyDiv a {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.display4by4 {
  cursor: pointer;
  position: absolute;
  top: 260px;
  right: 20px;
  z-index: 1;
}
.display3by3 {
  cursor: pointer;
  position: absolute;
  top: 358px;
  right: 20px;
  z-index: 1;
}
.electronicViewButton {
  cursor: pointer;
  position: absolute;
  top: 6%;
  z-index: 1;
  left: 28%;
}
