.base {
  width: 100%;
  height: auto;
}
.totalNoOfReviews {
  color: #797979;
  font-size: 12px;
  font-family: regular;
}
.bestDeliveryInfo {
  width: 100%;
  height: auto;
  color: #181818;
  font-size: 12px;
  font-family: regular;
  line-height: 20px;
}
.date {
  font-family: semibold;
}
.offerText {
  composes: bestDeliveryInfo;
  line-height: 25px;
}
.textWrapper {
  composes: base;
  padding-bottom: 5px;
}
.exchangeIconLight{
  width: 15px;
  margin-right: 2px;
}
.exchangeCashback{
  display: inline-block;
  vertical-align: text-top;
  line-height: 1.5;
  font-family: semibold;
  font-size: 11px;
}