.base {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-family: light;
	position: relative;
	border-radius: 4px;
	border: 1px solid #d2d2d2;
	/* overflow-x: hidden; */
	color: black;
}
.hideSelect {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.arrow {
	width: 12px;
	height: 12px;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	pointer-events: none;
}
.visibleBox {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 10px;
	pointer-events: none;
	text-align: left;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hollowBox {
	composes: base;
	border: none;
}
.blackBox {
	composes: base;
	border: 1px solid #212121;
}
.disabled {
	composes: base;
	opacity: 0.5;
	pointer-events: none;
}
.disabledBlack {
	composes: blackBox;
	opacity: 0.5;
	pointer-events: none;
}
.disabledHollow {
	composes: hollowBox;
	opacity: 0.5;
	pointer-events: none;
}
.selectOptions{
  /* background-color:#e5e5e5;
  color: #6c6c6c; */
  font-size: 15px;
  text-transform: capitalize;
}

/*---select tag css starts---*/
/*---minify below css and add in customSelectDropdown.js---*/

/* #customSelect1,#customSelect2 {
  position: relative;
}

#customSelect1 select,#customSelect2 select {
  display: none;
}

.select-selected {
	background-color:#ffffff;
	border: 1px solid #d5d5d5;
}

.select-selected.select-arrow-active{
	border-bottom: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
	border: solid #6c6c6c;
	border-width: 0 1px 1px 0;
	padding: 4px;
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.select-selected.select-arrow-active:after {
  top: 10px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-items div,.select-selected {
  color: #6c6c6c;
  cursor: pointer;
  user-select: none;
}

.select-items div{
	padding: 0px 5px;
}

.select-selected{
	padding: 0px 20px;
}

.select-items div:not(:last-child){
	border-bottom: 1px solid #d5d5d5;
}

.select-items {
  width: 100%;
	padding: 0px 15px;
	position: absolute;
	background-color: #fff;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	border: 1px solid #d5d5d5;
	border-top: none;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
	font-family: semibold;
} */
/*---select tag css starts---*/
