.base {
  width: 100%;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 40px;
  transform: translateX(100%);
  animation: slideIn 200ms forwards;
  background: rgba(0, 0, 0, 0.4);
}
.cancel {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(./img/cancel.svg) no-repeat;
  background-position: center;
  background-size: 25px;
}
.content {
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: auto;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media only screen and (min-width: 1025px) {
  .base {
    width: 461px;
    max-width: 25%;
    height: auto;
    max-height: 67%;
    background: #fff;
    padding: 0;
    transform: translateY(100%);
    animation: slideUp 200ms forwards;
    opacity: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: initial;
  }
  .cancel {
    left: initial;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url(./img/cancelBlack.svg) no-repeat;
    background-position: center;
    background-size: 25px;
    z-index: 5;
  }
  .couponHeader {
    line-height: 60px;
    z-index: initial;
  }
  .content {
    max-height: 100%;
  }
}
