.base {
    width: auto;
    height: 22px;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    position: relative;
}

.baseActive {
    width: auto;
    height: 22px;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    position: relative;
    background-color: #da1c5c;
}
.baseActiveDisable {
    width: auto;
    height: 22px;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    position: relative;
    background-color: #da1c5c;
    opacity: 0.5;
}

.toggleActive {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 0%;
    top: 1px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
}
.toggleInActive {
    composes: toggleActive;
    right: calc(100% - 19px);
    background: #bbbbbb;
}
.toggleDisabled {
    composes: base;
    pointer-events: none;
    opacity: 0.5;
}
