.container {
    width: 100%;
    display: inline-block;
    max-width: 1200px;
    text-align: left;
    position: relative;
    margin-bottom: 50px;
}

.base {
    width: 100%;
    height: auto;
}
.holder {
    width: 100%;
    transition: 300ms;
    position: relative;
    padding-right: 30px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-image: url("../../../components/img/arrow.svg");
    position: absolute;
    background-size: auto 14px;
    background-repeat: no-repeat;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-position: center;
    transition: 300ms;
    transform: rotate(-90deg);
}
.iconup {
    composes: icon;
    transform: rotate(90deg);
}
.htw-component {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 4px;
    padding: 52px 75px 48px;
    -webkit-border-radius: 4px;
}

.htw-component-hide-padding {
    padding: 52px 75px 10px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.htw-heading {
    font-family: "Rubik", sans-serif;
    color: rgb(33, 33, 33);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 0 13px 32px;
    text-align: left;
    transition: 300ms;
    height: auto;
}

.htw-sections {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 13px 0;
    height: 65vh;
}

.embed-video {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.react-player__play-icon {
    display: none;
}
