.container {
  width: 100%;
  display: inline-block;
  max-width: 1200px;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
  /**margin: 50px auto;
 background-color: grey;**/
}

.ratingReviewComponent {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 4px;
  padding: 52px 75px 52px;
  -webkit-border-radius: 4px;
}

.reviewsHeading {
  font-size: 16px;
  line-height: 16px;
  font-family: regular;
  font-weight: 300;
}

.detailsCard {
  width: 100%;
  background: #fff;
  padding: 20px 40px;
  border-radius: 4px;
}

.detailsCard:empty {
  display: none;
}

.reviewsHolder {
  composes: detailsCard;
  margin-top: 60px;
  padding-top: 40px;
}

.reviewsHeader {
  width: 100%;
  font-size: 20px;
  color: #212121;
  font-family: semibold;
  margin-bottom: 10px;
  position: relative;
}

.reviewsButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.reviewListHolder {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}
.ratingTextContainer {
	display: flex;
	align-items: center;
}
.ratingText {
	font-family: regular;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
	color: #212121;
}

.starPLPElectronics {
  margin: 0 12px 0 10px;
}

.ratingLabel {
  margin: 0 6px;
  font-weight: 500;
  font-family: semibold;
}

.labelText {
  font-family: regular;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #4d4d4d;
  font-family: light;
}
