.labelText {
	font-size: 14px;
	color: #6c6c6c;
	font-family: light;
}

.ratingLabel {
	margin: 0 6px;
	font-family: regular;
}

.labelTextOther {
	font-size: 14px;
	color: #6c6c6c;
	font-family: light;
	width: 150px;
}
