/*** Story Component ****/
.container {
  width: 100%;
  display: inline-block;
  max-width: 1200px;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.base {
  width: 100%;
  height: auto;
}
.holder {
  width: 100%;
  transition: 300ms;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-image: url("../../../components/img/arrow.svg");
  position: absolute;
  background-size: auto 14px;
  background-repeat: no-repeat;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center;
  transition: 300ms;
  transform: rotate(-90deg);
}
.iconup {
  composes: icon;
  transform: rotate(90deg);
}

.details-component {
  border: 1px solid rgb(213, 213, 213);
  padding: 52px 75px 48px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.details-component-hide-padding {
  padding: 52px 75px 10px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.details-heading {
  font-family: "Rubik", sans-serif;
  color: rgb(33, 33, 33);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  margin: 0 13px 32px;
}
/*** Story Component Ends****/