/***Image Gallery***/
.image-gallery-Block {
  margin-top: 20px;
  display: block;
  z-index: -20;
}

.image-gallery-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.image-gallery-list-block {
  margin: 0 0 10px 10px;
  width: 48%;
}

.image-gallery-list-block-link {
  display: block;
}

.image-gallery-img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
/****Image Gallery End***/
