/***Image Gallery***/
.image-gallery-list {
  list-style-type: none;
  display: block;
  margin-left: -10px;
}

.image-gallery-list-block {
  display: block;
  margin: 0 0 10px 10px;
  float: left;
}

.image-gallery-list-block-link {
  display: block;
}
/****Image Gallery End***/
